.footer {
  font-size: 12px;
  line-height: 17px;
  background-color: #ECECEC;

  @include media-breakpoint-up(xl) {
    font-size: 14px;
  }
  &__logo {
    display: block;
    width: 132px;
    height: 40px;
    margin-bottom: 46px;

    @include media-breakpoint-up(md) {
      //margin-bottom: 55px;
      margin-bottom: 50px;
    }
    @include media-breakpoint-up(xl) {

      width: 150px;
      height: 45px;
      margin-bottom: 70px;
    }
  }
  &__top {
    padding-top: 20px;

    @include media-breakpoint-up(md) {
      padding-top: 35px;
      padding-bottom: 65px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 44px;
      padding-bottom: 65px;
    }
  }
  &__bottom {
    background-color: #F5F5F5;
    padding: 19px 0;
    @include media-breakpoint-up(md) {
      height: 87px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__inner {
    @include media-breakpoint-up(md) {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
  &__copyright {
    color: rgba(black, .6);
    margin-right: 33px;
    margin-bottom: 19px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  &__doc {
    color: rgba(black, .6);
    margin-right: 33px;
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  &__dev {
    color: rgba(black, .4);
    display: block;
    width: 151px;
    height: 25px;
    //opacity: .4;

    @include media-breakpoint-up(md) {
      margin-left: auto;
    }
  }
}

.footer-nav {
  margin-bottom: 50px;

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
  &__title {
    @extend %title;

    font-size: 16px;
    line-height: 20px;
    margin-bottom: 28px;

    @include media-breakpoint-up(xl) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 39px;
    }
  }
  &__list {
    padding-left: 0;
    list-style: none;
    margin: 0;
  }
  &__item {
    color: rgba(black, 0.6);

    &:not(:last-child) {
      margin-bottom: 25px;

      @include media-breakpoint-up(xl) {
        margin-bottom: 28px;
      }
    }

    &_select {
      font-weight: 600;
      color: $main-color;
    }
  }
}

.footer-contacts {
  &__title {
    @extend %title;
    font-size: 16px;
    line-height: 20px;

    @include media-breakpoint-up(md) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 36px;
    }
  }
  &__social {
    display: flex;
  }
  &__social-item {
    //display: block;
    height: 60px;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &:hover {
      opacity: .6;
    }
  }
}