@function decimal-round ($number, $digits: 0, $mode: round) {
  $n: 1;
  // $number must be a number
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @if $digits > 0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }
  @if $mode == round {
    @return round($number * $n) / $n;
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

// Get unitless values

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin mre-height-block($sh-fontsize, $sh-desiredheight, $line-height: 1.5 , $rem-mode: false) {

  $sh-fontbase: 16;

  $sh-fontunit: unit($sh-fontsize);
  $sh-fontvalue: parseInt($sh-fontsize) !default;

  $sh-heightunit: unit($sh-desiredheight);
  $sh-heightvalue: parseInt($sh-desiredheight) !default;

  $mre-line-unit: unit($line-height);
  $mre-line-value: parseInt($line-height) !default;

  // If rems are enforced
  @if $rem-mode == false {
    @if $mre-line-unit != '' and $mre-line-unit == 'rem' {
      $mre-line-value: $mre-line-value * $sh-fontbase;
    }

    // If the font size is in rems
    @if $sh-fontunit == 'rem' {
      $sh-fontvalue: $sh-fontvalue * $sh-fontbase;
    }
    // If the height is in rems
    @if $sh-heightunit == 'rem' {
      $sh-heightvalue: $sh-heightvalue * $sh-fontbase;
    }
  } @else {
    @if $mre-line-unit != '' and $mre-line-unit != 'rem' {
      $mre-line-value: $mre-line-value/$sh-fontbase;
    }

    // If the font size is in px
    @if $sh-fontunit != 'rem' {
      $sh-fontvalue: $sh-fontvalue/$sh-fontbase;
    }

    // If the height is in px
    @if $sh-heightunit != 'rem' and $sh-heightunit != false {
      $sh-heightvalue: $sh-heightvalue/$sh-fontbase;
    }
  }

  $sh-lineheight: 0;
  $sh-lineheightrealised: 0;

  @if $mre-line-unit != '' {
    $sh-lineheightrealised: $mre-line-value;
    $sh-lineheight: decimal-round($mre-line-value / $sh-fontvalue, 3, ceil);
  } @else {
    $sh-lineheight: $mre-line-value;
    $sh-lineheightrealised: $sh-fontvalue * $mre-line-value;
  }

  // Set the offset to 0 and override if a height is set
  $sh-offset: 0 !default;

  @if $sh-heightunit != false {

    // Calculate the remaining space available and halve it
    $sh-offset: ($sh-heightvalue - $sh-lineheightrealised)/2;

  }

  //@include font-size()

  font-size: if($rem-mode, $sh-fontvalue + rem, $sh-fontvalue * 1px);
  line-height: $sh-lineheight;

  // Only add padding if the offset is truthy
  @if $sh-offset > 0 {

    // Determine whether rems or pixels
    $vpadding: if($rem-mode, $sh-offset + rem, $sh-offset * 1px);
    padding-bottom: $vpadding;
    padding-top: $vpadding;
  }

}

@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote(( $y / $x ) * 100 + '%');
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

@mixin letter-spacing($unit, $return: 'em', $base: '16') {
  @if $return = 'em' {
    letter-spacing: unquote(($unit) / 1000 + 'em');
  } @else {
    letter-spacing: unquote(($unit * $base) / 1000 + 'px');
  }
}