//
// .header
// |-
//

.control-panel {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //&.opened {
  //  bottom: 0;
  //  display: flex;
  //
  //  flex-direction: column;
  //}

  @include media-breakpoint-up(xl) {
    position: relative;
  }
  &__message {
    background-color: $main-color;
    color: white;
    text-align: center;

    @extend %title;

    @include mre-height-block(11px, 20px, 1);
    @include media-breakpoint-up(md) {
      @include mre-height-block(14px, 26px);
    }
    @include media-breakpoint-up(xl) {
      @include mre-height-block(18px, 40px);

      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 999;

      + .header {
        margin-top: 40px;
        &_fixed {
          .header__fixed-block {
            top: 40px;
          }
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  //top: ;
  //height: 100%;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  visibility: hidden;
  transition-property: visibility;
  transition-duration: .3s;
  color: white;
  &.opened {
    visibility: visible;
    .mobile-menu__overlay {
      opacity: 0.8;
    }
    .mobile-menu__wrapper {
      transform: translateX(0)
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #1B1B1B;
    opacity: 0;
    //opacity: 0.8;
    transition: opacity .3s ease;
  }
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #1B1B1B;
    transform: translateX(-100%);
    transition: transform .3s ease;
    overflow: auto;
  }
  &__header {
    padding: 20px 20px;
    background: #2B2B2B;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  &__nav {
    padding: 20px 20px;
  }
}

.header {
  //opacity: .5;

  background-color: white;
  &__nav-top {
    display: none;
  }
  &__nav-center {

  }
  &__category {
    display: none;
  }

  &__fixed-block {
    background: white;
  }

  @include media-breakpoint-up(xl) {
    &_fixed {
      padding-bottom: 140px;
      .header__fixed-block {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
      }
      .header-control {
        height: 73px;
      }
      .header-category__link {
        //height: 42px;

        @include mre-height-block(14px, 42px);
      }
    }

    &__city-list {
      background-color: #1B1B1B;
      //background: url("../img/rm/change-city.png") center top no-repeat;
      overflow: hidden;
      transition: height .7s ease-in-out;
    }

    &__nav-top {
      display: block;
      border-bottom: 1px solid #E3E3E3;
    }
    &__nav-center {

    }
    &__category {
      display: block;
      background-color: #101010;
      color: white;
    }
  }
}

.page-nav {
  color: rgba(#F5F5F5, 0.5);

  // List
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &__item {
    margin-bottom: 26px;
  }

  @include media-breakpoint-up(xl) {
    color: rgba(#000000, 0.5);
    display: flex;
    &__item {
      margin-bottom: 0;
      padding: 0 11px;
    }
  }
}

//
//
//
.header-nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 10px;
  height: 50px;
  @include font-size(14px);

  &__menu {
    font-family: $font-family-inter-ui;
  }
  &__link {
    opacity: 0.5;
    padding: 0 12px;

    &:hover {
      opacity: 1;
    }
  }
}

.header-login {
  font-weight: 500;
  svg {
    vertical-align: -1px;
    width: 8px;
    height: 12px;
  }
}

.header-number {
  font-family: $font-family-bender;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  svg {
    margin-right: 4px;
    vertical-align: 0;
    width: 11px;
    height: 11px;
  }
}

.select-city {
  font-weight: 500;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-up(xl) {
    justify-content: flex-start;
  }

  &__icon {
    width: 11px;
    height: 15px;
    margin-right: 5px;
  }
  &__link {
    //@include caret(down);
    margin-right: 7px;
    &::after {
      display: inline-block;
      margin-left: 1px;
      vertical-align: middle;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }

    &:not(.collapsed) {
      color: $main-color;
    }
  }

  &__value {
    //color: rgba(black, .5);
    opacity: 0.5;
  }
}

//
//
//
.header-control {
  display: flex;
  align-items: center;

  height: 45px;
  @include media-breakpoint-up(md) {
    height: 55px;
  }
  @include media-breakpoint-up(xl) {
    justify-content: space-between;
    height: 90px;
  }

  &__menu-btn {
    @extend %button-reset;
    padding: 10px;
    margin-left: -10px;
    margin-right: 27px;
    svg {
      width: 22px;
      height: 10px;
    }

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
  &__logo {
    width: 104px;
    height: 31px;
    margin-right: auto;
    svg {
      width: 100%;
      height: 100%;
    }

    @include media-breakpoint-up(xl) {
      width: 150px;
      height: 45px;
      margin-right: 50px;
    }
  }

  &__search {
    height: 100%;
    flex: 1 0;
    margin: 0;
  }
  &__cart {
    height: 100%;
    width: 195px;
    margin-right: 7px;
  }
  &__search,
  &__cart {
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }
  }

  &__button {

    display: inline-block;
    position: relative;
    margin-left: 20px;
    &_search svg {
      width: 17px;
      height: 18px;
    }
    &_favorites svg {
      width: 22px;
      height: 19px;
    }
    &_cart svg {
      width: 20px;
      height: 22px;
    }
    @include media-breakpoint-up(xl) {
      &_favorites {
        margin-right: 52px;
        margin-left: 43px;
        svg {
          width: 37px;
          height: 32px;
        }
      }
      &_search,
      &_cart {
        display: none;
      }
    }
  }
  &__notifications {
    @extend %title;
    position: absolute;
    background-color: $main-color;

    top: 0;
    right: 0;
    transform: translate(50%, -50%);

    color: white;
    text-align: center;

    min-width: 13px;
    height: 13px;

    border-radius: 7px;
    font-size: 10px;
    line-height: 10px;
    padding: 2px 2px 1px;

    @include media-breakpoint-up(xl) {
      min-width: 26px;
      height: 26px;

      border-radius: 13px;
      font-size: 15px;
      line-height: 20px;
      padding: 3px 5px;
    }
  }
}

.search-fild {
  height: 100%;
  width: 100%;
  position: relative;
  &__input {
    @extend .skew;
    height: 100%;
    width: 100%;

    padding-left: 35px;
    padding-right: 75px;

    background-color: #EEEEEE;
    border-color: #EEEEEE;

    font-size: 17px;
  }
  &__loupe {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: 23px;
    width: 24px;
    height: 26px;
    color: #BABABA;
  }
}

button.search-fild__loupe {
  @extend %button-reset;
  color: #BABABA;
  transition: color .3s ease;
  &:hover {
    color: $main-color;
  }
  &:focus,
  &:active {
    outline: none;
  }
}

.button-cart {
  height: 100%;
  width: 100%;

  //padding: 23.5px 25px;
  padding: 10px 25px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__num {
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    line-height: 30px;
    min-width: 44px;
    padding: 7px 10px;
    border-radius: 22px;
    color: black;
    background: #FFFFFF;
    display: inline-block;
  }
  &__block {
    text-align: left;
    margin-left: 12px;
  }
  &__title {
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: block;
  }
  &__price {

    font-family: $font-family-inter-ui;
    font-weight: 500;
    font-size: 15px;

    color: #FFFFFF;

    opacity: 0.7;
    display: block;
  }
}

//
//
//
.header-category {

  //height: 50px;
  //&__list {
  position: relative;
  //margin-left: -20px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 40px;

  @include media-breakpoint-up(xl) {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4px 0 -25px;
    height: 100%;
  }
  //}
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    //height: 100%;

    //.header-nav-bottom__hidden {
    //  display: block;
    //}

    @include media-breakpoint-up(xl) {
      flex: 1 0 auto;
      &:not(:last-child) {
        margin-bottom: 0;
      }
      &:hover {

        .header-category__link {

          color: white;
          background-color: #2D2D2D;
          //&::before {
          //  transform: translate3d(0, 0, 0);
          //}
        }

        .header-category__hidden {
          //display: block;
          height: 620px;
        }
      }
    }
  }
  &__link {

    font-family: $font-family-bender;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 14px;

    @include media-breakpoint-up(xl) {

      display: block;
      width: 100%;

      color: white;

      text-align: center;
      white-space: nowrap;

      @include mre-height-block(15px, 50px, 20px);
      height: 100%;
      transform: $skew;
      transform-origin: bottom;
      transition: background-color .3s ease;
    }
    //position: relative;
    //&::before {
    //  content: '';
    //  position: absolute;
    //  height: 100%;
    //  width: 100%;
    //  left: 0;
    //  top: 0;
    //  background-color: #2D2D2D;
    //  transform: translate3d(0, 100%, 0);
    //  transition: transform .2s ease-in-out;
    //}

    //&.active,
    //&:hover {
    //  color: white;
    //  background-color: #2D2D2D;
    //}
  }
  &__hidden {
    //display: none;
    position: absolute;
    width: 100%;
    background-color: #2D2D2D;
    top: 100%;
    //top: 0;
    left: 0;
    z-index: 99;
    height: 0;
    overflow: hidden;
    transition: $transition-collapse;
  }
}

.hidden-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 620px;
  justify-content: space-between;
  //align-content: flex-start;
  padding: 28px 36px 46px;

  //background: url("../img/rm/hidden-nav.png") left top no-repeat;
  //background-size: auto;
  &__block {

  }
  &__title {
    @extend %title;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: normal;
  }
  &__list {
    list-style: none;
    padding-left: 0;
  }
  &__item {
    color: rgba(white, 0.5);
    font-size: 14px;
    line-height: 17px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__link {

  }
}

.change-city {
  color: white;
  padding-top: 30px;
  padding-bottom: 58px;
  &__header {
    height: 45px;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    @extend %title;
    font-size: 20px;
  }
  &__btn-close {
    @include button-variant($main-color, $main-color, #FFF, #FFF);
    border-radius: 50%;

    width: 33px;
    height: 33px;
    padding: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      background: currentColor;
      top: 50%;
      left: 50%;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    max-height: 410px;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    margin-bottom: 21px;
    font-size: 14px;
    line-height: normal;

    position: relative;
    &::before {
      content: attr(data-letter);

      @extend %title;
      font-size: 20px;
      color: $main-color;
      position: absolute;
      left: -30px;
      top: -5px;
    }
  }
  &__note {
    margin-top: 52px;
    max-width: 455px;

    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
    font-size: 14px;

    b {
      color: white;
    }
  }
}