.header {
  //opacity: .5;

  background-color: white;
  &__message {
    background-color: $main-color;
    color: white;
    text-align: center;

    @extend %title;

    @include mre-height-block(11px, 20px, 1);
    @include media-breakpoint-up(md) {
      @include mre-height-block(14px, 26px);
    }
    @include media-breakpoint-up(xl) {
      @include mre-height-block(18px, 40px);
    }
  }
  &__nav-top {
    display: none;
  }
  &__nav-center {

  }
  &__nav-bottom {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    &__nav-top {
      display: block;
      border-bottom: 1px solid #E3E3E3;
    }
    &__nav-center {

    }
    &__nav-bottom {
      display: block;
      background-color: #101010;
      color: white;
    }
  }
}

//
//
//
.header-nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  @include font-size(14px);

  &__menu {
    font-family: $font-family-inter-ui;
  }
  &__link {
    opacity: 0.5;
    padding: 0 12px;

    &:hover {
      opacity: 1;
    }
  }
  &__login {
    color: black;
    svg {
      width: 8px;
      height: 12px;
    }
  }
  &__number {
    color: black;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    svg {
      width: 11px;
      height: 11px;
    }
  }
}

.select-sity {
  font-weight: 500;

  &__icon {
    width: 11px;
    height: 15px;
    margin-right: 5px;
  }
  &__link {
    @include caret(down);
  }
  &__value {
    color: rgba(black, .5);
  }
}

//
//
//
.header-control {
  display: flex;
  align-items: center;

  height: 45px;
  @include media-breakpoint-up(md) {
    height: 55px;
  }
  @include media-breakpoint-up(xl) {
    justify-content: space-between;
    height: 90px;
  }

  &__menu-btn {
    @extend %button-reset;
    padding: 10px;
    margin-left: -10px;
    margin-right: 27px;
    svg {
      width: 22px;
      height: 10px;
    }

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
  &__logo {
    width: 104px;
    height: 31px;
    margin-right: auto;
    svg {
      width: 100%;
      height: 100%;
    }

    @include media-breakpoint-up(xl) {
      width: 150px;
      height: 45px;
      margin-right: 50px;
    }
  }

  &__search {
    height: 100%;
    flex: 1 0;
    margin: 0;
  }
  &__cart {
    height: 100%;
    width: 195px;
    margin-right: 7px;
  }
  &__search,
  &__cart {
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }
  }

  &__button {

    display: inline-block;
    position: relative;
    margin-left: 20px;
    &_search svg {
      width: 17px;
      height: 18px;
    }
    &_favorites svg {
      width: 22px;
      height: 19px;
    }
    &_cart svg {
      width: 20px;
      height: 22px;
    }
    @include media-breakpoint-up(xl) {
      &_favorites {
        margin-right: 52px;
        margin-left: 43px;
        svg {
          width: 37px;
          height: 32px;
        }
      }
      &_search,
      &_cart {
        display: none;
      }
    }
  }
  &__notifications {
    @extend %title;
    position: absolute;
    background-color: $main-color;

    top: 0;
    right: 0;
    transform: translate(50%, -50%);

    color: white;
    text-align: center;

    min-width: 13px;
    height: 13px;

    border-radius: 7px;
    font-size: 10px;
    line-height: 10px;
    padding: 2px 2px 1px;

    @include media-breakpoint-up(xl) {
      min-width: 26px;
      height: 26px;

      border-radius: 13px;
      font-size: 15px;
      line-height: 20px;
      padding: 3px 5px;
    }
  }
}

.search-fild {
  height: 100%;
  width: 100%;
  position: relative;
  &__input {
    @extend .skew;
    height: 100%;
    width: 100%;

    padding-left: 35px;
    padding-right: 75px;

    background-color: #EEEEEE;
    border-color: #EEEEEE;
  }
  &__loupe {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: 23px;
    width: 24px;
    height: 26px;
    color: #BABABA;
  }
}

button.search-fild__loupe {
  @extend %button-reset;
  color: #BABABA;
  transition: color .3s ease;
  &:hover {
    color: $main-color;
  }
  &:focus,
  &:active {
    outline: none;
  }
}

.button-cart {
  height: 100%;
  width: 100%;

  padding: 23.5px 25px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__num {
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    line-height: 30px;
    min-width: 44px;
    padding: 7px 10px;
    border-radius: 22px;
    color: black;
    background: #FFFFFF;
    display: inline-block;
  }
  &__block {
    text-align: left;
    margin-left: 12px;
  }
  &__title {
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: block;
  }
  &__price {

    font-family: $font-family-inter-ui;
    font-weight: 500;
    font-size: 15px;

    color: #FFFFFF;

    opacity: 0.7;
    display: block;
  }
}

//
//
//
.header-nav-bottom {

  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    //margin-left: -20px;
    padding-left: 0;
    list-style: none;
    margin: 0;
  }
  &__item {

    flex: 1 0 auto;

    //.header-nav-bottom__hidden {
    //  display: block;
    //}
    &:hover {

      .header-nav-bottom__link {

        color: white;
        background-color: #2D2D2D;
      }

      .header-nav-bottom__hidden {
        display: block;
      }
    }
  }
  &__link {
    display: block;
    width: 100%;
    font-family: $font-family-bender;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: white;
    font-weight: 900;

    text-align: center;
    white-space: nowrap;

    @include mre-height-block(15px, 50px, 20px);
    transform: $skew;
    transform-origin: bottom;
    //
    //&.active,
    //&:hover {
    //  color: white;
    //  background-color: #2D2D2D;
    //}
  }
  &__hidden {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #2D2D2D;
    top: 100%;
    left: 0;
    z-index: 99;
  }
}
.hidden-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 620px;
  justify-content: space-between;
  //align-content: flex-start;
  padding: 28px 36px 46px;

  //background: url("../img/rm/hidden-nav.png") left top no-repeat;
  //background-size: auto;
  &__block {


  }
  &__title {
    @extend %title;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: normal;
  }
  &__list {
    list-style: none;
    padding-left: 0;
  }
  &__item {
    color: rgba(white, 0.5);
    font-size: 14px;
    line-height: 17px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__link {

  }
}