body {

  @include dev() {
    //background: url("../img/rm/1920.png") center top no-repeat;
    background: url("../img/rm/320.png") center 1px no-repeat;

    > * {
      opacity: .5;
    }
  ;

    @include media-breakpoint-up(md) {
      background-image: url("../img/rm/768.png");
      background-position: center top;
    }

    @include media-breakpoint-up(xl) {
      background-image: url("../img/rm/1920.png");

    }
  }
}

.main-hero {
  background-color: #1B1B1B;
  position: relative;

  height: 236px;

  @include dev() {
    opacity: .5; // Dev
  }

  @include media-breakpoint-up(md) {
    height: 438px;
  }

  @include media-breakpoint-up(xl) {
    height: 600px;
  }
  &__slider {

  }
  &__control {
    position: absolute;
    width: 100%;
    left: 0;

    bottom: 20px;

    @include media-breakpoint-up(md) {
      bottom: 32px;
    }

    @include media-breakpoint-up(xl) {
      bottom: 38px;
    }
  }
}

$section-padding-top: 38px;
$section-padding-bottom: 30px;

@function p-t ($i) {
  @return $section-padding-top - (38px - $i);
}

@function p-b ($i) {
  @return $section-padding-bottom - (30px - $i);
}

.section {
  overflow: hidden;
  padding-top: $section-padding-top; // 40
  padding-bottom: $section-padding-bottom;

  @include media-breakpoint-up(md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container {
    transform: translateZ(0);
  }
}

.hero-control {
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  &__item {
    flex: 0 0 25%;
    padding: 0 5px;

    transition: opacity .3s;
    opacity: .3;

    &.hover,
    &:hover {
      opacity: .5;
    }

    &.active {
      opacity: 1;

      .hero-control__loader-line {
        transform: translateX(0);
      }
    }
  }
  &__title {
    @extend %title;

    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 15px;

    display: none;
  }
  &__loader {
    height: 5px;
    overflow: hidden;
    background-color: white;
    position: relative;
    @extend .skew;
  }
  &__loader-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $main-color;
    transform: translateX(-100%);
  }

  @include media-breakpoint-up(md) {
    margin-left: -17px;
    margin-right: -17px;
    &__title {
      display: block;
    }
    &__item {
      padding: 0 17px;
    }
  }

  @include media-breakpoint-up(xl) {
    margin-left: 41px;
    margin-right: 41px;
    &__title {
      font-size: 20px;
    }
    &__item {
      padding: 0 41px;
    }
  }
}

.benefits {
  overflow: hidden;
  //background: url("../img/rm/benefits-and-subscribe.png") center no-repeat;
  background-color: #F5F5F5;

  @include dev() {
    opacity: .5; // Dev
  }

  padding: 40px 0;
  @include media-breakpoint-up(md) {
    padding: 75px 0;
  }

  &_first {
    @include media-breakpoint-down(md) {
      padding: 10px 0;

      @include dev() {
        height: 319px;
      }
      .benefits__item {
        height: 133px;
        padding-bottom: 0;
        margin-bottom: 0;
        &::before {
          display: none;
        }
      }
      .benefits__icon {
        height: 70px;
      }

      .benefits__title {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
  &__item {
    height: 210px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 28px;

    margin-bottom: 47px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      background-color: #EAEAEA;
      left: 26px;
      right: 6px;
      top: 0;
      bottom: 0;
      @extend .skew;
    }
  }
  &__icon {
    position: relative;
    margin-bottom: 23px;
    height: 92px;
    display: flex;
    align-items: center;
  }
  &__title {
    @extend %title;

    font-size: 19px;
    line-height: 24px;

    position: relative;
  }
  &__form {
    position: absolute;
    width: 290px;
    right: 59px;
    top: 36px;

    @extend .skew;

    .btn {
      margin-top: 12px;
      //padding-top: 18px;
      //padding-bottom: 17px;

      @include media-breakpoint-up(md) {
        @include mre-height-block(18px, 62px, 1.5, rem);
        //@include mre-height-block($sh-fontsize, $sh-desiredheight, $line-height: 1.2, $rem-mode: false);
      }
    }
  }
}

////////////////////////////////////////////////////////////
// SECTIONS
////////////////////////////////////////////////////////////

//
// Бренды
//
.brands {
  position: relative;
  padding-top: p-t(28px);
  padding-bottom: p-b(19px);

  background-color: #E4E4E4;

  //background: url("../img/rm/brands.png") center top no-repeat;

  @include media-breakpoint-up(md) {
    padding-bottom: 114px;
  }
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    width: 300px;
    background-color: #ECECEC;
    pointer-events: none;

    @extend .skew;
    //display: none;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__list {
    display: flex;
    align-items: center;

    @include media-breakpoint-up(md) {

      //@include .skew;
      transform: $skew;

      flex-wrap: wrap;
      width: 100%;

      margin-top: 68px;
      margin-bottom: 14px;
      margin-left: -88px;
    }
    @include media-breakpoint-up(xl) {

      margin-top: 68px;
      margin-bottom: 14px;
      margin-left: -88px;
    }
  }
  &__col {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 160px;
    flex: 0 0 auto;

    @include media-breakpoint-up(md) {
      transform: $skew-reverse;

      height: 186px;
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  &__item {
    opacity: .5;
    filter: grayscale(100%);

    &.active,
    &:hover {
      opacity: 1;
      filter: none;
    }
  }

  &__button {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include media-breakpoint-up(xl) {
    $button-width: 300px;
    $button-height: 70px; // Global
    $padding-bottom: 114px;

    padding-bottom: $padding-bottom;
    &::before {
      box-shadow: (
              $button-width * 2 * -3 0 0 #ECECEC,
              $button-width * 2 * -2 0 0 #ECECEC,
              $button-width * 2 * -1 0 0 #ECECEC,
              $button-width * 2 * 1 0 0 #ECECEC,
              $button-width * 2 * 2 0 0 #ECECEC,
              $button-width * 2 * 3 0 0 #ECECEC
      );

      width: $button-width;
      right: calc(50% - #{$button-width / 2});
      transform-origin: center calc(100% - #{$padding-bottom + $button-height / 2});
    }
    &__button {
      width: $button-width;
    }
  }
}

//
// "Спортивное питание в наличии"
//
.catalog {
  //padding-top: 38px;
  padding-bottom: 0;
  &__title {
    margin-bottom: 20px;
  }
  &__inner {

    @include make-container(0);
    @include make-container-max-widths();

    @include media-breakpoint-up(sm) {
      @extend %container-padding-sm;
    }
    @include media-breakpoint-up(xl) {
      @extend %container-padding-xl;
    }

    margin-bottom: -5px;
  }
  &__item {
    height: 90px;
    margin-bottom: 5px;
    &_xl {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    &_md {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__inner {
      margin-bottom: map_get($grid-gutter-width-map, md) * -1;
    }
    &__item {
      height: (map_get($container-max-widths, md) / 2) - map_get($grid-gutter-width-map, md);
      margin-bottom: map_get($grid-gutter-width-map, md);
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: 140px;
    padding-bottom: 30px;
    &__inner {
      margin-bottom: map_get($grid-gutter-width-map, xl) * -1;
    }
    &__title {
      margin-bottom: 70px;
    }
    &__item {
      //margin-bottom: 20px;
      height: (map_get($container-max-widths, xl) / 3) - map_get($grid-gutter-width-map, xl);
      margin-bottom: map_get($grid-gutter-width-map, xl);
    }
  }
}

%product-card {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  color: white;
}

.product {
  @extend %product-card;

  background-color: #1B1B1B;
  color: white;
  padding: 28px 135px 28px 30px;

  &::before {
    content: '';
    position: absolute;
    pointer-events: none;

    width: 450px;
    height: 100%;

    background-color: $main-color;
    top: 0;
    left: 240px;
    @extend .skew;

    transition: left .6s cubic-bezier(0, 0, 0.32, 1);
  }

  &.hover,
  &:hover {
    color: white;

    &::before {
      //transform: translateX(-100%);
      //margin-left: -450px;
      left: -210px;
    }

    .product__title {
      border-bottom: 2px solid white
    }
    .product__img {
      transform: translate(27%, 12%) scale(1.05);
    }
  }

  &_type-2 {
    background-color: $main-color;
    &::before {
      background-color: #1B1B1B;
      left: -500px;
    }

    .product__title {
      line-height: 49px;
      font-size: 36px;
    }

  }

  &__img {
    max-width: none;
    max-height: none;

    position: absolute;
    transform: translate(27%, 12%);
    transform-origin: right bottom;
    right: 0;
    bottom: 0;
    transition: transform .6s cubic-bezier(0, 0, 0.32, 1);
  }
  &__title {
    font-family: $font-family-bender;
    font-style: italic;
    font-weight: 900;
    line-height: 31px;
    font-size: 23px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    display: inline;
    position: relative;

    border-bottom: 0 solid white;
    transition: border-bottom .3s ease;
    max-width: 210px;
  }
  &__subtitle {
    position: relative;
    display: block;
    line-height: 23px;
    font-size: 15px;

    color: rgba(#FFFFFF, 0.5);
  }
  &__icon {
    width: 28px;
    height: 46px;
    position: absolute;
    color: white;
    right: 34px;
    bottom: 34px;
  }
}

.promotion {
  @extend %product-card;

  background-color: #1B1B1B;
  padding: 40px;

  &__title {
    font-family: $font-family-bender;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}

//
//
.arnold {
  position: relative;
  @extend .skew;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }

  &__img {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      @extend .skew-reverse;
      //width: ;
      max-width: none;
      margin-left: -50px;
      margin-right: -30px;
      height: 100%;
      object-fit: cover;
    }
  }
  &__bg {
    background-color: $main-color;
    position: absolute;
    height: 100%;
    width: 100%;
    //transform: translate(47px, 34px);
  }
}

//
// "Возвращаем 1 балл за 1 рубль"
//
.cashback {
  position: relative;
  padding-bottom: p-b(34px);
  //padding: 100px 0 150px;
  &__text {
    margin: 26px 0;
  }
  &__button {
    width: 100%;
  }
  &__arnold {
    position: absolute;
    height: 500px;
    width: 405px;
    top: 30px;
    right: calc(50% - 600px);
    transform-origin: right top;
  }

  @include media-breakpoint-up(md) {
    &__text {
      margin-top: 40px;
      margin-bottom: 53px;
      max-width: 330px;
    }
    &__button {
      width: 336px;
    }
  }
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
    padding-bottom: 150px;
    &__text {
      max-width: 560px;
      margin-top: 56px;
      margin-bottom: 138px;
    }
  }
}

//
// "Индвидуальный подбор спортпита..."
//
.individual-selection {
  background: url("../img/individual-selection-bg.jpg") center top no-repeat;
  background-size: cover;
  color: white;
  padding-top: p-t(18px);
  padding-bottom: p-b(34px);

  &__title {
    //line-height: 32px;
  }
  &__text {
    display: none;
  }
  &__bottom {
    margin-top: 58px;
  }
  &__button {
    width: 100%;
  }
  &__note {
    display: none;

    width: 200px;
    font-weight: 500;
    line-height: 25px;
    font-size: 16px;

    margin-right: 10px;
    color: #FFFFFF;

    opacity: 0.6;
  }
  @include media-breakpoint-up(xl) {
    &__text,
    &__note {
      display: block;
    }
    &__bottom {
      display: flex;
      align-items: center;
      margin-right: 10px;
      margin-top: 40px;
    }
    &__button {
      width: 240px;
    }
  }
  @include media-breakpoint-up(xl) {
    padding-top: 72px;
    padding-bottom: 74px;
    &__title {
      max-width: 550px;
    }
    &__text {
      max-width: 455px;
      margin-top: 40px;
    }
  }
}

//
// "Нас выбирают лучшие"
//
.stars {
  padding-bottom: 0;
  //padding-top: 140px;

  //margin-top: 115px;
  //margin-bottom: 220px;
  &__text {
    margin-top: 27px; // > 0

    max-width: 550px;
  }
  &__slider {
    height: 407px;
    margin-top: 35px;
  }
  &__col {
    flex: 0 0 380px;
    width: 380px;
    margin-right: 86px;
  }
  &__col-long {
    margin-top: -367px;
    //margin-bottom: -310px;
    .star-card {
      &:first-child {
        margin-bottom: 88px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding-top: 140px;
    padding-bottom: 100px;

    &__slider {
      transform: $skew;
      transform-origin: center calc(100% - 320px);

      display: flex;
      margin-top: 115px;
      height: auto;
      //margin-bottom: 220px;

    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: 140px;
  }
}

.star-card {

  &.active,
  &:hover {
    .star-card__text {
      opacity: 1;
    }
  }

  &__name {
    font-size: 16px;
    @extend %title;
  }
  &__link {

  }
  &__link-icon {
    color: #DD3F30;
    width: 19px;
    height: 19px;
    margin-right: 4px;
  }
  &__content {
    position: relative;
    overflow: hidden;
    height: 460px;
  }
  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: $main-color;
    padding: 26px 20px;

    opacity: 0;
    transition: opacity .3s ease;
    font-weight: 600;

  }
  &__note {
  }

  @include media-breakpoint-up(md) {
    &__bottom,
    &__header,
    &__note,
    &__img {
      transform: $skew-reverse;
    }

    &__header {
      margin-bottom: 17px;
    }
    &__bottom {
      margin-top: 18px;
    }
    &__name {
      font-size: 23px;
    }
    &__img {

      width: calc(100% + 80px);
      max-width: none;
      max-height: none;
      margin-left: -40px;
      margin-right: -40px;
    }
    &__note {

    }
  }
}

//
// "MARKETDO4A в таком-то городе"
//
.sets {
  &__info {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 192px;
  }
  &__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //map_get($grid-gutter-width-map, xs)
    @include media-breakpoint-up(md) {
      //max-width: map_get($container-max-widths, md);
      max-width: 688px;
    }
    @include media-breakpoint-up(xl) {
      max-width: map_get($container-max-widths, xl);
    }
  }
}

.set-block {
  //background-color: white;
  margin-bottom: 30px;

  @include media-breakpoint-up(xl) {
    height: 460px;
    margin-bottom: 60px;
  }
  &__banner {
    position: relative;
    @include responsive-ratio(320, 180);
    //max-height: 298px;

    background: #101010 center no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 55%;

      opacity: 0.6;
      background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  &__title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    left: 0;
    bottom: 0;
    //background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    @extend %title;
    color: white;

    //
    padding: 33px (map_get($grid-gutter-width-map, xs) / 2) 16px;

    font-size: 20px;
    line-height: 25px;

    //line-height: 35px;
    //font-size: 28px;
    //
    //line-height: 50px;
    //font-size: 40px;
  }
  &__slider {
    margin-top: 10px;
  }
}

.set-item {
  background-color: white;

  //
  width: 280px;
  //height: 396px;
  padding-top: 14px;

  &__title {
    @extend %title;
    opacity: .4;

    // 0
    padding: 0 20px;
    font-size: 16px;
  }
  &__img {
    height: 205px; // dev???
  }
  &__info {

  }
  &__name {
    @extend %title;

    // 0
    padding: 0 20px;
    line-height: 20px;
    font-size: 16px;

  }
  &__price {
    opacity: .4;

    // 0
    padding: 0 20px 19px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;

    span {
      @extend %title;
      font-size: 20px;
    }
  }
  &__control {
    display: flex;
  }
  &__button {
    flex: 0 0 50%;
    width: 50%;
    height: 57px;
  }

  @include media-breakpoint-up(md) {
    &__title {
      padding: 0 30px;
      font-size: 20px;
    }
    &__name {
      font-size: 19px;
      line-height: 24px;
      padding-left: 0;
    }
    &__button {
      flex: 0 0 77px;
      width: 77px;
      height: 77px;
    }
    &__price {
      padding-left: 0;
      font-size: 16px;
      span {
        font-size: 26px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &__title {
      padding: 0 28px;
    }
    &__name {
      padding-left: 28px;
      padding-right: 105px;
    }
    &__price {
      padding-left: 28px;
      padding-right: 105px;
    }
  }
}

//
// "MARKETDO4A в таком-то городе"
//
.shops {
  padding-top: 37px;
  padding-bottom: 26px;

  //background: url("../img/rm/store.png") top center no-repeat;
  //color: white;
  &__title {
    margin-right: -20px;
    margin-bottom: 27px;

    .normal {
      font-weight: normal;
    }
  }
  &__text {
    max-width: 610px;
    margin-bottom: 47px;

  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 610px;
  }
  &__advantages {
    font-weight: bold;
    font-size: 18px;
    font-family: $font-family-bender;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-style: italic;
    line-height: 36px;
    margin-bottom: 35px;

    .large {
      font-weight: 900;
      @include font-size(60px);
    }
  }
  &__info {
    margin-bottom: 21px; // xs
    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $main-color;
      font-weight: bold;
      border-bottom: 1px dashed rgba($main-color, 0.5);
      white-space: nowrap;
    }
  }
  &__button {
    display: none;
  }

  @include media-breakpoint-up(md) {
    &__button {
      display: inline-block;
    }
    &__row {
      margin-bottom: 71px;
    }
    &__col {
      flex: 0 0 50%;
      max-width: 280px;
    }
  }
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
    padding-bottom: 150px;
    &__row {
      margin-bottom: 71px;
    }
    &__text {
      margin-bottom: 82px;
    }
    &__advantages {
      margin-bottom: 69px;
    }
  }
}

.shop-gallery {
  @include media-breakpoint-up(xl) {
    display: none;
  }
  &__item {
    //position: relative;
    display: block;
    height: 260px;
    @include media-breakpoint-up(md) {
      height: 400px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//
// "Франшиза DO4A"
//
.franchise {
  position: relative;
  background-color: $main-color;

  padding-top: 28px;
  padding-bottom: 45px;

  //padding-top: 100px;

  .selection {
    color: white;
  }


  background: url("../img/rm/franchise.png") top center no-repeat;
  > * {
    opacity: 0.5;
  }
  //color: white;
  &__title {
    margin-bottom: 33px;
  }
  &__list {
    margin-bottom: 32px;
    max-width: 640px;
    position: relative;
  }
  &__advantages {
    margin-bottom: 20px;
    //width: 300px;
  }
  &__value {
    @extend %title;
    @include font-size(20px);
    line-height: 1;
    margin-bottom: 6px;
    span {
      @include font-size(60px);
      margin-right: 7px;
    }
  }
  &__caption {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
    padding-left: 5px;
  }
  &__text {
    font-weight: 500;
    letter-spacing: -0.01em;
    margin-bottom: 29px;
    max-width: 650px;
  }
  &__button {
    //width: $button-width;
    width: 100%;
  }
  &__arnold {
    height: 613px;
    width: 382px;
    position: absolute;
    left: calc(50% + 200px);
    top: 150px;
    .arnold__bg {
      background-color: #000000;
    }
  }

  @include media-breakpoint-up(md) {
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      width: 50%;
      background-color: #E93B28;

      //left: calc(50% - 150px);
      //transform-origin: center calc(100% - #{114px + 70 / 2});
      transform: $skew;

      @include dev() {
        display: none;
      }
    }
    &__button {

    }
  }
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
    &__text {
      margin-bottom: 60px;
    }
    &__title {
      margin-bottom: 72px;
    }
    &__list {
      margin-bottom: 70px;
    }
    &__advantages {
      margin-bottom: 40px;
      width: 300px;
      &:last-child {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    $button-width: 330px;
    $button-height: 70px; // Global
    $padding-bottom: 113px;

    padding-bottom: $padding-bottom;
    &::before {
      width: 50%;

      right: calc(50% + #{ (1200px / 2) -  $button-width});
      transform-origin: center calc(100% - #{$padding-bottom + $button-height / 2});
    }
    &__button {
      width: $button-width;
    }
  }
}

//
// "Наш блог - подбоорки"
//
.best-articles {
  //overflow: hidden;
  &__title {
    margin-bottom: 60px;
  }
  &__slider {
    margin-bottom: 20px;

    //&:not(.owl-loaded) {
    //  display: flex;
    //}

    .owl-stage-outer {
      overflow: visible;
    }
  }
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
    &__title {
      margin-bottom: 60px;
    }

    &__slider {
      margin-bottom: 20px;
    }
  }
}

.article-preview {
  //transition: $animation;
  transition: background-color .3s;
  background-color: white;

  max-width: 384px;
  display: block;
  position: relative;

  &.active,
  &:hover {
    background-color: #1B1B1B;

    &,
    .article-preview__tags,
    .article-preview__title {
      color: white;
    }
    .article-preview__title {
      text-decoration: underline;
    }
    .article-preview__img img {
      transform: scale(1.1);
    }
  }
  &__img {
    height: 210px;
    display: block;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $animation;
    }
  }
  &__content {
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 26px;
  }
  &__title {
    transition: $animation;
    @extend %title;
    @include font-size(20px);
  }
  &__date {
    opacity: .4;
    font-weight: 600;
    transition: $animation;
  }
  &__tags {
    transition: $animation;
    color: #DD3F30;
    font-weight: 600;
  }
  &__text {
    transition: $animation;
    margin-top: auto;

    @include font-size(16px);
    line-height: 25px;
  }
}

.slider-control {
  position: relative;
  &__scrollbar {
    position: relative;
    height: 80px;
    width: 100%;
    //pointer-events: none;
    &:before {
      content: '';
      position: absolute;
      left: 40px;
      right: 40px;
      top: 50%;

      height: 8px;
      margin-top: -4px;
      border-radius: 4px;

      background-color: white;
    }
  }
  &__track {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $main-color;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: $animation;
    cursor: grab;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      width: 24px;
    }
    &:hover {
      background-color: #1B1B1B;
    }
    &:active {
      cursor: grabbing;
    }
  }
  &__info {
    position: relative;
    padding-left: 31px;
    margin-top: 18px;
  }
  &__mouse-icon {
    color: black;
    opacity: .3;
    width: 20px;
    height: 31px;
    position: absolute;
    left: 0;
    top: 2px;
  }
  &__text {
    width: 200px;

    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: -0.01em;

    color: rgba(#101010, .4);
  }
}

//
// Баннер "Бесплатная доставка"
//
.banner {
  padding-top: 80px;
  padding-bottom: 50px;
  //@include responsive-ratio(16, 9);
  //@include css-triangle(red, down);
  &__block {
    height: 260px;
    background-color: white;
    position: relative;
    overflow: hidden;
    transition: $animation;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &.active,
    &:hover {
      background-color: #1B1B1B;
      color: white;

      &::after {
        transform: scale(1.05);
      }
    }

    &::before {
      content: '';
      width: 205px;
      height: 100%;
      background-color: $main-color;
      @extend .skew;
      position: absolute;
      top: 0;
      right: 64px+31px;
    }
    &::after {
      content: '';
      position: absolute;
      background: url("../img/box.png") no-repeat;
      background-size: contain;
      width: 893px;
      height: 500px;

      right: -153px;
      bottom: -160px;
      transform-origin: right bottom;

      transition: all 1s cubic-bezier(0, 0.05, 0.13, 1);
      z-index: 0;
    }

    @include media-breakpoint-up(md) {
      height: 380px;
      padding: 40px 40px 50px;
    }
  }

  &__title {
    position: relative;
    color: inherit;
    z-index: 1;
    @include media-breakpoint-up(md) {
      @include font-size(30px);
      .selection {
        @include font-size(36px);
      }
    }
    @include media-breakpoint-up(xl) {
      @include font-size(36px);
      .selection {
        @include font-size(50px);
      }
    }
  }
  &__button {
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      width: 195px;
    }
  }
}