<!DOCTYPE html>
<html lang="ru">
<head>
<!--  &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  -->
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="ff">
  <%= JSON.stringify(htmlWebpackPlugin) %>
</div>
</body>
</html>