@import url('https://rsms.me/inter/inter.css');

body {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif;
  }
}

%title {
  font: {
    family: $font-family-bender;
    style: italic;
    weight: 900;
  }
  letter-spacing: 0.02em;
  text-transform: uppercase;
  //color: #101010;
}

@mixin title {
  font: {
    family: $font-family-bender;
    style: italic;
    weight: 900;
  }
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

%button-reset {
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-size: 0.875rem;
  @include media-breakpoint-up(xl) {
    font-size: 1rem;
  }
}

//html,
//body {
//  height: 100%;
//}

body,
input,
textarea,
select,
button {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//* {
//  transition: $animation;
//}

a {
  transition: color .2s ease;
}

p {
  line-height: 22px;
  font-size: 14px;

  @include media-breakpoint-up(xl) {
    line-height: 25px;
    font-size: 16px;
  }
}

svg,
img,
video,
audio {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %title;

  @include font-size(24px);
  line-height: 30px;

  @include media-breakpoint-up(md) {
    @include font-size(36px);
    line-height: 46px;
  }
}

@include media-breakpoint-up(xl) {
  h1 {
    @include font-size(60px);
    line-height: 69px;
    margin-bottom: 48px;
  }
  h2 {
    line-height: 54px;
    font-size: 40px;
  }
}

::selection {
  color: white;
  background: $main-color;
}

.selection {
  color: $main-color;
}

.red {
  color: $main-color;
}

.green {
  color: #80C627;
}

.nowrap {
  white-space: nowrap;
}

.inter-ui {
  font-family: "Inter UI", sans-serif;
}

.price {
  &::after {
    content: '₽';
    margin-left: 0.25em;
    font-family: "Inter UI", sans-serif;
  }
}

.skew {
  transform: $skew;
}

.skew-reverse {
  transform: $skew-reverse;
}

//@mixin mre-btn($map) {
//  $btn-reset: (
//          'border': 0,
//          'padding': 0,
//          'font': inherit,
//          'color': inherit,
//          'background-color': transparent,
//          'cursor': pointer,
//  );
//  //$r: map-merge($btn-reset, $map);
//
//  @each $name, $val in map-merge($btn-reset, $map) {
//    #{$name}: #{$val};
//  }
//;
//}
//.test {
//  @include mre-btn((
//          font-size: 10px,
//          border: 1px solid red
//  ))
//}

$input-height: 60px;
$input-height-xl: 60px;
$input-font-size: 16px;
$input-font-size-xl: 16px;

$input-padding-x: 16px;
$input-line-height: 1.5;
$input-border-width: 3px;

.input-field {
  position: relative;

  font-family: $font-family-bender;
  font-size: $input-font-size;
  line-height: $input-line-height;
  letter-spacing: 0.02em;
  font-weight: 900;
  color: #1A1A1A;
  &.active {
    .input-field {
      &__label {
        transform: translateY(-50%) translateY(-16px) scale(0.625);
      }
      &__input {

      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: $input-padding-x + $input-border-width;
    margin-bottom: 0;
    transform: translateY(-50%);
    text-transform: uppercase;
    opacity: .4;
    transition: transform .3s ease;
    transform-origin: left;

  }
  &__input {
    @extend .input-text;
  }
}

.input-text {

  $input-height: 60px !default;
  $input-height-xl: 60px !default;
  $input-font-size: 16px !default;
  $input-font-size-xl: 16px !default;

  $input-padding-x: 20px !default;
  $input-line-height: 1.5 !default;
  $input-border-width: 3px !default;

  letter-spacing: 0.02em;

  display: block;
  width: 100%;
  font-weight: 900;
  color: #1A1A1A;
  border-radius: 0;
  font-family: $font-family-bender;
  background-color: white;
  background-clip: padding-box;

  border: $input-border-width solid black;

  height: $input-height;
  padding-left: $input-padding-x;
  padding-right: $input-padding-x;

  @include mre-height-block($input-font-size, ($input-height - $input-border-width), $input-line-height);
  @include media-breakpoint-up(xl) {
    @include mre-height-block($input-font-size, ($input-height-xl - $input-border-width), $input-line-height);
  }

  //@include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &:hover {
    border-color: $main-color;
  }
  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    //color: $input-focus-color;
    //background-color: $input-focus-bg;
    border-color: $main-color;
    outline: 0;
    // Avoid using mixin so we can pass custom focus shadow properly
    //@if $enable-shadows {
    //  box-shadow: $input-box-shadow, $input-focus-box-shadow;
    //} @else {
    //  box-shadow: $input-focus-box-shadow;
    //}
  }

  // Placeholder
  &::placeholder {
    text-transform: uppercase;
    color: rgba(#1A1A1A, 0.4);
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}

textarea.form-control {
  height: auto;
}

//.checkbox {
//  position: relative;
//  outline: 0;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  margin-bottom: 0px;
//  margin-right: 5px;
//  vertical-align: top;
//  box-sizing: border-box;
//  padding: 0;
//  border: 2px solid $main-color;
//  height: 26px;
//  width: 26px;
//  background: none;
//  border-radius: 50%;
//  cursor: pointer;
//
//  &::before {
//    content: '';
//    position: absolute;
//    width: 5px;
//    height: 10px;
//    border: 2px solid black;
//    border-left: 0;
//    border-top: 0;
//
//    transition: $animation;
//    opacity: 0;
//
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//  }
//
//  &:checked:before {
//    opacity: 1;
//    transform: translate(-50%, -60%) rotate(45deg);
//  }
//
//  @include media-breakpoint-up(lg) {
//    height: 25px;
//    width: 25px;
//    &:checked::before {
//      width: 7px;
//      height: 14px;
//    }
//    &_small {
//      height: 18px;
//      width: 18px;
//    }
//  }
//
//  @include media-breakpoint-up(xl) {
//    height: 30px;
//    width: 30px;
//
//    &_small {
//      height: 22px;
//      width: 22px;
//
//      &:checked::before {
//        width: 5px;
//        height: 10px;
//      }
//    }
//  }
//}
//
//@keyframes checkboxAnimation {
//  0% {
//    transform: scale(1);
//  }
//  50% {
//    transform: scale(0);
//  }
//  100% {
//    transform: scale(1);
//  }
//}

// Buttons

.btn {
  $btn-height: 70px;
  $btn-padding-x: 10px;
  $btn-font-size: 18px;
  $btn-line-height: 1.5;
  $btn-border-width: 3px;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  display: inline-block;
  position: relative;
  font-family: $font-family-bender;
  font-weight: 900;
  font-style: normal;
  color: black;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include transition($btn-transition);

  padding-left: $btn-padding-x;
  padding-right: $btn-padding-x;

  @include mre-height-block(16px, 60px, 1.5, $btn-border-width);
  @include media-breakpoint-up(xl) {
    @include mre-height-block(18px, 70px, 1.5, $btn-border-width);
    //@include mre-height-block($btn-font-size, $btn-height, $btn-line-height, rem);
  }

  @include hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    //box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

.btn-skew {
  transform-origin: center bottom;
  transform: $skew;

  &__revers {
    display: inline-block;
    transform: $skew-reverse;
  }
}

.btn-red {
  @include button-variant($main-color, $main-color, #1B1B1B, #1B1B1B);
}

.btn-black {
  @include button-variant(#101010, #101010, #1B1B1B, #1B1B1B, #1B1B1B, #1B1B1B);
}

.btn-gray {
  @include button-variant(#F5F5F5, #F5F5F5, $main-color, $main-color);
  color: $main-color;
}

.btn-gray-2 {
  @include button-variant(#E7E7E7, #E7E7E7);
  color: rgba(#101010, 0.4);
}

.btn-border-red {
  //color: #101010;
  //border-color: #DD3F30;
  @include button-outline-variant(#DD3F30, #FFFFFF);
  //color: $main-color;
}

.slider-nav {

  &.disabled {
    display: none;
  }
  &__button {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @extend .btn-red;

    &_left {
      left: 0;
      margin-left: -30px;
    }
    &_right {
      right: 0;
      margin-right: -30px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: -40px;
      width: 80px;
      height: 80px;
      &_left {
        margin-left: -40px;
      }
      &_right {
        margin-right: -40px;
      }
    }
  }
}

.btn-close {
  @include button-variant($main-color, $main-color, #1B1B1B, #1B1B1B);
  border-radius: 50%;

  width: 61px;
  height: 61px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 3px;
    background: white;
    top: 50%;
    left: 50%;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.wrapper {
  //padding-top: 45px;
  @include media-breakpoint-up(md) {
    padding-top: 0;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 0;
  }
}

.page-header {
  padding-top: 32px;
  padding-bottom: 30px;
}

.page-title {
  margin-top: 28px;
  margin-bottom: 0;
}

.breadcumps {
  font-family: $font-family-bender;
  font-style: italic;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  &__link {

  }
  &__page {
    color: rgba(#101010, 0.4);
  }
  &__delimiter {

    //color: $main-color;
    width: 2px;
    height: 11px;
    display: inline-block;
    transform: skewX(-12deg);
    background-color: $main-color;
    margin: 0 5px -1px;
  }
}

.input-counter {
  font-family: $font-family-bender;
  font-style: italic;
  &__up {
    @extend %button-reset;
    color: $main-color;
  }
  &__down {
    @extend %button-reset;
    color: $main-color;
  }
}