.icon {
  display: inline-block;
  width: 60px;
  height: 60px;

  font-size: 0;
  line-height: 60px;
  //color: rgba(white, 0);

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.icon-fb {
  background-image: url("../img/fb-logo.svg");
}
.icon-inst {
  background-image: url("../img/inst-logo.svg");
}
.icon-vk {
  background-image: url("../img/vk-logo.svg");
}
.icon-vk {
  background-image: url("../img/ok-logo.svg");
}