
@import "variables";
@import "libs/jquery.fancybox";
@import "libs/owl-carousel/owl.carousel";
@import "carousel-theme";

//@import "fonts/muler";
//@import "fonts/museo-cyrl";
//@import "fonts/stem";


@import "fonts/bender";
@import "fonts/inter";

@import "bootstrap"; // 4.3.1

@import "functions";
@import "custom-grid";

@import "icon";
@import 'global';
@import "header";
@import "footer";
@import "slider";
@import "modal";

@import "main-page";
@import "catalog";
