mixin sprite(name)
    svg&attributes(attributes)
        use(xlink:href='images/new-sprite.svg#sprite-' + name.replace('.svg', ''))

footer.footer
    .footer__top
        .container
            a.footer__logo(href='#')
                +sprite('logo.svg')
            .row
                .col-6.col-md-3
                    nav.footer-nav
                        h4.footer-nav__title
                            | Питание
                        ul.footer-nav__list
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Протеин
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Гейнер
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Аминокислоты
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Батончики и закуски
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Выносливость и силовые
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Продукты для здоровья
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Похудение
                .col-6.col-md-3
                    nav.footer-nav
                        //a.footer-nav__title(href='#')
                        h4.footer-nav__title
                            | Одежда
                        ul.footer-nav__list
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Женская одежда
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Мужская одежда
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Экипировка
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Аксессуары
                .col-6.col-md-3
                    nav.footer-nav
                        //a.footer-nav__title(href='#')
                        h4.footer-nav__title
                            | Покупателям
                        ul.footer-nav__list
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Производители
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Доставка и оплата
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Программа бонусов
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Адреса магазинов
                            li.footer-nav__item.footer-nav__item_select
                                a.footer-nav__link(href='#') Распродажа
                .col-6.col-md-3
                    nav.footer-nav
                        //a.footer-nav__title(href='#')
                        h4.footer-nav__title
                            | Компания
                        ul.footer-nav__list
                            li.footer-nav__item
                                a.footer-nav__link(href='#') О компании
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Франчайзинг
                            li.footer-nav__item
                                a.footer-nav__link(href='#') Контакты
            .footer-contacts
                .footer-contacts__address
                    .footer-contacts__title Магазины в нижнем новгороде
                    .footer-address
                        address.footer-address__item
                            .footer-address__address ул. Подводников, 31
                            a.footer-address__tel(href='#') 8 (920) 024-33-14
                            a.footer-address__scheme(href='#') Схема проезда
                        address.footer-address__item
                            .footer-address__address ул. Невзоровых, 64к2
                            a.footer-address__tel(href='#') 8 (920) 028-20-44
                            a.footer-address__scheme(href='#') Схема проезда
                        address.footer-address__item
                            .footer-address__address ул. Подводников, 31
                            a.footer-address__tel(href='#') 8 (920) 024-33-14
                            a.footer-address__scheme(href='#') Схема проезда
                        address.footer-address__item
                            .footer-address__address ул. Невзоровых, 64к2
                            a.footer-address__tel(href='#') 8 (920) 028-20-44
                            a.footer-address__scheme(href='#') Схема проезда
                        address.footer-address__item
                            .footer-address__address ул. Невзоровых, 64к2
                            a.footer-address__tel(href='#') 8 (920) 028-20-44
                            a.footer-address__scheme(href='#') Схема проезда
                .footer-contacts__social
                    a.footer-contacts__social-item(href='#')
                        i.icon.icon-vk Вконтакте
                    a.footer-contacts__social-item(href='#')
                        i.icon.icon-fb Facebook
                    a.footer-contacts__social-item(href='#')
                        i.icon.icon-inst Instagram
    .footer__bottom
        .footer__inner.container
            .footer__copyright © DO4A.COM, 2019
            a.footer__doc(href='#') Политика конфиденциальности
            a.footer__dev(href='https://riverstart.ru/')
                +sprite('riverstart-logo.svg')
