mixin sprite(name)
    svg&attributes(attributes)
        use(xlink:href='images/new-sprite.svg#sprite-' + name.replace('.svg', ''))

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(content='initial-scale=1, viewport-fit=cover', name='viewport')
        title= htmlWebpackPlugin.options.title
    body
        block header
            include header
        block wrapper
        include footer
        block modal
            include modal
        script
            include ../dev.js
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
