doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0', name='viewport')
        title= htmlWebpackPlugin.options.title
    body.main
        block header
            include template/header
        block wrapper
        //    wrapper
        block footer
            include template/footer
        block modal
            include template/modal
