extends template/template
block wrapper
    main.wrapper
        article
            header.cart-section-header
                .container
                    .breadcumps
                        a.breadcumps__link.red(href='#') Главная
                        span.breadcumps__delimiter
                        span.breadcumps__page Оформление заказа
                    h2 Оформление заказа
            #vueTest
