doctype html
html(lang='ru')
    head
        title= htmlWebpackPlugin.options.title
        link(href=require('./scss/mini-banner.scss'), rel='stylesheet')
    body
        .mini-banner
            | Бесплатная доставка при заказе от
            span.price 2 990