extends template/template
block wrapper
    main.wrapper
        .page-header
            .container
                .breadcumps
                    a.breadcumps__link.red(href='#') Главная
                    span.breadcumps__delimiter
                    span.breadcumps__page Производители

                h1.page-header__title Производители


                .page-header__search
                    form.search-fild
                        input.search-fild__input.input-text(placeholder='Поиск по производителям', type='text')
                        button.search-fild__loupe(type='submit')
                            +sprite('loupe.svg')

        .catalog-control
            .catalog-control__menu.catalog-control__menu_white#vueMobile
                .category-list-mob
                    .category-list-mob__item Все категории
                    .category-list-mob__item.active Сывороточный
                    .category-list-mob__item Комплексный
                    .category-list-mob__item Сывороточный
                    .category-list-mob__item Комплексный
            .catalog-control__menu.catalog-control__menu_white
                .container
                    .view
                        .view__category
                            fieldset.multifilter(data-filter-name="Type")
                                button.multifilter__content(data-toggle="dropdown" type="button")
                                    span.multifilter__label Тип товара:
                                    span.multifilter__value Не выбрано
                                .dropdown-menu(role="form")
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="1030" value="1030")
                                        label.multifilter-checkbox__label(for="1030") Протеин
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="1011" value="1011")
                                        label.multifilter-checkbox__label(for="1011") Набор массы
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="1015" value="1015")
                                        label.multifilter-checkbox__label(for="1015") Похудение
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="989" value="989")
                                        label.multifilter-checkbox__label(for="989") Аминокислоты
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="995" value="995")
                                        label.multifilter-checkbox__label(for="995") Батончики, напитки, закуски
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="1002" value="1002")
                                        label.multifilter-checkbox__label(for="1002") Выносливость и силовые
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="1019" value="1019")
                                        label.multifilter-checkbox__label(for="1019") Продукты для здоровья
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="1039" value="1039")
                                        label.multifilter-checkbox__label(for="1039") Аксессуары
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="1047" value="1047")
                                        label.multifilter-checkbox__label(for="1047") Экипировка
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="974" value="974")
                                        label.multifilter-checkbox__label(for="974") Женская одежда
                                    div.multifilter-checkbox
                                        input.multifilter-checkbox__input(type="checkbox" id="981" value="981")
                                        label.multifilter-checkbox__label(for="981") Мужская одежда
                            fieldset.multifilter(data-filter-name="Category" data-filter-parent="Type" disabled)
                                button.multifilter__content(data-toggle="dropdown" type="button")
                                    span.multifilter__label Категория:
                                    span.multifilter__value Выберите тип товара
                                .dropdown-menu(role="form")
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1030" type="checkbox" id="1036" value="1036">
                                    <label class="multifilter-checkbox__label" for="1036">Сывороточный</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1030" type="checkbox" id="1035" value="1035">
                                    <label class="multifilter-checkbox__label" for="1035">Комплексный</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1030" type="checkbox" id="1034" value="1034">
                                    <label class="multifilter-checkbox__label" for="1034">Казеин и молочный</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1030" type="checkbox" id="1031" value="1031">
                                    <label class="multifilter-checkbox__label" for="1031">Растительный</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1030" type="checkbox" id="1033" value="1033">
                                    <label class="multifilter-checkbox__label" for="1033">Изоляты и гидролизаты</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1030" type="checkbox" id="1037" value="1037">
                                    <label class="multifilter-checkbox__label" for="1037">Яичный</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1030" type="checkbox" id="1032" value="1032">
                                    <label class="multifilter-checkbox__label" for="1032">Говяжий</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1011" type="checkbox" id="1012" value="1012">
                                    <label class="multifilter-checkbox__label" for="1012">Гейнеры на быстрых углеводах</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1011" type="checkbox" id="1013" value="1013">
                                    <label class="multifilter-checkbox__label" for="1013">Гейнеры на долгих углеводах</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1011" type="checkbox" id="1014" value="1014">
                                    <label class="multifilter-checkbox__label" for="1014">Углеводные коктейли</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1015" type="checkbox" id="1016" value="1016">
                                    <label class="multifilter-checkbox__label" for="1016">Жиросжигатели</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1015" type="checkbox" id="1017" value="1017">
                                    <label class="multifilter-checkbox__label" for="1017">Л-карнитин</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1015" type="checkbox" id="1018" value="1018">
                                    <label class="multifilter-checkbox__label" for="1018">Безопасные жиросжигатели</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="989" type="checkbox" id="991" value="991">
                                    <label class="multifilter-checkbox__label" for="991">BCAA</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="989" type="checkbox" id="992" value="992">
                                    <label class="multifilter-checkbox__label" for="992">Глютамин</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="989" type="checkbox" id="993" value="993">
                                    <label class="multifilter-checkbox__label" for="993">Комплексные</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="989" type="checkbox" id="990" value="990">
                                    <label class="multifilter-checkbox__label" for="990">Аргинин и донаторы NO</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="989" type="checkbox" id="994" value="994">
                                    <label class="multifilter-checkbox__label" for="994">Прочие аминокислоты</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="995" type="checkbox" id="997" value="997">
                                    <label class="multifilter-checkbox__label" for="997">Напитки</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="995" type="checkbox" id="1064" value="1064">
                                    <label class="multifilter-checkbox__label" for="1064">Низкокалорийные Соусы и Джемы</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="995" type="checkbox" id="998" value="998">
                                    <label class="multifilter-checkbox__label" for="998">Ореховые пасты</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="995" type="checkbox" id="999" value="999">
                                    <label class="multifilter-checkbox__label" for="999">Правильное питание</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="995" type="checkbox" id="1000" value="1000">
                                    <label class="multifilter-checkbox__label" for="1000">Сахарозаменители</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="995" type="checkbox" id="1001" value="1001">
                                    <label class="multifilter-checkbox__label" for="1001">Батончики и другие закуски</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1002" type="checkbox" id="1003" value="1003">
                                    <label class="multifilter-checkbox__label" for="1003">Специальные комплексы</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1002" type="checkbox" id="1008" value="1008">
                                    <label class="multifilter-checkbox__label" for="1008">Предтренировочные комплексы</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1002" type="checkbox" id="1007" value="1007">
                                    <label class="multifilter-checkbox__label" for="1007">Послетренировочные комплексы</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1002" type="checkbox" id="1005" value="1005">
                                    <label class="multifilter-checkbox__label" for="1005">Изотоники</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1002" type="checkbox" id="1006" value="1006">
                                    <label class="multifilter-checkbox__label" for="1006">Креатин</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1002" type="checkbox" id="1004" value="1004">
                                    <label class="multifilter-checkbox__label" for="1004">Бета-аланин</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1002" type="checkbox" id="1009" value="1009">
                                    <label class="multifilter-checkbox__label" for="1009">Энергетики</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1002" type="checkbox" id="1010" value="1010">
                                    <label class="multifilter-checkbox__label" for="1010">Энергетические гели</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1019" type="checkbox" id="1027" value="1027">
                                    <label class="multifilter-checkbox__label" for="1027">Омега 3-6-9</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1019" type="checkbox" id="1022" value="1022">
                                    <label class="multifilter-checkbox__label" for="1022">Витамины и минералы</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1019" type="checkbox" id="1024" value="1024">
                                    <label class="multifilter-checkbox__label" for="1024">Для суставов и связок</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1019" type="checkbox" id="1028" value="1028">
                                    <label class="multifilter-checkbox__label" for="1028">Тестобустеры и ZMA</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1019" type="checkbox" id="1021" value="1021">
                                    <label class="multifilter-checkbox__label" for="1021">Антиоксиданты и Q10</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1019" type="checkbox" id="1023" value="1023">
                                    <label class="multifilter-checkbox__label" for="1023">Для печени и ПКТ</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1019" type="checkbox" id="1025" value="1025">
                                    <label class="multifilter-checkbox__label" for="1025">Качество сна</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1019" type="checkbox" id="1029" value="1029">
                                    <label class="multifilter-checkbox__label" for="1029">Улучшение пищеварения</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1019" type="checkbox" id="1026" value="1026">
                                    <label class="multifilter-checkbox__label" for="1026">Общеукрепляющие добавки</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1019" type="checkbox" id="1020" value="1020">
                                    <label class="multifilter-checkbox__label" for="1020">Активное долголетие</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1039" type="checkbox" id="1041" value="1041">
                                    <label class="multifilter-checkbox__label" for="1041">Бутылки и шейкеры</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1039" type="checkbox" id="1043" value="1043">
                                    <label class="multifilter-checkbox__label" for="1043">Контейнеры и таблетницы</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1039" type="checkbox" id="1045" value="1045">
                                    <label class="multifilter-checkbox__label" for="1045">Сувениры</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1039" type="checkbox" id="1046" value="1046">
                                    <label class="multifilter-checkbox__label" for="1046">Спортивные сумки</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1039" type="checkbox" id="1056" value="1056">
                                    <label class="multifilter-checkbox__label" for="1056">Сумки холодильники</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1039" type="checkbox" id="1042" value="1042">
                                    <label class="multifilter-checkbox__label" for="1042">Грим и косметика</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1039" type="checkbox" id="1040" value="1040">
                                    <label class="multifilter-checkbox__label" for="1040">Аксессуары прочие</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1044" value="1044">
                                    <label class="multifilter-checkbox__label" for="1044">Перчатки</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1057" value="1057">
                                    <label class="multifilter-checkbox__label" for="1057">Бинты на колено (коленные)</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1048" value="1048">
                                    <label class="multifilter-checkbox__label" for="1048">Бинты на руку (кистевые)</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1058" value="1058">
                                    <label class="multifilter-checkbox__label" for="1058">Суппорта для суставов</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1050" value="1050">
                                    <label class="multifilter-checkbox__label" for="1050">Лямки для тяги</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1049" value="1049">
                                    <label class="multifilter-checkbox__label" for="1049">Крюки для турника</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1053" value="1053">
                                    <label class="multifilter-checkbox__label" for="1053">Пояса и ремни</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1051" value="1051">
                                    <label class="multifilter-checkbox__label" for="1051">Магнезия</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1054" value="1054">
                                    <label class="multifilter-checkbox__label" for="1054">Кинезио тейпы</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1052" value="1052">
                                    <label class="multifilter-checkbox__label" for="1052">Обувь и штангетки</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="1047" type="checkbox" id="1055" value="1055">
                                    <label class="multifilter-checkbox__label" for="1055">Экипировка прочая</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="974" type="checkbox" id="976" value="976">
                                    <label class="multifilter-checkbox__label" for="976">Лосины и штаны</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="974" type="checkbox" id="977" value="977">
                                    <label class="multifilter-checkbox__label" for="977">Толстовки и костюмы</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="974" type="checkbox" id="975" value="975">
                                    <label class="multifilter-checkbox__label" for="975">Купальники</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="974" type="checkbox" id="978" value="978">
                                    <label class="multifilter-checkbox__label" for="978">Топы и рашгарды</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="974" type="checkbox" id="979" value="979">
                                    <label class="multifilter-checkbox__label" for="979">Шапки и кепки</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="974" type="checkbox" id="980" value="980">
                                    <label class="multifilter-checkbox__label" for="980">Шорты</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="981" type="checkbox" id="982" value="982">
                                    <label class="multifilter-checkbox__label" for="982">Рашгарды и лосины</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="981" type="checkbox" id="983" value="983">
                                    <label class="multifilter-checkbox__label" for="983">Толстовки и костюмы</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="981" type="checkbox" id="984" value="984">
                                    <label class="multifilter-checkbox__label" for="984">Трико (борцовки)</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="981" type="checkbox" id="985" value="985">
                                    <label class="multifilter-checkbox__label" for="985">Футболки</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="981" type="checkbox" id="986" value="986">
                                    <label class="multifilter-checkbox__label" for="986">Шапки и кепки</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="981" type="checkbox" id="987" value="987">
                                    <label class="multifilter-checkbox__label" for="987">Шорты</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="981" type="checkbox" id="353" value="353">
                                    <label class="multifilter-checkbox__label" for="353">Оборудование свыше 40 тыс</label>
                                    </div>
                                    <div class="multifilter-checkbox">
                                    <input class="multifilter-checkbox__input" data-parent-id="981" type="checkbox" id="352" value="352">
                                    <label class="multifilter-checkbox__label" for="352">Хоз. нужды</label>
                                    </div>
                        .view__tab
                            .multifilter
                                .multifilter__content
                                    .multifilter__label Вид:
                                    .multifilter__tablist.nav(role="tablist")
                                        button.multifilter__tab.active(data-toggle="tab" role="tab" data-target="#cards")
                                            i.i.i-cards
                                        button.multifilter__tab(data-toggle="tab" role="tab" data-target="#list")
                                            i.i.i-list

                        //.view-tablist.nav(role="tablist")
                        //    span.view-tablist__label Вид:
                        //    button.view-tablist__tab.active(data-toggle="tab" role="tab" data-target="#cards")
                        //
                        //    button.view-tablist__tab(data-toggle="tab" role="tab" data-target="#list")





        .catalog
            .catalog__container.tab-content
                .brand-name-list.tab-pane#list(role="tabpanel")
                    .brand-name-list__col
                        .brand-name-list__content
                            .brand-name-list__title A
                            .brand-name-list__item AF Nutrition
                            .brand-name-list__item ANT
                            .brand-name-list__item APS
                            .brand-name-list__item ASL
                            .brand-name-list__item ASN
                            .brand-name-list__item AST
                            .brand-name-list__item All Nutrition
                            .brand-name-list__item Alpha
                            .brand-name-list__item Asics
                            .brand-name-list__item Athletic
                            .brand-name-list__item Athletic Nutrition
                            .brand-name-list__item Atletia
                            .brand-name-list__item Atletika24
                            .brand-name-list__item Atract
                            .brand-name-list__item aTech nutrition
                    .brand-name-list__col
                        .brand-name-list__content
                            .brand-name-list__title B
                            .brand-name-list__item BSN
                            .brand-name-list__item Bad Boy
                            .brand-name-list__item BeFirst
                            .brand-name-list__item Befit
                            .brand-name-list__item Best Joy
                            .brand-name-list__item Betancourt
                            .brand-name-list__item Better bodies
                            .brand-name-list__item BioTech
                            .brand-name-list__item Biovise
                            .brand-name-list__item Bison
                            .brand-name-list__item Blackstone Labs
                            .brand-name-list__item Blender Bottle
                            .brand-name-list__item Body Strong
                            .brand-name-list__item BombBar
                            .brand-name-list__item Bona Fide
                            .brand-name-list__item Boss Sports Nutrition
                            .brand-name-list__item Bounty
                            .brand-name-list__item Brachial
                            .brand-name-list__item Btoperform
                            .brand-name-list__item bpiSports
                    .brand-name-list__col
                        .brand-name-list__content
                            .brand-name-list__title A
                            .brand-name-list__item AF Nutrition
                            .brand-name-list__item ANT
                            .brand-name-list__item APS
                            .brand-name-list__item ASL
                            .brand-name-list__item ASN
                            .brand-name-list__item AST
                            .brand-name-list__item All Nutrition
                            .brand-name-list__item Alpha
                            .brand-name-list__item Asics
                            .brand-name-list__item Athletic
                            .brand-name-list__item Athletic Nutrition
                            .brand-name-list__item Atletia
                            .brand-name-list__item Atletika24
                            .brand-name-list__item Atract
                            .brand-name-list__item aTech nutrition
                    .brand-name-list__col
                        .brand-name-list__content
                            .brand-name-list__title B
                            .brand-name-list__item BSN
                            .brand-name-list__item Bad Boy
                            .brand-name-list__item BeFirst
                            .brand-name-list__item Befit
                            .brand-name-list__item Best Joy
                            .brand-name-list__item Betancourt
                            .brand-name-list__item Better bodies
                            .brand-name-list__item BioTech
                            .brand-name-list__item Biovise
                            .brand-name-list__item Bison
                            .brand-name-list__item Blackstone Labs
                            .brand-name-list__item Blender Bottle
                            .brand-name-list__item Body Strong
                            .brand-name-list__item BombBar
                            .brand-name-list__item Bona Fide
                            .brand-name-list__item Boss Sports Nutrition
                            .brand-name-list__item Bounty
                            .brand-name-list__item Brachial
                            .brand-name-list__item Btoperform
                            .brand-name-list__item bpiSports
                    .brand-name-list__col
                        .brand-name-list__content
                            .brand-name-list__title A
                            .brand-name-list__item AF Nutrition
                            .brand-name-list__item ANT
                            .brand-name-list__item APS
                            .brand-name-list__item ASL
                            .brand-name-list__item ASN
                            .brand-name-list__item AST
                            .brand-name-list__item All Nutrition
                            .brand-name-list__item Alpha
                            .brand-name-list__item Asics
                            .brand-name-list__item Athletic
                            .brand-name-list__item Athletic Nutrition
                            .brand-name-list__item Atletia
                            .brand-name-list__item Atletika24
                            .brand-name-list__item Atract
                            .brand-name-list__item aTech nutrition
                    .brand-name-list__col
                        .brand-name-list__content
                            .brand-name-list__title B
                            .brand-name-list__item BSN
                            .brand-name-list__item Bad Boy
                            .brand-name-list__item BeFirst
                            .brand-name-list__item Befit
                            .brand-name-list__item Best Joy
                            .brand-name-list__item Betancourt
                            .brand-name-list__item Better bodies
                            .brand-name-list__item BioTech
                            .brand-name-list__item Biovise
                            .brand-name-list__item Bison
                            .brand-name-list__item Blackstone Labs
                            .brand-name-list__item Blender Bottle
                            .brand-name-list__item Body Strong
                            .brand-name-list__item BombBar
                            .brand-name-list__item Bona Fide
                            .brand-name-list__item Boss Sports Nutrition
                            .brand-name-list__item Bounty
                            .brand-name-list__item Brachial
                            .brand-name-list__item Btoperform
                            .brand-name-list__item bpiSports
                    .brand-name-list__col
                        .brand-name-list__content
                            .brand-name-list__title A
                            .brand-name-list__item AF Nutrition
                            .brand-name-list__item ANT
                            .brand-name-list__item APS
                            .brand-name-list__item ASL
                            .brand-name-list__item ASN
                            .brand-name-list__item AST
                            .brand-name-list__item All Nutrition
                            .brand-name-list__item Alpha
                            .brand-name-list__item Asics
                            .brand-name-list__item Athletic
                            .brand-name-list__item Athletic Nutrition
                            .brand-name-list__item Atletia
                            .brand-name-list__item Atletika24
                            .brand-name-list__item Atract
                            .brand-name-list__item aTech nutrition
                    .brand-name-list__col
                        .brand-name-list__content
                            .brand-name-list__title B
                            .brand-name-list__item BSN
                            .brand-name-list__item Bad Boy
                            .brand-name-list__item BeFirst
                            .brand-name-list__item Befit
                            .brand-name-list__item Best Joy
                            .brand-name-list__item Betancourt
                            .brand-name-list__item Better bodies
                            .brand-name-list__item BioTech
                            .brand-name-list__item Biovise
                            .brand-name-list__item Bison
                            .brand-name-list__item Blackstone Labs
                            .brand-name-list__item Blender Bottle
                            .brand-name-list__item Body Strong
                            .brand-name-list__item BombBar
                            .brand-name-list__item Bona Fide
                            .brand-name-list__item Boss Sports Nutrition
                            .brand-name-list__item Bounty
                            .brand-name-list__item Brachial
                            .brand-name-list__item Btoperform
                            .brand-name-list__item bpiSports


                .card-list.tab-pane.active#cards(role="tabpanel")
                    -
                        const vandorCards = [
                        {
                        data: '1041,977,974,1038,1039,1046,973',
                        letter: 'letter-A',
                        name: 'ASICS',
                        description: 'ASICS - японская корпорация, один из крупнейших в мире производителей спортивной одежды и обуви, основанная в 1949 году.',
                        img: 'https://marketdo4a.com/upload/resizer/02/65178_212x212_023fcd0f28a28b46db8a3881274ff6fe.png',
                        }, {
                        name: 'Adidas',
                        description: 'Немецкий промышленный концерн, специализирующийся на выпуске спортивной обуви, одежды и инвентаря. ',
                        img: 'https://marketdo4a.com/upload/resizer/29/66525_212x212_293f83efde3fccdfe63a8cbf5ed1bedf.png',
                        stock: '5 товаров от 1 950 ₽',
                        }, {
                        data: '1024,988,1019,1015,1002,1027,1017,1008,995,1018,1001',
                        name: 'Название (1 строка)',
                        description: 'Описание (4 строки)',
                        stickers: ['red'],
                        }, {
                        name: 'Muscular Development',
                        description: 'ASICS - японская корпорация, один из крупнейших в мире производителей спортивной одежды и обуви, основанная в 1949 году. ASICS - японская корпорация, один из крупнейших в мире производителей спортивной одежды и обуви, основанная в 1949 году.',
                        }, {
                        price: '1 750',
                        sale: '600',
                        }, {
                        letter: 'letter-B',
                        price: '1 750',
                        sale: '600',
                        }, {
                        data: '1057,1047,1048,1038',
                        price: '1 750',
                        sale: '600',
                        }, {
                        price: '1 750',
                        sale: '600',
                        },
                        ]
                    each card in vandorCards
                        div.vendor-card(data-sections-id=(card.data))
                            .vendor-card__wrapper
                                .vendor-card__img
                                    img(src=(card.img || 'https://marketdo4a.com/upload/resizer/02/65178_212x212_023fcd0f28a28b46db8a3881274ff6fe.png')
                                        alt=(card.name || 'Название картинки'))

                                .vendor-card__body
                                    a.vendor-card__title.stretched-link(href='#')
                                        | #{card.name || 'Название'}
                                    .vendor-card__description
                                        | #{card.description || 'Описание'}

                                .vendor-card__footer
                                    .vendor-card__row
                                        .vendor-card__stock-title
                                            | В магазинах
                                        .vendor-card__stock-value
                                            | #{card.stock || 'Нет товаров в наличии'}

                            if card.stickers
                                .product-stickers
                                    // Модификаторы:
                                    //    .product-stickers_item_yellow     - Желтый фон
                                    //    .product-stickers_item_green      - Зеленый фон
                                    //    .product-stickers_item_red        - Красный фон
                                    //    .product-stickers_item_delivery   - Иконка доставки
                                    each sticker in card.stickers
                                        if sticker === 'delivery'
                                            .product-stickers__item.product-stickers__item_red.product-stickers__item_delivery
                                                | Доставка <br>1 день
                                        else if sticker === 'yellow'
                                            .product-stickers__item.product-stickers__item_yellow
                                                | Рекомендуем
                                        else if sticker === 'green'
                                            .product-stickers__item.product-stickers__item_green
                                                | Новинка
                                        else if sticker === 'red'
                                            .product-stickers__item.product-stickers__item_red
                                                | Скидки <br>до 15%



        .catalog-description
            .container
                p
                    | Протеин – это натуральная белковая добавка в виде порошковой смеси, которая применяется в спортивном питании
                    | для роста, поддержания и восстановления мышечной массы, а также для коррекции рациона любого современного
                    | человека.
                p
                    | Для чего нужен протеин? Белок состоит из аминокислот, которые являются основными строительными «кирпичиками»,
                    | необходимыми для построения мышц. Протеин - одна из самых востребованных спортивных добавок, необходимых для
                    | роста и поддержания мышечной массы. Именно поэтому, чтобы повысить качество тренировки и извлечь из нее
                    | максимальную пользу, вы должны обеспечить свой организм достаточным количеством протеина. Прием протеиновых
                    | коктейлей – чрезвычайно эффективный и достаточно экономичный способ обеспечения организма белком.
                p
                    | Ознакомьтесь с нашими высококачественными продуктами здесь и выберите для себя наиболее подходящий вам белковый
                    | порошок или коктейль.
        .benefits
            .container
                .row
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-cup.svg')(height='62', width='91')
                            .benefits__title
                                | Профессиональная
                                br
                                | консультация
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-hand.svg')(height='87', width='86')
                            .benefits__title
                                | Официальная
                                br
                                | продукция
                    .col-xl-6
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-mail.svg')(height='69', width='68')
                            .benefits__title
                                | Подписаться
                                br
                                | на новости
                            form.benefits__form
                                .input-field
                                    label.input-field__label(for='email-1') Твой e-mail
                                    input#email-1.input-field__input(type='email')
                                button.btn.btn-block.btn-red Подписаться
