//
//body {
//  //background: url("../img/rm/checkout-basket-320.png") center top no-repeat;
//  background: url("../img/rm/checkout-basket-320.png") center -165px no-repeat;
//
//  > * {
//    opacity: 0.5;
//  }
//
//  @include media-breakpoint-up(xl) {
//    background: url("../img/rm/checkout-1920.png") center top no-repeat;
//  }
//}

.cart-section-header {
  padding-top: 20px;
  padding-bottom: 0;
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 42px;
    padding-bottom: 55px;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;

    @include media-breakpoint-up(md) {
      font-size: 36px;
      line-height: 41px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 24px;
      font-size: 40px;
      line-height: 1;
    }
  }
}

.cart {
  padding-bottom: 50px;

  @include media-breakpoint-up(xl) {

    overflow: hidden;
  }

  &__inner {

    @include media-breakpoint-up(xl) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__col-left {

    @include media-breakpoint-up(xl) {
      flex: 0 0 448px;
      max-width: 448px;
    }
  }

  &__col-right {

    @include media-breakpoint-up(xl) {
      flex: 0 0 690px;
      max-width: 690px;
    }
  }
}

.cart-mobile-header {
  display: flex;
  padding: 5px $container-padding-right-mobile 5px $container-padding-left-mobile;
  overflow: auto;
  list-style: none;

  @include media-breakpoint-up(xl) {
    display: none;
  }

  &__item {
    position: relative;
    flex: 1 0 auto;
    padding-right: 30px;
    color: rgba(#000, 0.5);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1;

    &.active {
      > .cart-mobile-header__link {
        border-bottom-color: $main-color;
        color: #000;
      }
    }

    &:not(:last-of-type) {
      &::after {
        content: '->';
        position: absolute;
        top: 4px;
        right: 7px;
      }
    }
  }

  &__link {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid transparent;
  }
}

.cart-mobile-bottom {
  position: fixed;
  z-index: $zindex-fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


.order-personal-info {
  margin-bottom: 30px;

  &__form {
    margin-right: -$container-padding-x;
    margin-left: -$container-padding-x;
    padding: 17px $container-padding-right-mobile 25px $container-padding-left-mobile;

    @include media-breakpoint-down(sm) {
      .input-field_primary .input-field__input {
        height: 50px;
        background-color: #fff;
      }
    }

    @include media-breakpoint-up(md) {
      margin-right: 0;
      margin-left: 0;
      background-color: #fff;
    }

    @include media-breakpoint-up(xl) {
      margin-left: -50vw;
      padding-top: 32px;
      padding-right: 64px;
      padding-left: 50vw;
    }
  }

  &__title {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__error {
    padding-left: 0;
    list-style: none;
    color: $main-color;
    font-weight: 500;
  }

  &__subtitle {
    margin-bottom: 18px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
  }

  &__container {
    margin-bottom: 40px;
  }

  &__note {
    margin-top: 60px;
    color: rgba(#000, 0.5);
    font-size: 12px;
  }
}

.order-alert {
  padding: 13px (map_get($grid-gutter-width-map, xs) / 2) 17px;
  background-color: #292929;
  color: rgba(#fff, 0.6);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 20px;

  @include media-breakpoint-up(xl) {
    margin-left: -50vw;
    padding-right: 64px;
    padding-left: 50vw;
  }

  &__title {
    color: #fff;
  }
}

.order-shiping {
  margin-right: -$container-padding-x;
  margin-bottom: 30px;
  margin-left: -$container-padding-x;
  padding: 25px $container-padding-x 54px;
  background-color: #fff;

  @include media-breakpoint-up(md) {
    margin-right: 0;
    margin-left: -50vw;
    padding: 27px 64px 51px 50vw;
  }

  &__title {
    margin-bottom: 19px;
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 6px;
    font-weight: 500;
  }

  &__error {
    color: $red;
  }

  &__name {
    font-size: 17px;
  }

  &__btn-delete {
    padding: 0;
    transition: color .1s ease;
    border: 0;
    background: none;
    box-shadow: none;
    color: $main-color;
    font-size: 15px;

    &:focus,
    &:hover {
      outline: none;
      color: #101010;
    }
  }

  &__quantity {
    margin-bottom: 141px;
    color: rgba(#000, 0.5);
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 1;
  }

  &__shipping-type {
    margin-bottom: 47px;
  }
}

.order-option {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;

  letter-spacing: -0.01em;
  @include media-breakpoint-up(md) {
    margin-bottom: 13px;
  }

  //&.active {
  //  .order-option__header {
  //    box-shadow: inset 0 0 0 2px #80c627;
  //
  //    &::before {
  //      opacity: 1;
  //    }
  //  }
  //
  //  .order-option__body {
  //    display: block;
  //  }
  //}

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      ~ .order-option__header {
        box-shadow: inset 0 0 0 2px #80c627;

        &::before {
          opacity: 1;
        }
      }

      ~ .order-option__body {
        display: block;
      }
    }
  }

  &__header {
    display: block;
    position: relative;
    margin-bottom: 0;
    padding: 15px 22px 15px;
    transition: all .3s ease;
    box-shadow: inset 0 0 0 1px #d1d1d1;
    cursor: pointer;
    @include iconfont('circle-check');

    &::before {
      position: absolute;
      z-index: 1;
      top: 10px;
      right: 10px;
      transition: opacity .3s ease;
      opacity: 0;
      color: #80c627;
      font-size: 20px;
      line-height: 1;
    }

    //&::after {
    //  content: '';
    //  position: absolute;
    //  top: 10px;
    //  right: 10px;
    //  width: 20px;
    //  height: 20px;
    //  transition: opacity .3s ease;
    //  border-radius: 50%;
    //  opacity: 0;
    //  background-color: #80c627;
    //}
  }

  &__title {
    margin-bottom: 13px;
    overflow: hidden;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__info {
    display: flex;
    overflow: hidden;
    color: rgba(#101010, 0.6);
    font-size: 15px;
    font-weight: 500;

    letter-spacing: -0.01em;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;

    > * {
      margin-right: 14px;
    }
  }

  &__img {
    position: absolute;
    top: 13px;
    right: 13px;
    //bottom: 13px;
    //width: 64px;
    max-width: 64px;
    max-height: 51px;
  }

  &__body {
    display: none;
    padding: 21px 21px;
    background-color: #f7f7f7;
  }

  &__subtitle {
    margin-bottom: 21px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 18px;
  }

  &__description {
    margin-bottom: 0;
    color: rgba(#000, 0.6);
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
  }
}

.order-option-list {
  &__item {

  }

  &__title {

  }

  &__link {
    color: rgba(#000, 0.6);
  }
}

//
//
.order {
  position: relative;

  &__title {
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: -39px;
      right: 0;
      color: rgba(#101010, 0.4);
      font-size: 16px;
      line-height: 22px;
    }
    @include media-breakpoint-up(md) {
      font-size: 23px;
      line-height: 31px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 17px;
    }
  }

  &__subtitle {
    margin-bottom: 18px;

    @include media-breakpoint-up(md) {
      margin-bottom: 29px;
    }
  }

  &__btn-clear {
    //@extend .btn
    padding: 0;
    transition: color .1s ease;
    border: 0;
    background: none;
    box-shadow: none;
    font-size: 15px;
    font-weight: 500;

    //color: #000;

    &:focus,
    &:hover {
      outline: none;
      color: $main-color;
    }

    > span {
      border-bottom: 1px dashed rgba(#101010, 0.4);
    }
  }

  &__btn-checkout {

    @include media-breakpoint-up(md) {
      flex: 0 0 50%
    }
  }

  &__promocode {

  }

  &__amount {

  }

  &__footer {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__footer-note {
    margin-top: 30px;
    color: rgba(16, 16, 16, 0.7);
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 19px;

    a {
      color: $main-color;
    }

    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}

.order-item {
  margin-right: -$container-padding-x;
  margin-bottom: 10px;
  margin-left: -$container-padding-x;
  line-height: 1;
  @include media-breakpoint-up(md) {
    margin-right: 0;
    margin-left: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 11px 8px 19px;
    background-color: #eee;

    &_dark {
      background: #292929;
      color: #fff;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  &__list {
  }

  &__product {
    height: 128px;
    margin-bottom: 4px;
    overflow: hidden;
    transition: all .3s ease;
    @include media-breakpoint-up(md) {
      height: 90px;
      margin-bottom: 6px;
    }

    &.slide-enter,
    &.slide-leave-to {
      height: 0;
    }
  }

  &__amount {
    padding: 18px 22px;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    //@include media-breakpoint-up(md) {
    //
    //}
  }

  &__row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 14px;
    font-size: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      flex: 1 0 auto;
      align-self: center;
      order: 2;
      height: 3px;
      margin: 5px 10px 0;
      //background: #d7d7d7;
      background: url("../img/dot.svg") left center repeat-x;
    }
  }

  &__key {
    order: 1;
    color: rgba(#000, 0.5);
  }

  &__value {
    order: 3;

    b {
      @include title;
      font-size: 16px;
    }

    small,
    .icon {
      margin-right: 10px;
    }
  }
}

.order-product {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  height: 128px;
  padding: 15px $container-padding-right-mobile 15px $container-padding-left-mobile;
  overflow: hidden;

  background: #fff;
  line-height: 1;

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 90px;
    padding: 10px 75px 10px 10px;
  }

  &__counter {
    display: flex;
    transform: $skew;
  }

  &__count-note {
    display: none;
    margin-top: 11px;
    color: rgba(#000, 0.6);
    font-size: 12px;
    line-height: 1;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__increment,
  &__decrement {
    @extend %button-reset;
    @include title;
    width: 46px;
    padding: 6px 14px;
    background-color: #f5f5f5;
    font-size: 22px;
    font-style: normal;
    line-height: 1;

    @include media-breakpoint-up(md) {
      padding: 6px 14px;
      background-color: transparent;
    }
  }

  &__quantity {
    @include title;
    width: 56px;
    //min-width: 43px;
    margin: 0 8px;
    padding: 6px 0;
    border: 3px solid #101010;
    background: #fff;
    font-size: 18px;
    font-style: normal;
    line-height: 1;
    @include media-breakpoint-up(md) {
      width: 43px;
    }
  }

  &__col-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      width: 65px;
      height: 65px;
      margin-right: 18px;
    }
  }

  &__col-info {
    max-width: 180px;
    height: 40px;
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 190px;
      height: 100%;
      padding-top: 7px;
    }
  }

  &__name {
    display: block;
    max-width: 100%;
    overflow: hidden;
    color: #000;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 17px;
    //max-height: 37px;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include media-breakpoint-up(md) {
      font-size: 15px;
      line-height: 18px;
      white-space: normal;
    }
  }

  &__description {
    color: rgba(#000, 0.5);
    font-size: 12px;
    letter-spacing: -0.01em;
    line-height: 14px;
  }

  &__col-count {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: center;
    @include media-breakpoint-up(md) {
      position: relative;
      bottom: 0;
      left: 0;
      margin-left: auto;
      padding-top: 4px;
    }
  }

  &__col-price {
    //margin-left: 30px;
    min-width: 110px;
    margin-left: auto;
    text-align: right;
    @include media-breakpoint-up(md) {
      margin-left: 0;
    }
  }

  &__old-price {
    @include title;
    color: rgba(#101010, 0.6);
    font-size: 13px;
    @include media-breakpoint-up(md) {
      font-size: 15px;

    }
  }

  &__price {
    @include title;
    margin: 2px 0 3px;
    font-size: 18px;
    @include media-breakpoint-up(md) {
      margin: 2px 0 8px;
      font-size: 22px;
    }
  }

  &__profit {
    color: $main-color;
    font-size: 10px;
    @include media-breakpoint-up(md) {
      font-size: 12px;
    }
  }

  &__btn-delete {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    height: 20px;

    padding: 0;
    transition: color .1s ease;
    border: 0;
    background: none;
    box-shadow: none;

    &:active,
    &:focus {
      outline: none;
    }

    &:hover {
      color: $main-color;
    }

    @include media-breakpoint-up(md) {
      top: calc(50% - 10px);
      right: 25px;
    }
  }
}

.order-promocode {
  display: flex;
  margin: 33px 0 26px;
  padding: 0 5px;
  transform: $skew;

  &__field {
    flex: 0 0 70%;
    margin-right: 12px;
  }

  &__button {
    flex: 1 0 auto;

    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 62px;
      padding: 20px 0;
      font-size: 16px;
      line-height: 1;
    }
  }
}

.order-amount {
  line-height: 1;

  &__sale {
    @include title;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 9px;
    font-size: 15px;

    .order-amount__value {
      color: $main-color;
      font-size: 16px;
    }

    @include media-breakpoint-up(md) {
      .order-amount__value {
        font-size: 20px;
      }
    }
  }

  &__sum {
    @include title;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #101010;
    font-size: 20px;

    @include media-breakpoint-up(md) {
      font-size: 22px;
      .order-amount__value {
        font-size: 28px;
      }
    }
  }

  &__row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 7px;
    font-size: 12px;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }

    &::before {
      content: '';
      flex: 1 0 auto;
      align-self: center;
      order: 2;
      height: 3px;
      margin: 0 10px;
      //background: #d7d7d7;
      background: url("../img/dot.svg") left center repeat-x;
    }

    .order-amount__key {
      order: 1;
      color: rgba(#000, 0.5);
    }

    .order-amount__value {
      @include title;
      order: 3;
      font-size: 14px;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }

    .order-number-badge {
      margin-right: 10px;
      @include media-breakpoint-up(md) {
        margin-right: 10px;
      }
    }
  }

  &__value {
    white-space: nowrap;
  }
}

.order-number-badge {
  display: inline-block;
  padding: 3px 10px 4px;
  border-radius: 2px;
  background-color: #e1e1e1;
  color: #101010;
  font-size: 12px;
  line-height: 1;

  &_dark {
    background-color: #4d4d4d;
    color: #fff;
  }
}
