//
//body {
//  //background: url("../img/rm/checkout-basket-320.png") center top no-repeat;
//  background: url("../img/rm/checkout-basket-320.png") center -165px no-repeat;
//
//  > * {
//    opacity: 0.5;
//  }
//
//  @include media-breakpoint-up(xl) {
//    //background: url("../img/rm/checkout-1920.png") center top no-repeat;
//    //background: url("../img/rm/checkout-empty-1920.png") center top no-repeat;
//    //background: url("../img/rm/checkout-finish-2-1920.png") center top no-repeat;
//    background: url("../img/rm/checkout-finish-1-1920.png") center top no-repeat;
//  }
//}

/**
 * Финал
 */

.checkout-final {
  margin-top: -10px; // Временно
  padding-bottom: 90px;

  &__title {
    margin-bottom: 12px;
  }

  &__number {
    @include title;
    margin-bottom: 34px;
    font-size: 60px;
    line-height: 1;
  }

  &__sum-title {
    margin-top: 42px;
    margin-bottom: 3px;
  }

  &__sum {
    @include title;
    margin-bottom: 34px;
    font-size: 40px;
    line-height: 1;
  }

  &__description {
    margin-bottom: 38px;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 24px;
  }
}

.checkout-final-info {
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;

  &__item {
    margin-bottom: 22px;
  }
}

.checkout-final-pay {
  margin-top: 100px;
  margin-bottom: 100px;

  &__title {
    margin-bottom: 15px;
  }

  &__row {
    display: flex;
    align-items: center;

    > .btn {
      margin-right: 36px;
      padding-right: 44px;
      padding-left: 44px;
    }
  }
}

.checkout-final-order {
  margin-top: 67px;
  margin-bottom: 73px;

  &_card {
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px 20px;
    border-radius: 7px 7px 0 0;
    background: #fff;
    box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.05);
    @include media-breakpoint-up(md) {
      width: 620px;
      margin-left: -31px;
      padding: 33px 31px 52px;
    }
  }

  &__title {
    margin-bottom: 21px;
  }

  &__total {
    margin-top: 54px;
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 24px;
  }

  &__item {
    margin-bottom: 11px;

    > .price {
      @include title;
    }

    &_sum {
      > .price {
        font-size: 166%;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    padding-top: 32px;

    > .btn {
      padding-right: 44px;
      padding-left: 44px;
    }
  }
}

.checkout-final-map {
  display: flex;
  margin-top: 38px;

  &__container {
    flex: 860px;
    overflow: hidden;
    transform: $skew;
    transform-origin: top right;
  }

  &__map {
    height: 443px;
    margin-right: tan(9deg) * 443px / -2;
    margin-left: tan(9deg) * 443px / -2;
    transform: $skew-reverse;
    background: #efefef;
  }

  &__col {
    flex: 340px;
    padding-top: 15px;
    padding-left: 60px;
  }

  &__description {
    margin-bottom: 48px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 22px;
  }
}


/**
 * Оформление заказа
 */

.cart-section-header {
  padding-top: 20px;
  padding-bottom: 0;
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 42px;
    padding-bottom: 54px;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;

    @include media-breakpoint-up(md) {
      font-size: 36px;
      line-height: 41px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 31px;
      font-size: 40px;
      line-height: 1;
    }
  }
}

.cart-empty {
  &__title {
    margin-bottom: 19px;
  }

  &__description {
    margin-bottom: 50px;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 18px;
  }

  &__button {
    padding-right: 38px;
    padding-left: 38px;
  }
}

.cart {
  padding-bottom: 50px;

  @include media-breakpoint-up(xl) {
    overflow: hidden;
  }

  &_loading {
    opacity: 0.5;
    pointer-events: none;
  }

  &__inner {

    @include media-breakpoint-up(xl) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__col-left {

    @include media-breakpoint-up(xl) {
      flex: 0 0 448px;
      max-width: 448px;
    }
  }

  &__col-right {

    @include media-breakpoint-up(xl) {
      flex: 0 0 690px;
      max-width: 690px;
    }
  }
}

.cart-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.cart-mobile-header {
  display: flex;
  padding: 5px $container-padding-right-mobile 5px $container-padding-left-mobile;
  overflow: auto;
  list-style: none;

  @include media-breakpoint-up(xl) {
    display: none;
  }

  &__item {
    position: relative;
    flex: 1 0 auto;
    padding-right: 30px;
    color: rgba(#000, 0.5);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1;

    &.active {
      > .cart-mobile-header__link {
        border-bottom-color: $main-color;
        color: #000;
      }
    }

    &:not(:last-of-type) {
      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 4px);
        right: 10px;
        width: 11px;
        height: 8px;
        background: url('../img/cartMobileHeaderArrow.svg') center no-repeat;
      }
    }
  }

  &__link {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid transparent;
  }
}

.cart-mobile-bottom {
  position: fixed;
  z-index: $zindex-fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


.order-props {
  margin-bottom: 30px;

  &__form {
    margin-right: -$container-padding-x;
    margin-left: -$container-padding-x;
    padding: 17px $container-padding-right-mobile 25px $container-padding-left-mobile;

    //@include media-breakpoint-down(sm) {
    //  .input-field_primary .input-field__input {
    //    height: 50px;
    //    background-color: #fff;
    //  }
    //}

    @include media-breakpoint-up(md) {
      margin-right: 0;
      margin-left: 0;
      background-color: #fff;
    }

    @include media-breakpoint-up(xl) {
      margin-left: -50vw;
      padding: 32px 64px 68px 50vw;
    }
  }

  &__title {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__error {
    padding-left: 0;
    list-style: none;
    color: $main-color;
    font-weight: 500;
  }

  &__group {
    margin-bottom: 25px;
    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 15px;
    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__container {
  }

  &__description {
    margin-top: 58px;
  }

  //&__note {
  //  margin-top: 60px;
  //  color: rgba(#000, 0.5);
  //  font-size: 12px;
  //}

  &__note {
    margin-top: 25px;
    color: rgba(#101010, 0.5);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 20px;
  }

  &__footer {
    margin-top: 30px;
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}

.order-alert {
  margin-right: -$container-padding-x;
  margin-left: -$container-padding-x;
  padding: 13px $container-padding-x 17px;
  background-color: #292929;
  color: rgba(#fff, 0.6);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 20px;

  @include media-breakpoint-up(md) {
    margin-right: 0;
    margin-left: 0;
    padding-right: 19px;
    padding-left: 19px;
  }


  &__title {
    color: #fff;
  }
}

.order-shiping {
  margin-right: -$container-padding-x;
  margin-left: -$container-padding-x;
  padding: 25px $container-padding-x 54px;
  background-color: #fff;

  + .order-shiping {
    margin-top: 30px;
  }

  @include media-breakpoint-up(md) {
    margin-right: 0;
    margin-left: 0;
    padding: 27px 19px 51px;
  }

  @include media-breakpoint-up(xl) {
    margin-right: 0;
    margin-left: -50vw;
    padding: 27px 64px 51px 50vw;
  }

  &__title {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 25px;
    @include media-breakpoint-up(md) {
      margin-bottom: 19px;
      font-size: 23px;
      line-height: 31px;
    }
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 6px;
    font-weight: 500;
  }

  &__error {
    color: $red;
  }

  &__name {
    font-size: 14px;
    @include media-breakpoint-up(md) {
      font-size: 17px;
    }
  }

  &__btn-delete {
    padding: 0;
    transition: color .1s ease;
    border: 0;
    background: none;
    box-shadow: none;
    color: $main-color;
    font-size: 15px;

    &:focus,
    &:hover {
      outline: none;
      color: #101010;
    }
  }

  &__quantity {
    margin-bottom: 5px;
    color: rgba(#000, 0.5);
    font-size: 12px;
    letter-spacing: -0.01em;
    line-height: 1;
    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  &__list {
    display: flex;
    margin-bottom: 20px;
    padding: 10px 0;
    overflow: auto;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
  }

  &__shipping-type {
    margin-bottom: 47px;
  }
}

.order-mini-product {
  flex: 0 0 auto;
  margin-right: 25px;
  text-align: center;

  &__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      width: 55px;
      height: 55px;
    }
  }

  &__img {

  }

  &__caption {
    margin-top: 5px;
    color: rgba(#000, .5);
    font-size: 12px;
    letter-spacing: -0.01em;
    line-height: 1;
  }
}

.order-option {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.01em;

  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
    font-size: 15px;
  }

  &.active {
    .order-option__header {
      box-shadow: inset 0 0 0 2px #80c627;

      &::before {
        opacity: 1;
      }
    }

    .order-option__body {
      display: block;
    }
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      ~ .order-option__header {
        box-shadow: inset 0 0 0 2px #80c627;

        &::before {
          opacity: 1;
        }
      }

      ~ .order-option__body {
        display: block;
      }
    }
  }

  &__header {
    display: block;
    position: relative;
    margin-bottom: 0;
    padding: 14px 16px;
    transition: all .3s ease;
    box-shadow: inset 0 0 0 1px #d1d1d1;
    cursor: pointer;
    @include iconfont('circle-check');

    @include media-breakpoint-up(md) {
      padding: 14px 16px;
    }

    &::before {
      position: absolute;
      z-index: 1;
      top: 10px;
      right: 10px;
      transition: opacity .3s ease;
      opacity: 0;
      color: #80c627;
      font-size: 20px;
      line-height: 1;
    }

    //&::after {
    //  content: '';
    //  position: absolute;
    //  top: 10px;
    //  right: 10px;
    //  width: 20px;
    //  height: 20px;
    //  transition: opacity .3s ease;
    //  border-radius: 50%;
    //  opacity: 0;
    //  background-color: #80c627;
    //}
  }


  &__row-top {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    @include media-breakpoint-up(md) {
      height: 25px;
      margin-bottom: 10px;
    }
  }

  &__row-bottom {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;

    @include media-breakpoint-up(md) {
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
    }
  }

  &__icon {
    display: inline-block;
    flex: 0 0 auto;
    //max-width: 21px;
    max-height: 21px;
    margin-right: 8px;
    @include media-breakpoint-up(md) {
      //max-width: 25px;
      max-height: 25px;
      margin-right: 10px;
    }
  }

  &__name {
    display: inline-block;
    overflow: hidden;
    font-size: 15px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include media-breakpoint-up(md) {
      font-size: 17px;
      line-height: 21px;
    }
  }

  &__own-name {
    display: inline-block;
    margin-right: auto;
  }

  &__price {
    display: inline-block;
    flex: 0 0 auto;
    margin-left: 11px;
  }

  &__period {
    display: inline-block;
    flex: 0 0 auto;
    margin-left: 11px;
    color: #636363;
  }

  &__body {
    display: none;
    padding: 10px 19px;
    background-color: #f7f7f7;
    @include media-breakpoint-up(md) {
      padding: 15px 21px;
    }
  }

  &__subtitle {
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 16px;
    @include media-breakpoint-up(md) {
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__description {
    margin-bottom: 0;
    color: #636363; // rgba(#000, 0.6);
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;

    & + * {
      margin-top: 15px;
    }

    @include media-breakpoint-up(md) {
      font-size: 12px;
      line-height: 17px;
      & + * {
        //margin-top: 18px;
        margin-top: 21px;
      }
    }
  }
}

/**
 * Доставка и оплата
 */
.order-sap {

  @include media-breakpoint-up(xl) {
    .order-alert {
      margin-left: -50vw;
      padding-right: 64px;
      padding-left: 50vw;
    }
  }

  &__amount,
  &__footer {
    margin-top: 30px;
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}


/**
 * Выбор магазина для самовывоза
 */
.o-shipping-pickup {
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: block;
    position: relative;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;

    & + .o-shipping-pickup__item {
      margin-top: 30px;
    }

    @include media-breakpoint-up(md) {
      font-size: 15px;
      line-height: 18px;
    }
    //  &.active {
    //    &::before {
    //      content: '';
    //      position: absolute;
    //      left: -30px;
    //      width: 20px;
    //      height: 20px;
    //      border-radius: 50%;
    //      background: red;
    //    }
    //  }
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      ~ .o-shipping-pickup__label {
        &::before {
          background: #000;
        }
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 0;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -4px;
      width: 20px;
      height: 20px;
      border: 1px solid #ccc;
      border-radius: 50%;
      background: #fff;
      box-shadow: inset 0 0 0 5px #fff;
    }
  }

  &__address {
    display: block;
    margin-bottom: 5px;
    @include media-breakpoint-up(md) {
      margin-bottom: 8px;
    }
  }

  &__link {
    display: inline-block;
    color: #636363; // rgba(#000, 0.6);
  }
}

/**
 * Выбор пункта самовывоза СДЭК
 */
.o-shipping-sdek-pickup {

  &__address {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 16px;
    @include media-breakpoint-up(md) {
      margin-bottom: 6px;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__info {
    color: #636363; // rgba(#000, 0.6);
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    @include media-breakpoint-up(md) {
      font-size: 12px;
      line-height: 17px;
    }
  }

  &__button {
    @extend %button-reset;
    margin-top: 11px;
    padding: 7px 14px;
    background: #101010;
    color: #fff;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 17px;
    text-align: center;
  }
}

//
//
.order {
  position: relative;

  //@include media-breakpoint-up(xl) {
  //  width: 690px;
  //}
  //
  &__title {
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: -39px;
      right: 0;
      color: rgba(#101010, 0.4);
      font-size: 16px;
      line-height: 22px;
    }
    @include media-breakpoint-up(md) {
      font-size: 23px;
      line-height: 31px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 17px;
    }
  }

  &__header {
    margin-bottom: 18px;

    @include media-breakpoint-up(md) {
      margin-bottom: 29px;
    }
  }

  &__btn-clear {
    //@extend .btn
    padding: 0;
    transition: color .1s ease;
    border: 0;
    background: none;
    box-shadow: none;
    font-size: 15px;
    font-weight: 500;

    //color: #000;

    &:focus,
    &:hover {
      outline: none;
      color: $main-color;
    }

    > span {
      border-bottom: 1px dashed rgba(#101010, 0.4);
    }
  }

  &__btn-checkout {

    @include media-breakpoint-up(md) {
      flex: 0 0 50%
    }
  }

  &__alert {
    margin-bottom: 10px;
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  // Список заказов
  &__list {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
  }

  // Промокод
  &__promocode {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 26px;
    }
  }

  // Итоговая сумма по заказам
  &__amount {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      margin-bottom: 36px;
    }
  }

  // Кнопка купить и примечание
  &__footer {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 36px;
    }
  }

  &__footer-note {
    margin-top: 30px;
    color: rgba(16, 16, 16, 0.7);
    font-size: 13px;
    letter-spacing: -0.01em;
    line-height: 19px;

    a {
      color: $main-color;
    }

    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}

.order-item {
  margin-right: -$container-padding-x;
  margin-bottom: 10px;
  margin-left: -$container-padding-x;
  line-height: 1;
  @include media-breakpoint-up(md) {
    margin-right: 0;
    margin-left: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px $container-padding-x 8px;
    background-color: #eee;

    &_dark {
      background: #292929;
      color: #fff;

      .order-number-badge {
        background-color: #4d4d4d;
        color: #fff;
      }
    }

    @include media-breakpoint-up(md) {
      padding: 8px 11px 8px 19px;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 15px;
    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 1;
    }
  }

  &__list {
  }

  &__product {
    height: 128px;
    margin-bottom: 4px;
    overflow: hidden;
    transition: all .3s ease;
    @include media-breakpoint-up(md) {
      height: 90px;
      margin-bottom: 6px;
    }

    &.slide-enter,
    &.slide-leave-to {
      height: 0;
    }
  }

  &__amount {
    padding: 18px 22px;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    //@include media-breakpoint-up(md) {
    //
    //}
  }

  &__row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 14px;
    font-size: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      flex: 1 0 auto;
      align-self: center;
      order: 2;
      height: 3px;
      margin: 5px 10px 0;
      //background: #d7d7d7;
      background: url("../img/dot.svg") left center repeat-x;
    }
  }

  &__key {
    order: 1;
    color: rgba(#000, 0.5);
  }

  &__value {
    order: 3;

    b {
      @include title;
      font-size: 16px;
    }

    small,
    .icon {
      margin-right: 10px;
    }
  }
}

.order-product {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  height: 128px;
  padding: 15px $container-padding-right-mobile 15px $container-padding-left-mobile;
  overflow: hidden;

  background: #fff;
  line-height: 1;

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 90px;
    padding: 10px 75px 10px 10px;
  }

  &__counter {
    display: flex;
    transform: $skew;
  }

  &__count-note {
    display: none;
    margin-top: 11px;
    color: rgba(#000, 0.6);
    font-size: 12px;
    line-height: 1;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__increment,
  &__decrement {
    @extend %button-reset;
    @include title;
    width: 46px;
    padding: 6px 14px;
    background-color: #f5f5f5;
    font-size: 22px;
    font-style: normal;
    line-height: 1;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    @include media-breakpoint-up(md) {
      padding: 6px 14px;
      background-color: transparent;
    }
  }

  &__quantity {
    @include title;
    width: 56px;
    //min-width: 43px;
    margin: 0 8px;
    padding: 6px 0;
    border: 3px solid #101010;
    background: #fff;
    font-size: 18px;
    font-style: normal;
    line-height: 1;
    @include media-breakpoint-up(md) {
      width: 43px;
    }
  }

  &__col-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      width: 65px;
      height: 65px;
      margin-right: 18px;
    }
  }

  &__col-info {
    max-width: 180px;
    height: 40px;
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 190px;
      height: 100%;
      padding-top: 7px;
    }
  }

  &__name {
    display: block;
    max-width: 100%;
    overflow: hidden;
    color: #000;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 17px;
    //max-height: 37px;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include media-breakpoint-up(md) {
      font-size: 15px;
      line-height: 18px;
      white-space: normal;
    }
  }

  &__description {
    color: rgba(#000, 0.5);
    font-size: 12px;
    letter-spacing: -0.01em;
    line-height: 14px;
  }

  &__col-count {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: center;
    @include media-breakpoint-up(md) {
      position: relative;
      bottom: 0;
      left: 0;
      margin-left: auto;
      padding-top: 4px;
    }
  }

  &__col-price {
    //margin-left: 30px;
    min-width: 110px;
    margin-left: auto;
    text-align: right;
    @include media-breakpoint-up(md) {
      margin-left: 0;
    }
  }

  &__old-price {
    @include title;
    display: block;
    margin-bottom: 2px;
    color: #636363;
    font-size: 13px;
    text-decoration: line-through;
    @include media-breakpoint-up(md) {
      font-size: 15px;
    }
  }

  &__price {
    @include title;
    display: block;
    font-size: 18px;
    @include media-breakpoint-up(md) {
      font-size: 22px;
    }
  }

  &__profit {
    display: block;
    margin-top: 3px;
    color: $main-color;
    font-size: 10px;
    @include media-breakpoint-up(md) {
      margin-top: 8px;
      font-size: 12px;
    }
  }

  &__btn-delete {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    height: 20px;

    padding: 0;
    transition: color .1s ease;
    border: 0;
    background: none;
    box-shadow: none;

    &:active,
    &:focus {
      outline: none;
    }

    &:hover {
      color: $main-color;
    }

    @include media-breakpoint-up(md) {
      top: calc(50% - 10px);
      right: 25px;
    }
  }
}

.order-promocode {
  &__btn-toggle {
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
      display: none;
    }

    &.btn-black {
      background: #292929;
      border-color: #292929;
      color: #fff;
    }
  }

  &__btn-submit {
    height: 62px;
  }

  &__body {
    //@include media-breakpoint-up(md) {
    //  display: flex;
    //  padding: 0 5px;
    //  transform: $skew;
    //}
  }



  //&__field {
  //  flex: 0 0 70%;
  //  margin-right: 12px;
  //}

  //&__button {
  //  flex: 1 0 auto;
  //
  //  .btn {
  //    display: inline-flex;
  //    align-items: center;
  //    justify-content: center;
  //    height: 62px;
  //    padding: 20px 0;
  //    font-size: 16px;
  //    line-height: 1;
  //  }
  //}
}

.order-amount {
  line-height: 1;

  &__sale {
    @include title;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 9px;
    font-size: 15px;

    .order-amount__value {
      color: $main-color;
      font-size: 16px;
    }

    @include media-breakpoint-up(md) {
      .order-amount__value {
        font-size: 20px;
      }
    }
  }

  &__sum {
    @include title;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #101010;
    font-size: 20px;

    @include media-breakpoint-up(md) {
      font-size: 22px;
      .order-amount__value {
        font-size: 28px;
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    font-size: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      flex: 1 0 auto;
      align-self: center;
      order: 2;
      height: 3px;
      margin: 0 10px;
      //background: #d7d7d7;
      background: url("../img/dot.svg") left center repeat-x;
    }

    .order-amount__key {
      order: 1;
      color: rgba(#000, 0.5);
    }

    .order-amount__value {
      @include title;
      order: 3;
      font-size: 14px;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }

    .order-number-badge {
      margin-right: 10px;
      @include media-breakpoint-up(md) {
        margin-right: 10px;
      }
    }

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }

  &__key {
    display: flex;
    align-items: center;
  }

  &__value {
    white-space: nowrap;
  }
}

.order-number-badge {
  display: inline-block;
  padding: 3px 6px 4px;
  border-radius: 2px;
  background-color: #e1e1e1;
  color: #101010;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;

  @include media-breakpoint-up(md) {
    padding: 3px 10px 4px;
  }

  &_dark {
    background-color: #4d4d4d;
    color: #fff;
  }
}


.checkout-location {
  display: flex;
  position: relative;
  align-items: center;
  height: $input-height;
  padding: $input-padding-y 19px $input-padding-y 41px;
  overflow: hidden;
  background: #fff;
  color: #1a1a1a;
  //@extend .form-group;


  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 17px;
    width: 13px;
    height: 18px;
    transform: translateY(-50%) $skew-reverse;
    background: url("../img/small-marker.svg") no-repeat;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background: linear-gradient(270deg, #fff 50%, rgba(#fff, 0) 100%);
    pointer-events: none;
  }

  @include media-breakpoint-up(md) {
    background: #f7f7f7;
    &::after {
      background: linear-gradient(270deg, #f7f7f7 50%, rgba(#f7f7f7, 0) 100%);
    }
  }

  &__name {
    @include title;
    font-style: normal;
    white-space: nowrap;
  }

  &__button {
    @extend %button-reset;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 30px;

    transform: translateY(-50%) $skew-reverse;
    border-bottom: 1px dashed rgba(#101010, 0.4);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 17px;
  }
}


.checkout-location-search {
  position: relative;

  &__list {
    right: tan(9deg) * 62px;
    //width: 100%;
    max-width: none;
    //transform: skew(9deg);
    //transform-origin: top;
    max-height: 300px;
    //margin-left: tan(9deg) * 62px / 2;
    margin: 0;
    padding: 4px 0;
    overflow-y: auto;
    list-style: none;
    background: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  }

  &__message {
    padding: 15px 23px 15px;
    text-align: center;
  }

  &__item {
    margin-bottom: 0;
    padding: 15px 23px 15px;
    //transition: all .3s ease;
    color: rgba(#000, 0.4);
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;

    > span {
      //transition: all .3s ease;
      color: #101010;
    }

    &.active {
      background: $main-color;
      color: rgba(#fff, 0.4);

      > span {
        color: #fff;
      }
    }
  }

  &
  &__field {
    //@extend .form-group;
    margin-right: tan(9deg) * 62px / 2;
    margin-left: tan(9deg) * 62px / 2;
    transform: $skew;
    -webkit-backface-visibility: hidden;
  }
}
