.catalog-banner {
  position: relative;
  padding: 22px 0;
  overflow: hidden;
  background: #e9e9e9;
  //background: red url("../img/rm/catalog-banner-320.png") center top no-repeat;
  //font-style: italic;
  //color: #fff;
  color: #101010;
  font-family: $font-family-bender;
  letter-spacing: .02em;
  line-height: 1;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    padding: 35px 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 45px 0;
  }
  //background: red url("../img/rm/banner-bg.png") center top no-repeat;

  &__container {
    @include make-container(map_get($grid-gutter-width-map, xs));
    display: flex;
    flex-wrap: wrap;
    @include make-container-max-widths();

    //max-width: 320px;
    //padding-right: 20px;
    //padding-left: 20px;

    //padding-right: (map_get($grid-gutter-width-map, xs) / 2);
    //padding-left: (map_get($grid-gutter-width-map, xs) / 2);

    @include media-breakpoint-up(md) {
      //@include make-container-max-widths();

      padding-right: (map_get($grid-gutter-width-map, md) / 2);
      padding-left: (map_get($grid-gutter-width-map, md) / 2);
    }

    @include media-breakpoint-up(xl) {
      justify-content: space-between;

      padding-right: (map_get($grid-gutter-width-map, xl) / 2);
      padding-left: (map_get($grid-gutter-width-map, xl) / 2);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: calc(50% + 150px) center;

    background-size: contain;

    //@include media-breakpoint-up(sm) {
    //  background-position: calc(50% + 280px) center;
    //}
    @include media-breakpoint-up(md) {
      //background-position: center;
      background-position: calc(50% + 280px) center;
    }
    @include media-breakpoint-up(xl) {
      background-position: center;

    }
  }

  &__sale {
    font-style: italic;
  }

  &__sale-value {
    margin-bottom: 9px;
    color: $main-color;
    font-size: 36px;
    font-weight: 900;

    @include media-breakpoint-up(md) {
      margin-bottom: 16px;
      font-size: 70px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 16px;
      font-size: 100px;
    }
  }

  &__sale-text {
    font-size: 12px;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(md) {
      font-size: 22px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 27px;
    }
  }

  &__promocode {
    margin-left: 16px;
    padding: 8px 10px;

    transform: $skew;
    border: 2px dashed rgba(#101010, .4);
    line-height: 1;
    text-align: center;

    @include media-breakpoint-up(md) {
      height: 106px;
      margin-left: 40px;
      padding: 13px 40px;
      border-width: 3px;
    }

    @include media-breakpoint-up(xl) {
      height: 160px;
      margin-right: 58px;

      margin-left: auto;
      padding: 18px 70px;
    }
  }

  &__promocode-text {
    margin-bottom: 7px;
    opacity: 0.5;
    font-size: 10px;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(md) {
      margin-bottom: 15px;
      font-size: 17px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 15px;
      font-size: 22px;
    }
  }

  &__promocode-value {
    //color: #fff;
    font-size: 19px;
    font-weight: 900;

    @include media-breakpoint-up(md) {
      font-size: 38px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 52px;
    }
  }
}

.catalog-description {
  padding: 60px 0;
  background: #fff;
}

.catalog-control {
  color: #000;
  font-size: 16px;
  letter-spacing: -.01em;

  &_favorites {
    @include media-breakpoint-up(md) {
      margin-bottom: 42px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 24px;
    }
  }

  &__menu {
    border-bottom: 1px solid #e8e8e8;

    &_white {
      background: white;
    }

    @include media-breakpoint-up(md) {
      border-bottom: 0;
    }
  }
}


$multifilter-padding-x: (
  xs: 20px,
  md: 15px,
  xl: 15px
);

.filter {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-right: (map_get($multifilter-padding-x, xl) * -1);
    margin-left: (map_get($multifilter-padding-x, xl) * -1);

    padding-top: 9px;
    padding-bottom: 12px;

    //.multifilter__content[data-toggle='dropdown'] {
    //  &:hover {
    //    background-color: hsl(0, 0%, 97%);
    //  }
    //}
    //
    //.filter__btn-reset,
    //.multifilter__content > * {
    //  @include mre-height-block(16px, 40px, 1);
    //}
    //.multifilter {
    //  height: 40px;
    //}
  }

  @include media-breakpoint-up(xl) {
    padding-top: 0;
    padding-bottom: 0;
    //
    //.filter__btn-reset,
    //.multifilter__content > * {
    //  @include mre-height-block(16px, 58px, 1);
    //}

    //.multifilter {
    //  height: 58px;
    //}
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn-reset {
    @extend %button-reset;
    @include title;
    display: inline-block;
    position: relative;
    padding-right: map_get($multifilter-padding-x, xl);
    padding-left: (map_get($multifilter-padding-x, xl) + 18px + 4px);
    color: $main-color;


    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: calc(50% - 9px);
      //position: absolute;
      //lef

      left: map_get($multifilter-padding-x, xl);
      width: 18px;
      height: 18px;

      @include sprite('close', (
        color: $main-color,
      ));
    }


    @include media-breakpoint-up(md) {
      height: 40px;
    }
    @include media-breakpoint-up(xl) {
      height: 58px;
    }
  }

}

.sorting {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-right: (map_get($multifilter-padding-x, xl) * -1);
    margin-left: (map_get($multifilter-padding-x, xl) * -1);
    padding-top: 12px;
    padding-bottom: 14px;

    font-weight: 500;

    //.multifilter__content > * {
    //  @include mre-height-block(16px, 40px, 1);
    //}
  }

  @include media-breakpoint-up(xl) {
    padding-top: 0;
    padding-bottom: 0;

    //.multifilter__content > * {
    //  @include mre-height-block(16px, 64px, 1);
    //}


    .multifilter {
      height: 64px;
    }
  }

  &__list {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
  }

  &__change-store {
    @include media-breakpoint-up(xl) {
      margin-left: auto;

      .multifilter {
        &__content {
          max-width: 315px;
        }

        &__label {
          color: #000;
        }
      }
    }
  }

  &__checkbox-container {
    flex: 0 0 auto;
  }
}

.view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;

  margin-right: (map_get($multifilter-padding-x, xs) * -1);
  margin-left: (map_get($multifilter-padding-x, xs) * -1);

  @include media-breakpoint-up(md) {
    height: 58px;
    margin-right: (map_get($multifilter-padding-x, md) * -1);
    margin-left: (map_get($multifilter-padding-x, md) * -1);
  }

  &__category {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      .multifilter__content {
        max-width: 450px;
      }
    }
  }

  &__tab {
    width: 100%;

    //.multifilter {
    //  width: 100%;
    //}

    @include media-breakpoint-up(md) {
      width: auto;
      margin-left: auto;
    }
  }
}

.catalog-menu-mob {
  display: none;
  position: fixed;
  z-index: 800;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  padding-top: 44px;
  //background: url("../img/rm/filter-320.png") center -44px no-repeat;
  background-color: #f5f5f5;
  background-size: 320px auto;

  &.active {
    display: flex;
  }

  .catalog-filter-m > & {

  }

  .multifilter > & {
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .multifilter__content {
      margin-bottom: 1px;

      > * {
        @include mre-height-block(16px, 50px, 1);
      }
    }
  }

  &__wrapper {
    flex: 1 1 auto;
    padding: 14px map_get($page-padding-x, xs);
    overflow: hidden auto;

    > .multifilter,
    > .multifilter-radio,
    > .multifilter-checkbox,
    > .multifilter-search {
      margin-right: (map_get($page-padding-x, xs) * -1);
      margin-left: (map_get($page-padding-x, xs) * -1);

      font-size: 16px;
      line-height: 1;
    }
  }

  &__header {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    padding: map_get($page-header-padding-y, xs) map_get($page-padding-x, xs);
    //@include page-header;
  }

  &__title {
    @include title;
    margin-bottom: 0;
    color: #101010;
    font-size: 24px;
    line-height: 1.25;
  }

  &__btn-close {
    @extend %button-reset;
    width: 28px;
    height: 28px;
    margin-right: -5px;
    margin-left: auto;
    @include sprite('close', (
      color: $main-color
    ));
  }

  &__btn-back {
    @extend %button-reset;
    width: 18px;
    height: 20px;
    margin-right: 14px;
    @include sprite('back');
  }

  &__footer {
    display: flex;
    flex: 0 0 auto;
  }

  &__btn-footer {
    @extend %button-reset;
    @include title;
    flex: 1 1;
    height: 60px;
  }
}

.category-list-mob {
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
  overflow: auto;
  background-color: #fff;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &__item {
    @extend %button-reset;

    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: normal;
    @include mre-height-block(14px, 47px, 1);

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      right: 0;
      bottom: 10px;
      width: 1px;
      background: #e8e8e8;
    }

    &.active {
      &::before {
        content: '';
        position: absolute;
        right: 15px;
        bottom: 0;
        left: 15px;
        border-bottom: 1px solid $main-color;
      }
    }
  }
}

.catalog-control-mob {
  display: flex;
  max-width: map_get($container-max-widths, sm);
  height: 48px;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-up(sm) {
    padding-right: (map_get($grid-gutter-width-map, sm) / 2);
    padding-left: (map_get($grid-gutter-width-map, sm) / 2);
  }

  @include media-breakpoint-up(md) {
    display: none;
  }

  &__button {
    @extend %button-reset;

    display: flex;
    flex: 1 0;
    align-items: center;
    height: 100%;
    padding-right: map_get($page-padding-x, xs);
    padding-left: map_get($page-padding-x, xs);
    background: #fff;
    @include title;

    &_gray {
      background-color: #eaeaea;
    }
  }

  &__icon {
    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}

////////////////////////////////////////////////////////////
//
// Фильтры
//
//

.multifilter {
  display: flex;
  position: relative;
  align-items: center;

  @include media-breakpoint-up(md) {
    display: inline-flex;
    height: 40px;
  }

  @include media-breakpoint-up(xl) {
    height: 58px;
  }

  &__content {
    @extend %button-reset;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%; // only mobile?
    height: 100%;
    padding: 0 (map_get($grid-gutter-width-map, xs) / 2);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
    cursor: auto;

    //> * {
    //  padding-top: 17px;
    //  padding-bottom: 17px;
    //}

    @include media-breakpoint-up(md) {
      //height: 40px;
      padding: 0 map_get($multifilter-padding-x, xl);

      //> * {
      //  padding-top: 12px;
      //  padding-bottom: 12px;
      //}
    }

    @include media-breakpoint-up(xl) {
      max-width: 265px;
      //height: 58px;

      //> * {
      //  padding-top: 21px;
      //  padding-bottom: 21px;
      //}
    }
  }

  &__content[data-toggle='m-filter'] {
    padding-right: 35px;
    transition: background .3s ease;
    cursor: pointer;

    &:hover {
      background-color: hsl(0, 0%, 92%);
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 4px);
      right: (map_get($grid-gutter-width-map, xs) / 2);
      border-top: 4px solid transparent;
      border-right: 0;
      border-bottom: 4px solid transparent;
      border-left: 8px solid #101010;
      opacity: .2;
    }

    .multifilter.active & {
      padding-right: 150px;
    }

    .multifilter__value {
      padding-right: 18px;
    }

    .multifilter__total {
      right: 6px;
    }
  }

  &__content[data-toggle='dropdown'] {
    padding-right: map_get($multifilter-padding-x, xl) + 10px;
    transition: background .3s ease;
    cursor: pointer;

    &:hover {
      background-color: hsl(0, 0%, 95%);
    }

    &::after {
      content: '';
      position: absolute;

      top: calc(50% - 3px);
      right: map_get($multifilter-padding-x, xl);

      border-top: 6px solid #101010;
      border-right: 4px solid transparent;
      border-bottom: 0;
      border-left: 4px solid transparent;
      opacity: 1;
    }

    .multifilter.show & {
      background-color: hsl(0, 0%, 93%);
    }

    .multifilter.active > & {
      padding-right: (map_get($multifilter-padding-x, xl) + 10px + 25px);

      &::after,
      > .multifilter__total {
        margin-right: 25px;
      }
    }
  }

  &__label {
    flex: 0 0 auto;
    margin-right: 7px;
    color: rgba(#000, .4);
  }

  &__value {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-breakpoint-up(md) {
      flex: 1 1 auto;
    }
  }

  // Иконка с количеством
  //
  &__total {
    display: inline-block;
    position: relative;
    right: 0;
    min-width: 16px;
    height: 16px;
    padding: 3px 4px;
    border-radius: 8px;
    background: #101010;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    text-align: center;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: calc(50% - 17px);
    }
  }

  &__btn-clear {
    @extend %button-reset;

    display: none;
    position: absolute;
    top: calc(50% - 13px);
    right: 42px;
    height: 26px;
    margin-left: 6px;
    padding: 5px 10px 5px 28px;
    border-radius: 13px;
    background-color: #e8e8e8;
    color: rgba(#000, 0.4);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: normal;

    .multifilter.active & {
      display: block;
    }


    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 4px;
      left: 8px;
      width: 18px;
      height: 18px;
      color: #9b9b9b;

      @include sprite('close');
    }

    @include media-breakpoint-up(md) {
      right: 5px;
      height: auto;
      margin-left: 0;
      padding: 4px;
      background-color: transparent;
      font: 0/0 a;
      //width: 18px;
      //height: 18px;

      &:hover {
        background-color: #eee;
      }
      &::before {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }

  &__menu {
    display: none;
  }

  &__tablist {
    margin-left: auto;

    @include media-breakpoint-up(md) {
      margin-left: 0;
    }
  }

  &__tab {
    @extend %button-reset;
    margin-left: 9px;
    opacity: 0.4;
    //background: #101010;

    > .i {
      width: 22px;
      height: 18px;
    }

    &.active {
      opacity: 1;
    }
  }

  .dropdown-menu {
    //min-width: 316px;
    //width: 316px;
    max-width: 381px;
    height: auto;
    max-height: 461px; // Ровно 9 элементов
    overflow: auto;

    &[data-simplebar] {
      width: 316px;
      //max-height: 446px;
      //max-height: 446px;

      .simplebar-track {
        background-color: #d2d2d2;

        .simplebar-scrollbar.simplebar-visible::before {
          opacity: 1;
        }

        &.simplebar-vertical {
          width: 7px;

          .simplebar-scrollbar::before {
            top: 0;
            bottom: 0;
          }
        }
      }

      .simplebar-scrollbar {
        right: 0;
        width: 100%;

        &::before {
          right: 0;
          left: 0;
          border-radius: 0;
          background: $main-color;
        }
      }
    }
  }

  //&__row {
  //  margin-bottom: 25px;
  //  padding: 0 22px;
  //}
}

$multifilter-menu-padding-x: 22px;

.multifilter-search {
  margin-bottom: 5px;
  padding: 12px $multifilter-menu-padding-x;

  &__input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 17px;
    border: 0;
    font-weight: 500;

    &:focus {
      outline: 0;
    }
  }
}

.multifilter-checkbox {
  display: block;
  margin-bottom: 1px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      ~ .multifilter-checkbox__label {
        &::after {
          transform: rotate(45deg);
          opacity: 1;
        }
      }
    }

    &:disabled {
      cursor: not-allowed;

      ~ .multifilter-checkbox__label {
        cursor: not-allowed;

        &::before {
          opacity: .2;
        }
      }
    }
  }

  &__label {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding: 12px $multifilter-menu-padding-x;
    transition: background .3s ease;
    cursor: pointer;

    &:hover {
      background-color: #e5e5e5;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 10px);
      right: $multifilter-menu-padding-x;
      width: 20px;
      height: 20px;
      border: 2px solid #000;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - #{10px - 4px});
      right: ($multifilter-menu-padding-x + 8px);
      width: 5px;
      height: 10px;
      transition: all .3s ease;
      border-right: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
      opacity: 0;
    }
  }
}

.multifilter-radio {
  display: block;
  position: relative;
  //padding-left: 32px;
  margin-bottom: 1px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      ~ .multifilter-radio__label {
        background-color: #dedede;

        &::after {
          opacity: 1;
        }
      }
    }

    &:disabled {
      //~ .input-checkbox__label {
      //  &::before {
      //    opacity: .2;
      //  }
      //}
    }
  }

  &__label {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding: 14px $multifilter-menu-padding-x;
    transition: all .3s ease;
    line-height: 1;
    vertical-align: top;

    cursor: pointer;

    &:hover {
      background-color: #dedede;
    }

    //&::before {
    //  content: '';
    //  display: block;
    //  position: absolute;
    //  top: 1px;
    //  left: -32px;
    //  width: 20px;
    //  //pointer-events: none;
    //  height: 20px;
    //  border: 2px solid #000;
    //}

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      right: ($multifilter-menu-padding-x + 1);
      width: 16px;
      height: 14px;
      transition: all .3s ease;
      opacity: 0;

      @include sprite('check');
    }
  }
}

.multifilter-price {
  width: 381px;
  padding: 8px $multifilter-menu-padding-x 18px;

  &__title {
    display: flex;
    justify-content: space-between;
    color: rgba(#000, .4);
  }

  &__range {
    margin: 18px 0;
    padding: 0 13px;
  }

  &__num {
    display: flex;
    justify-content: space-between;
  }
}


////////////////////////////////////////////////////////////
//
// Каталог
//
//

.catalog {
  &__container {
    position: relative;
    @include make-container(0);
    @include media-breakpoint-up(sm) {
      max-width: (map_get($container-max-widths, sm) - map_get($grid-gutter-width-map, sm));
    }
    @include media-breakpoint-up(md) {
      max-width: (map_get($container-max-widths, md) - map_get($grid-gutter-width-map, md));
    }
    @include media-breakpoint-up(xl) {
      max-width: (map_get($container-max-widths, xl) - map_get($grid-gutter-width-map, xl));
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;


    > .vendor-card,
    > .product-card {
      flex: 1 0 0%;
      border-right: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
    }

    @include media-breakpoint-up(md) {
      margin: (map_get($grid-gutter-width-map, md) / 2 * -1) 0;
      > .vendor-card,
      > .product-card {
        //@include make-col(6);
        max-width: calc(50% - #{map_get($grid-gutter-width-map, md)});
        margin: (map_get($grid-gutter-width-map, md) / 2);
        border: 0;
      }
    }

    @include media-breakpoint-up(xl) {
      margin: (map_get($grid-gutter-width-map, xl) / 2 * -1) 0;
      > .vendor-card,
      > .product-card {
        //@include make-col(3);
        max-width: calc(25% - #{map_get($grid-gutter-width-map, xl)});
        margin: (map_get($grid-gutter-width-map, xl) / 2);
      }
    }
  }

  &__more {
    background: red;
  }

  //&__more-link {
  //  @extend %button-reset;
  //  @include title;
  //  margin-bottom: 15px;
  //  border-bottom: 1px dashed rgba(#000, .4);
  //  font-size: 16px;
  //
  //  &::after {
  //    content: '';
  //    display: inline-block;
  //    width: 14px;
  //    height: 9px;
  //    margin-left: 13px;
  //    vertical-align: 2px;
  //    @include sprite('arrow-down');
  //  }
  //
  //  @include media-breakpoint-up(xl) {
  //    margin-bottom: 21px;
  //    font-size: 18px;
  //  }
  //}
  //
  //&__more-value {
  //  opacity: .5;
  //  color: #000;
  //  font-size: 12px;
  //  letter-spacing: -.01em;
  //  line-height: 1;
  //
  //  @include media-breakpoint-up(xl) {
  //    font-size: 14px;
  //  }
  //}
}

.favorite-list {
  padding-top: 0;
  padding-bottom: 20px;
  @include media-breakpoint-up(md) {
    padding-top: 42px;
    padding-bottom: 20px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 24px;
    padding-bottom: 50px;
  }
}

.vendor-list {
  padding-top: 0;
  padding-bottom: 0;
  @include media-breakpoint-up(md) {
    padding-top: 30px;
    padding-bottom: 100px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 59px;
    padding-bottom: 100px;
  }
}

.load-more-block {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 58px;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $spinner-width;
    height: $spinner-height;
    margin-top: -$spinner-height / 2;
    margin-left: -$spinner-width / 2;
    transition: opacity .3s ease;
    animation: spinner-border .75s linear infinite;
    border: $spinner-border-width solid currentColor;
    border-radius: 50%;
    border-right-color: transparent;
    opacity: 0;
    vertical-align: text-bottom;
    pointer-events: none;
  }

  &.loading {
    &::before {
      opacity: 1;
    }

    > .load-more-block__link,
    > .load-more-block__value {
      opacity: 0;
    }
  }

  &__link {
    @extend %button-reset;
    @include title;
    transition: opacity .3s ease;
    border-bottom: 1px dashed rgba(#000, .4);
    font-size: 16px;

    &::after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 9px;
      margin-left: 13px;
      vertical-align: 2px;
      @include sprite('arrow-down');
    }

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }

  &__value {
    margin-top: 15px;
    transition: opacity .3s ease;
    opacity: .5;
    color: #000;
    font-size: 12px;
    letter-spacing: -.01em;
    line-height: 1;

    @include media-breakpoint-up(xl) {
      margin-top: 21px;
      font-size: 14px;
    }
  }
}

.card-list {
  display: grid;
  position: relative;
  grid-gap: 0;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  margin-right: (map_get($grid-gutter-width-map, xs) / -2);
  margin-left: (map_get($grid-gutter-width-map, xs) / -2);
  transition: height .3s ease;

  @include media-breakpoint-up(md) {
    grid-gap: map_get($grid-gutter-width-map, md);
    //grid-template-columns: repeat(2, minmax(100px, 1fr));
    margin-right: (map_get($grid-gutter-width-map, md) / -2);
    margin-left: (map_get($grid-gutter-width-map, md) / -2);
  }
  @include media-breakpoint-up(xl) {
    grid-gap: map_get($grid-gutter-width-map, xl);
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    margin-right: (map_get($grid-gutter-width-map, xl) / -2);
    margin-left: (map_get($grid-gutter-width-map, xl) / -2);
  }

  //&::before {
  //  content: '';
  //  display: inline-block;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  width: $spinner-width;
  //  height: $spinner-height;
  //  margin-top: -$spinner-height / 2;
  //  margin-left: -$spinner-width / 2;
  //  transition: opacity .3s ease;
  //  animation: spinner-border .75s linear infinite;
  //  border: $spinner-border-width solid currentColor;
  //  border-radius: 50%;
  //  border-right-color: transparent;
  //  opacity: 0;
  //  vertical-align: text-bottom;
  //  pointer-events: none;
  //}

  > .vendor-card,
  > .product-card {
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    @include media-breakpoint-up(md) {
      border: 0;
    }
  }

  &_loading {
    //&::before {
    //  opacity: 1;
    //}

    > .vendor-card,
    > .product-card {
      background-color: #eee;
      > * {
        opacity: 0;
      }
    }
  }

  &_loaded {

  }

  &__nav {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      position: absolute;
      z-index: 100;
      right: 100%;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.product-card {
  position: relative;
  min-width: 152px;
  height: 283px;
  transition: all .3s ease;

  animation: fadeIn .5s ease;

  .product-stickers {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .product-control {
    position: absolute;
    z-index: 3;
    top: 12px;
    right: 12px;
  }

  &.removed {
    opacity: .25;
    //pointer-events: none;

    //&:hover {
    //  box-shadow: 0;
    //}
  }

  @include media-breakpoint-up(md) {
    min-width: 282px;
    height: 440px;
    //&:hover {
    //  z-index: 10;
    //
    //  .product-card__wrapper {
    //    box-shadow: 0 4px 30px rgba(0, 0, 0, .08);
    //  }
    //
    //  .product-card__controls {
    //    transform: translateY(100%);
    //  }
    //}

    .product-stickers {
      top: 10px;
      left: 0;
    }
    .product-control {
      top: 17px;
      right: 17px;
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    height: 100%;
    padding: 12px 11px;
    transition: all .3s ease;
    background-color: #fff;
    font-size: 10px;
    line-height: 1.3;

    &:hover {
      box-shadow: 0 4px 30px rgba(0, 0, 0, .08);
    }

    @include media-breakpoint-up(md) {
      padding: 20px 20px 22px;
    }
    //@include dev() {
    //  background: url('../img/rm/product-card-mobile.png') center -1px no-repeat;
    //  @include media-breakpoint-up(md) {
    //    background: url('../img/rm/product-card.png') -5px top no-repeat;
    //  }
    //}
  }

  //&__controls {
  //  display: none;
  //
  //  @include media-breakpoint-up(md) {
  //    display: flex;
  //    position: absolute;
  //    z-index: 0;
  //    right: 0;
  //    bottom: 0;
  //    left: 0;
  //    transition: transform .3s ease;
  //  }
  //}
  //
  //&__button {
  //  @include make-col(6);
  //  @include mre-height-block(14px, 54px);
  //  border-width: 0;
  //}

  &__img {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    //flex: 0 0 118px;
    justify-content: center;
    height: 117px;
    //max-height: 118px;
    text-align: center;

    > img {
      max-width: 100%;
      height: 100px;
      //object-fit: contain;
    }

    @include media-breakpoint-up(md) {
      height: 210px;
      > img {
        height: 180px;
      }
    }
  }

  &__body {
    flex: 1 1 auto;
  }

  &__footer {
    flex: 0 0 auto;
  }

  &__title {
    @include title;
    display: block;
    //flex: 1 1 auto;
    //display: -webkit-box;
    //height: 26px;
    margin-bottom: 12px;
    overflow: hidden;
    font-size: 12px;
    font-weight: $font-weight-bold;
    line-height: normal;
    //text-overflow: ellipsis;
    //-webkit-line-clamp: 2;
    //-webkit-box-orient: vertical;

    &:hover {
      color: #101010;
    }

    //&::after {
    //  content: '';
    //  position: absolute;
    //  z-index: 1;
    //  top: 0;
    //  right: 0;
    //  bottom: 0;
    //  left: 0;
    //  background-color: rgba(0, 0, 0, 0);
    //  pointer-events: auto;
    //}

    @include media-breakpoint-up(md) {
      margin-bottom: 6px;
      font-size: 19px;
      line-height: 22px;
    }
  }

  &__description {
    //margin-bottom: 14px;
    color: rgba(#000, .4);
    font-weight: 500;
    letter-spacing: -.01em;

    @include media-breakpoint-up(md) {
      //margin-bottom: auto;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__price {
    @include title;
    //margin-bottom: 3px;
    font-size: 19px;
    //line-height: 1;

    .small {
      font-size: 9px;
      font-weight: inherit;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      font-size: 28px;
      line-height: 28px;
      .small {
        font-size: 18px;
      }
    }
  }

  &__sale {
    position: relative;
    color: $main-color;
    font-weight: 500;
    letter-spacing: -0.01em;
    //white-space: nowrap;

    @include media-breakpoint-up(md) {
      font-size: 11px;
      line-height: 16px;
    }
  }

  &__row {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 16px;
    font-weight: 600;
    letter-spacing: -.01em;
    @include media-breakpoint-up(md) {
      //flex: 0 0 auto;
      flex-direction: row;
      margin-top: 0;
    }
  }


  &__reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $main-color;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      color: inherit;
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  // Звездочки
  &__rating {

    .icon-star {
      width: 9px;
      height: 9px;
    }

    @include media-breakpoint-up(md) {
      display: inline-flex;
      margin-right: 8px;
      .icon-star {
        width: 12px;
        height: 12px;
        margin-right: 1px;
      }
    }
  }

  // Наличие
  &__stock {
    color: rgba(#000, .4);
    text-align: right;
    @include media-breakpoint-up(md) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.product-control {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__favorites {
    @extend %button-reset;
    display: block;

    width: 21px;
    height: 19px;
    color: $main-color;

    > svg {
      display: block;
      width: 22px;
      height: 19px;
      transition: all .3s ease;
      fill-opacity: 0;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      > svg {
        fill-opacity: .3;
      }
    }

    &.active {
      > svg {
        fill-opacity: 1;
      }

      &[data-product-toggle='remove-favorites'] {
        &::before {
          content: '';
          position: absolute;
          top: 3px;
          left: 50%;
          width: 10px;
          height: 10px;
          transform: translateX(-50%);
          @include sprite('remove-icon');

          @include media-breakpoint-up(md) {
            top: 2px;
            width: 14px;
            height: 14px;
          }
        }
      }
    }

    //&[data-product-toggle='add-favorites'] {
    //
    //}
    //
    //&[data-product-toggle='remove-favorites'] {
    //  > svg {
    //    fill-opacity: 1;
    //  }
    //
    //  &::before {
    //    content: '';
    //    position: absolute;
    //    top: 3px;
    //    left: 50%;
    //    width: 10px;
    //    height: 10px;
    //    transform: translateX(-50%);
    //    @include sprite('remove-icon');
    //
    //    @include media-breakpoint-up(md) {
    //      top: 2px;
    //      width: 14px;
    //      height: 14px;
    //    }
    //  }
    //}
  }

  &__compare {
    @extend %button-reset;
    display: block;
    width: 19px;
    height: 17px;
    margin-top: 6px;
    color: $main-color;
  }
}

.product-stickers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateZ(0);

  &__item {
    @include title;
    position: relative;
    margin-bottom: 5px;
    padding: 5px 7px 5px 4px;
    transform-origin: top left;
    font-size: 9px;
    line-height: 10px;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: $skew;
      transform-origin: top left;
    }

    &_yellow {
      color: #101010;

      &::before {
        background-color: #ffd84c;
      }
    }

    &_green {
      color: #fff;

      &::before {
        background-color: #80c627;
      }
    }

    &_red {
      color: #fff;

      &::before {
        background-color: $main-color;
      }
    }


    @include media-breakpoint-up(md) {
      padding: 5px 10px 6px 5px;
      font-size: 11px;
      line-height: 12px;

      &_delivery {
        padding-top: 4px;
        padding-right: 29px;
        padding-bottom: 5px;

        &::after {
          content: '';
          position: absolute;
          top: -1px;
          right: -4px;
          width: 48px;
          height: 35px;
          @include sprite('delivery');
        }
      }
    }
  }
}

.product-rating {
  display: flex;
  transform: $skew;
  transform-origin: bottom;


  &__item {
    position: relative;
    width: 4px;
    height: 9px;
    margin-right: 3px;
    overflow: hidden;
    background: #dbdbdb;

    @include media-breakpoint-up(md) {
      width: 5px;
      height: 11px;
      margin-right: 4px;
    }


    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 0;
      background: $main-color;
    }

    &_100 {
      &::before {
        height: 100%;
      }
    }

    &_50 {
      &::before {
        height: 50%;
      }
    }
  }
}

.product-card-banner {
  display: block;
  position: relative;
  height: 100%;
  padding: 12px;
  overflow: hidden;

  background-color: #141414;
  color: #fff;

  &:hover {
    color: #fff;
  }

  @include media-breakpoint-up(md) {
    padding: 23px;
  }
  //background-color: #fff;
  //color: #101010;
  //
  //&:hover {
  //  background-color: #141414;
  //  color: #fff;
  //
  //  &::after {
  //    transform: scale(1.05);
  //  }
  //}

  &::after {
    content: '';
    position: absolute;
    z-index: 0;

    right: -110px;
    bottom: 0;

    width: (616px * 0.5);
    height: (345px * 0.5);
    transform-origin: right bottom;
    transition: all 1s cubic-bezier(0, .05, .13, 1);
    background: url('../img/main/box.png') no-repeat;
    background-size: contain;

    @include media-breakpoint-up(md) {
      right: -221px;
      bottom: -37px;

      width: 616px;
      height: 345px;
    }
  }

  &__title {
    @include title;
    font-size: 16px;
    line-height: 22px;

    .price {
      color: $main-color;
      font-size: 21px;
    }

    @include media-breakpoint-up(md) {
      font-size: 20px;
      line-height: 27px;

      .price {
        font-size: 27px;
      }
    }
  }
}

.vendor-card {
  position: relative;
  min-width: 152px;
  height: 253px;
  transition: all .3s ease;

  .product-stickers {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  @include media-breakpoint-up(md) {
    min-width: 282px;
    height: 350px;

    .product-stickers {
      top: 10px;
      left: 0;
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    height: 100%;
    padding: 12px 11px;
    transition: all .3s ease;
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;

    &:hover {
      box-shadow: 0 4px 30px rgba(0, 0, 0, .08);
    }

    @include media-breakpoint-up(md) {
      padding: 20px 20px 22px;
      font-size: 13px;
    }
    //@include dev() {
    //  background: url('../img/rm/product-card-mobile.png') center -1px no-repeat;
    //  @include media-breakpoint-up(md) {
    //    background: url('../img/rm/brand-card.png') center top no-repeat;
    //  }
    //}
  }

  &__img {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    //flex: 0 0 118px;
    justify-content: center;
    height: 90px;
    //max-height: 118px;
    text-align: center;

    > img {
      max-width: 100%;
      //height: 100px;
      //object-fit: contain;
      max-height: 100%;
    }

    @include media-breakpoint-up(md) {
      height: 131px;
      margin-bottom: 28px;
      > img {
        //height: 180px;
        //display: none;
      }
    }
  }

  &__body {
    flex: 1 1 auto;
  }

  &__footer {
    flex: 0 0 auto;
  }

  &__title {
    @include title;
    display: block;
    //flex: 1 1 auto;
    //display: -webkit-box;
    //height: 26px;
    margin-bottom: 12px;
    overflow: hidden;
    font-size: 12px;
    line-height: normal;
    //-webkit-line-clamp: 2;
    //-webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: #101010;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 14px;
      font-size: 19px;
      line-height: 22px;
    }
  }

  &__description {
    //margin-bottom: 14px;
    display: -webkit-box;
    overflow: hidden;
    color: rgba(#000, .4);
    letter-spacing: -.01em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    @include media-breakpoint-up(md) {
      //margin-bottom: auto;
      //font-size: 13px;
      max-height: 76px;
      line-height: 19px;
    }
  }

  &__row {
    margin-top: 16px;
    //font-weight: 600;
    letter-spacing: -.01em;
    @include media-breakpoint-up(md) {
      //flex: 0 0 auto;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  &__stock-title {

  }

  // Наличие
  &__stock-value {
    color: $main-color;
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }
}


.alphabet-navigation {
  display: flex;
  //position: absolute;
  //width: 34px;
  //padding: 0 12px;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 12px;
  //text-align: right;
  white-space: nowrap;

  &__item {
    position: relative;
    @include title;
  }

  &__value {
    font-size: 15px;

    &.active {
      color: $main-color;

      ~ .alphabet-navigation__tooltip {
        visibility: visible;
      }
    }
  }

  &__tooltip {
    visibility: hidden;
    position: absolute;
    top: calc(50% - #{58px / 2});
    left: calc(100% + 4px);
    width: 78px;
    height: 58px;
    padding-left: 10px;
    background: url("../img/alphabet-tooltip-bg.svg") center no-repeat;
    background-size: contain;
    color: #fff;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
  }
}

.brand-name-list {
  //display: flex;
  //flex-wrap: wrap;

  display: grid;
  grid-gap: (map_get($grid-gutter-width-map, xs) / 2);
  grid-template-columns: repeat(2, 1fr);
  //padding: 24px (map_get($grid-gutter-width-map, xs) / 2);
  padding-top: 24px;
  padding-bottom: 24px;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0
  }
  @include media-breakpoint-up(md) {
    grid-gap: (map_get($grid-gutter-width-map, md) / 2);
    grid-template-columns: repeat(4, 1fr);
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(5, 1fr);
  }

  &__col {
    //@include make-col(2);
    margin-bottom: 80px;
  }

  &__title {
    @include title;
    margin-bottom: 12px;
    font-size: 16px;
    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
      font-size: 19px;
    }
  }

  &__item {

  }
}

.vendor-description {
  padding: 70px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 58px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__logo {
    max-height: 54px;
    //max-height: 100%;
  }

  &__info {
    //@include media-breakpoint-up(xl) {
    //  display: flex;
    //  justify-content: space-between;
    //}
  }

  &__text {
    //&, * {
    //  font-size: 15px;
    //  line-height: 26px;
    //}
    //@include media-breakpoint-up(xl) {
    //  flex: 0 0 720px;
    //  max-width: 720px;
    //}
  }

  &__img {
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
      max-width: 390px;
      margin-bottom: 30px;
      margin-left: 90px;
      //flex: 0 0 390px;
      float: right;
    }
  }
}
