body {

  @include dev() {
    //background: url("../img/rm/1920.png") center top no-repeat;
    background: url('../img/rm/320.png') center 1px no-repeat;

    > * {
      opacity: .5;
    }

    @include media-breakpoint-up(md) {
      background-image: url('../img/rm/768.png');
      background-position: center top;
    }

    @include media-breakpoint-up(xl) {
      background-image: url('../img/rm/catalog-1920.png');

    }
  }
}

.catalog-banner {
  position: relative;
  padding: 22px 0;
  overflow: hidden;
  background: #141414;
  //background: red url("../img/rm/catalog-banner-320.png") center top no-repeat;
  //font-style: italic;
  color: #fff;
  font-family: $font-family-bender;
  letter-spacing: .02em;
  line-height: 1;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    padding: 35px 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 45px 0;
  }
  //background: red url("../img/rm/banner-bg.png") center top no-repeat;

  &__container {
    @include make-container(0);
    @include make-row(0);
    @include make-container-max-widths();

    //max-width: 320px;
    //padding-right: 20px;
    //padding-left: 20px;

    padding-right: (map_get($grid-gutter-width-map, xs) / 2);
    padding-left: (map_get($grid-gutter-width-map, xs) / 2);

    @include media-breakpoint-up(md) {
      //@include make-container-max-widths();

      padding-right: (map_get($grid-gutter-width-map, md) / 2);
      padding-left: (map_get($grid-gutter-width-map, md) / 2);
    }

    @include media-breakpoint-up(xl) {
      justify-content: space-between;

      padding-right: (map_get($grid-gutter-width-map, xl) / 2);
      padding-left: (map_get($grid-gutter-width-map, xl) / 2);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 190px center;

    background-size: contain;

    @include media-breakpoint-up(md) {
      background-position: center;
    }
  }

  &__sale {
    font-style: italic;
  }

  &__sale-value {
    margin-bottom: 9px;
    color: $main-color;
    font-size: 36px;
    font-weight: 900;

    @include media-breakpoint-up(md) {
      margin-bottom: 16px;
      font-size: 70px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 16px;
      font-size: 100px;
    }
  }

  &__sale-text {
    font-size: 12px;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(md) {
      font-size: 22px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 27px;
    }
  }

  &__promocode {
    margin-left: 16px;
    padding: 8px 10px;

    transform: $skew;
    border: 2px dashed rgba(#fff, .4);
    line-height: 1;
    text-align: center;

    @include media-breakpoint-up(md) {
      height: 106px;
      margin-left: 40px;
      padding: 13px 40px;
      border-width: 3px;
    }

    @include media-breakpoint-up(xl) {
      height: 160px;
      margin-right: 58px;

      margin-left: auto;
      padding: 18px 70px;
    }
  }

  &__promocode-text {
    margin-bottom: 7px;
    color: rgba(#fff, .5);
    font-size: 10px;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(md) {
      margin-bottom: 15px;
      font-size: 17px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 15px;
      font-size: 22px;
    }
  }

  &__promocode-value {
    color: #fff;
    font-size: 19px;
    font-weight: 900;

    @include media-breakpoint-up(md) {
      font-size: 38px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 52px;
    }
  }
}

.catalog-description {
  padding: 60px 0;
  background: #fff;
  //font-size: 15px;
  //line-height: 23px;
}

.filter {

  display: none;

  background-color: #fff;
  @include media-breakpoint-up(md) {
    display: block;
  }

  &__container {
    @include make-container(0);
    @include make-container-max-widths();

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      padding-right: (map_get($grid-gutter-width-map, md) / 2);
      padding-left: (map_get($grid-gutter-width-map, md) / 2);
    }
    //@i
  }

  &__reset {
    @extend %button-reset;
    @include title;
    display: inline-flex;
    //white-space: nowrap;
    position: relative;
    align-items: center;
    height: 58px;
    color: $main-color;
    font-size: 16px;

    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 5px;
      //position: absolute;
      //lef

      @include sprite('close', (
        color: $main-color,
      ));
    }
  }
}

.filter-list {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -.01em;


  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
  }
}

.catalog-mobile-control {
  //display: flex;
  display: none;
  position: fixed;
  z-index: $zindex-sticky;
  top: 65px;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  background: #f5f5f5;

  &.active {
    display: block;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  &__wrapper {
    flex: 1 1 auto;
    overflow: hidden auto;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 28px (map_get($grid-gutter-width-map, xs) / 2);

  }

  &__title {

    @include title;

    color: #101010;
    font-size: 24px;
  }

  &__btn-close {

    @extend %button-reset;
    width: 28px;
    height: 28px;
    margin-right: -5px;
    margin-left: auto;
    @include sprite('close', (
      color: $main-color
    ));
  }

  &__btn-back {

  }

  &__footer {

    display: flex;
  }

  &__btn-footer {
    @extend %button-reset;
    height: 60px;
    @include make-col(6);
    @include title;
  }
}

.multifilter {
  position: relative;
  //display: flex;
  font-size: 16px;

  @include media-breakpoint-up(md) {
    display: inline-flex;
    align-items: center;
    margin-right: 2px;
  }

  &_active,
  &.active {
    .multifilter__button {
      padding-right: 40px;

      &[data-toggle='dropdown'] {
        &::after {
          right: 40px;
        }
      }
    }

    //.multifilter__total {
    //  right: (19px + 25px);
    //}

    .multifilter__btn-clear {
      display: block;
    }
  }

  //&.show {
  //  background: #f2f2f2;
  //}

  &__label {
    margin-right: 7px;
    color: rgba(black, .4);
  }

  &__value {
    //font-weight: 500;
    display: inline-block;
    position: relative;
    max-width: 140px;
    padding-right: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    //@include media-breakpoint-up(md) {
    //  &::after {
    //    content: '';
    //    display: block;
    //    position: absolute;
    //    top: 9px;
    //    //position: absolute;
    //    right: 0;
    //    border-top: 6px solid #101010;
    //    border-right: 4px solid transparent;
    //    border-bottom: 0;
    //    border-left: 4px solid transparent;
    //  }
    //}
  }

  &__total {
    @include title;
    position: absolute;
    //top: 14px;
    //right: 19px;

    right: 8px;

    min-width: 13px;
    height: 13px;
    padding: 2px 2px 1px;
    border-radius: 7px;
    background-color: $main-color;

    color: white;
    font-size: 10px;
    line-height: 10px;

    text-align: center;
  }

  &__button {
    @extend %button-reset;
    display: flex;
    position: relative;
    width: 100%; // only mobile?
    height: 52px;
    padding: 5px (map_get($grid-gutter-width-map, xs) / 2);
    font-weight: $font-weight-normal;
    letter-spacing: -.01em;

    &[data-toggle='dropdown'] {


      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 4px);
        right: (map_get($grid-gutter-width-map, xs) / 2);
        border-top: 4px solid transparent;
        border-right: 0;
        border-bottom: 4px solid transparent;
        border-left: 8px solid #101010;
        opacity: .2;

        @include media-breakpoint-up(md) {
          top: calc(50% - 3px);
          right: 15px;

          border-top: 6px solid #101010;
          border-right: 4px solid transparent;
          border-bottom: 0;
          border-left: 4px solid transparent;
          opacity: 1;
        }
      }
    }

    &_hover,
    &:hover {
      background-color: #f8f8f8;
    }

    .show > & {
      background-color: #efefef;
    }

    @include media-breakpoint-up(md) {
      height: 58px;
      padding: 5px 15px;
      //&::after {
      //  display: none;
      //}
    }
  }

  &__btn-clear {

    @extend %button-reset;

    display: none;
    position: absolute;
    top: calc(50% - 13px);
    right: 42px;
    height: 26px;
    margin-left: 6px;
    padding: 5px 10px 5px 28px;
    border-radius: 13px;
    background-color: #e8e8e8;
    color: rgba(#000, 0.4);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: normal;

    //@include text-hide;

    //color: #9b9b9b;


    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 4px;
      left: 8px;
      width: 18px;
      height: 18px;
      color: #9b9b9b;

      @include sprite('close');
    }

    @include media-breakpoint-up(md) {
      right: 9px;
      height: auto;
      margin-left: 0;
      padding: 4px;
      background-color: transparent;
      font: 0/0 a;
      //width: 18px;
      //height: 18px;

      &:hover {
        background-color: #eee;
      }
      &::before {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    z-index: $zindex-dropdown;
    top: 100%;
    left: 0;
    padding: 10px 0;
    background: #efefef;

    &[data-simplebar] {
      width: 316px;
      max-height: 446px;

      .simplebar-track {
        background-color: #d2d2d2;

        .simplebar-scrollbar.simplebar-visible::before {
          opacity: 1;
        }

        &.simplebar-vertical {
          width: 7px;

          .simplebar-scrollbar::before {
            top: 0;
            bottom: 0;
          }
        }
      }

      .simplebar-scrollbar {
        right: 0;
        width: 100%;

        &::before {
          right: 0;
          left: 0;
          border-radius: 0;
          background: $main-color;
        }
      }
    }

    &.show {
      display: block;
    }
  }

  &__row {
    margin-bottom: 25px;
    padding: 0 22px;
  }
}

.multifilter-search {
  margin-bottom: 17px;
  padding: 0 22px;

  &__input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 17px;
    border: 0;
    font-weight: 500;

    &:focus {
      outline: 0;
    }
  }
}

.multifilter-checkbox {
  margin-bottom: 1px;
  padding: 12px 22px;
}

.multifilter-radio {
  display: block;
  position: relative;
  //padding-left: 32px;
  margin-bottom: 1px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      ~ .multifilter-radio__label {
        background-color: #dedede;

        &::after {
          opacity: 1;
        }
      }
    }

    &:disabled {
      //~ .input-checkbox__label {
      //  &::before {
      //    opacity: .2;
      //  }
      //}
    }
  }

  &__label {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding: 12px 22px;
    transition: all .3s ease;
    vertical-align: top;

    cursor: pointer;

    &:hover {
      background-color: #dedede;
    }

    //&::before {
    //  content: '';
    //  display: block;
    //  position: absolute;
    //  top: 1px;
    //  left: -32px;
    //  width: 20px;
    //  //pointer-events: none;
    //  height: 20px;
    //  border: 2px solid #000;
    //}

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      right: 23px;
      width: 16px;
      height: 14px;
      transition: all .3s ease;
      opacity: 0;

      @include sprite('check');
    }
  }
}

.multifilter-price {
  width: (327px + 22px);
  padding: 0 22px;

  &__title {
    display: flex;
    justify-content: space-between;
    color: rgba(#000, .4);
  }

  &__range {
    margin: 18px 0;
  }

  &__num {
    display: flex;
    justify-content: space-between;
  }
}

.sorting {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }

  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include make-container();
    @include make-container-max-widths();
  }
}

.sorting-list {
  display: flex;
  padding-top: 22px;
  padding-bottom: 22px;
}

.catalog-control {
  display: flex;
  height: 58px;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &__button {
    @extend %button-reset;

    display: flex;
    align-items: center;
    @include make-col(6);
    height: 100%;
    padding-right: (map_get($grid-gutter-width-map, xs) / 2);
    padding-left: (map_get($grid-gutter-width-map, xs) / 2);
    @include title;
    background: #fff;

    &_filter {
      justify-content: flex-start;
      text-align: left;

      &::before {
        content: '';
        display: inline-block;
        width: 19px;
        height: 21px;
        margin-right: 9px;
        @include sprite('filter');
      }
    }

    &_sort {
      justify-content: flex-end;
      background-color: #eaeaea;
      text-align: right;

      &::after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 22px;
        margin-left: 14px;
        @include sprite('sort');
      }
    }
  }
}

.catalog {
  &__container {
    @include make-container(0);
    @include make-container-max-widths();
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    //position: relative;
    @include make-col-ready(0);
    @include make-col(6);
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #e8e8e8;

    @include media-breakpoint-up(md) {
      margin-bottom: map_get($grid-gutter-width-map, md);
      padding-right: (map_get($grid-gutter-width-map, md) / 2);
      padding-left: (map_get($grid-gutter-width-map, md) / 2);
      border: 0;
    }

    @include media-breakpoint-up(xl) {
      @include make-col(3);
      margin-bottom: map_get($grid-gutter-width-map, xl);
      padding-right: (map_get($grid-gutter-width-map, xl) / 2);
      padding-left: (map_get($grid-gutter-width-map, xl) / 2);
    }
  }

  &__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 58px;
  }

  &__more-link {
    @extend %button-reset;
    @include title;
    margin-bottom: 21px;
    border-bottom: 1px dashed rgba(#000, .4);
    font-size: 18px;

  }

  &__more-value {
    opacity: .5;
    color: #000;
    font-size: 14px;
    letter-spacing: -.01em;
  }
}

.product-card {
  position: relative;
  height: 100%;

  @include media-breakpoint-up(md) {
    &:hover {
      z-index: 10;

      .product-card__wrapper {
        box-shadow: 0 4px 30px rgba(0, 0, 0, .08);
      }

      .product-card__controls {
        transform: translateY(100%);
      }
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    height: 100%;
    padding: 12px;
    transition: box-shadow .3s ease;
    //background: url("../img/rm/product-card-320.png") center top no-repeat;


    background-color: #fff;

    @include media-breakpoint-up(md) {
      padding: 0 20px 22px;
    }
  }

  &__controls {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
      position: absolute;
      z-index: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: transform .3s ease;
    }
  }

  &__button {
    @include make-col(6);
    @include mre-height-block(14px, 54px);
    border-width: 0;
  }

  &__favorites {
    @extend %button-reset;
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 12px;

    width: 21px;
    height: 19px;
    @include sprite('heart', (
      fill: $main-color
    ));
    background-size: 21px 19px;
    color: $main-color;

    &:hover {
      @include sprite('heart-fill');
    }

    &:focus {
      outline: none;
    }

    @include media-breakpoint-up(md) {
      top: 20px;
      right: 20px;
      width: 35px;
      height: 35px;
      background-size: 31px 27px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 118px;

    > img {
      max-width: 100%;
      max-height: 100%;
    }

    @include media-breakpoint-up(md) {
      height: 230px;
    }
  }

  &__title {
    @extend %title;

    display: block;
    display: -webkit-box;
    height: 26px;
    margin-bottom: 12px;
    overflow: hidden;

    font-size: 12px;
    font-weight: $font-weight-bold;
    line-height: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include media-breakpoint-up(md) {
      height: 48px;
      margin-bottom: 8px;
      font-size: 19px;
      line-height: 24px;
    }
  }

  &__description {
    margin-bottom: 14px;
    overflow: hidden;
    color: rgba(#000, .4);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: normal;
    //max-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__price-info {
    margin-top: auto;

    font-family: $font-family-bender;
    font-style: italic;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      display: flex;

      align-items: flex-end;
      justify-content: space-between;
      height: 65px;
    }
  }

  &__price {
    margin-bottom: 3px;
    font-size: 19px;

    &::before {
      content: attr(data-price-text);
      margin-right: 5px;
      font-size: 9px;
    }

    &::after {
      content: attr(data-price-unit);
      margin-left: 5px;
      font-family: $font-family-inter-ui;
      font-weight: 800;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      font-size: 28px;
      &::before {
        margin-right: 9px;
        font-size: 18px;
      }
      &::after {
        margin-left: 12px;
      }
    }
  }

  &__sale {
    position: relative;
    color: $main-color;
    font-size: 14px;

    &::before {
      content: attr(data-sale-text);
      margin-right: 5px;
      color: #101010;
      font-size: 9px;
      //position: absolute;
      //top: -5px;
      //right: 0;
    }

    &::after {
      content: attr(data-sale-unit);
      margin-left: 5px;
      font-family: $font-family-inter-ui;
      font-weight: 800;
    }

    @include media-breakpoint-up(md) {
      margin-left: auto;
      font-size: 20px;
      text-align: right;
      &::before {
        display: block;
        margin-right: 0;
        margin-bottom: 3px;
        font-size: 12px;
      }
      &::after {
        margin-left: 9px;
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 16px;
    letter-spacing: -.01em;
    line-height: 1;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      height: 50px;
      margin-top: 0;
    }
  }

  &__reviews {
    color: $main-color;
    font-size: 10px;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      font-size: 13px;
    }
  }

  &__stock {
    color: rgba(black, .4);
    font-size: 10px;
    font-weight: 600;
    text-align: right;
    @include media-breakpoint-up(md) {
      font-size: 12px;
    }
  }

  &__stock-title {
    margin-bottom: 3px;
  }

  //
  //&__sticker {
  //  background-color: $main-color;
  //  position: absolute;
  //  left: 0;
  //  top: 17px;
  //  transform-origin: top left;
  //  color: #FFFFFF;
  //  font-family: $font-family-bender;
  //  font-weight: 900;
  //  text-transform: uppercase;
  //  letter-spacing: 0.02em;
  //  font-size: 11px;
  //  line-height: 13px;
  //  padding: 5px 4px 4px 9px;
  //  transform: $skew;
  //}
  &__stickers { // Контейнер
    display: flex;
    position: absolute;
    top: 10px;

    left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  &__sticker {
    margin-bottom: 5px;
    padding: 5px 7px 4px 9px;

    transform: $skew;
    transform-origin: top left;

    font-family: $font-family-bender;
    font-size: 9px;
    font-weight: 900;
    letter-spacing: .02em;
    line-height: 13px;
    text-transform: uppercase;

    &_yellow {
      background-color: #ffd84c;
      color: #101010;
    }

    &_green {
      background-color: #80c627;
      color: #fff;
    }

    &_red {
      background-color: $main-color;
      color: #fff;
    }

    @include media-breakpoint-up(md) {
      font-size: 11px;
    }
  }
}
