body {

  @include dev() {
    //background: url("../img/rm/1920.png") center top no-repeat;
    background: url('../img/rm/320.png') center 1px no-repeat;

    > * {
      opacity: .5;
    }

    @include media-breakpoint-up(md) {
      background-image: url('../img/rm/768.png');
      background-position: center top;
    }

    @include media-breakpoint-up(xl) {
      background-image: url('../img/rm/catalog-1920.png');

    }
  }
}

.catalog-banner {
  padding: 45px 0;
  font-family: $font-family-bender;
  line-height: 1;
  //font-style: italic;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .02em;
  background: #141414;

  //background: red url("../img/rm/banner-bg.png") center top no-repeat;

  &__container {
    @include make-container();
    @include make-container-max-widths();
    @include make-row(0);
    justify-content: space-between;
  }

  &__sale {
    font-style: italic;

  }

  &__sale-value {
    margin-bottom: 16px;
    font-size: 100px;
    font-weight: 900;
    color: $main-color;
  }

  &__sale-text {
    font-size: 27px;
    font-weight: bold;
  }

  &__promocode {
    height: 160px;
    padding: 18px 70px;
    margin-right: 58px;
    text-align: center;
    border: 3px dashed rgba(#fff, .4);
    transform: $skew;
  }

  &__promocode-text {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: rgba(#fff, .5);
  }

  &__promocode-value {
    font-size: 52px;
    font-weight: 900;
    color: white;
  }
}

.catalog-description {
  padding: 60px 0;
  background: #fff;
  //font-size: 15px;
  //line-height: 23px;
}

.catalog {
  &__item {
    //position: relative;
    margin-bottom: 24px;
  }

  &__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 58px;
  }

  &__more-link {
    @extend %button-reset;
    @include title;
    margin-bottom: 21px;
    font-size: 18px;
    border-bottom: 1px dashed rgba(black, .4);

  }

  &__more-value {
    font-size: 14px;
    color: #000;
    letter-spacing: -.01em;
    opacity: .5;
  }
}

.filter {
  background-color: #fff;

  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__reset {
    @extend %button-reset;
    @include title;
    font-size: 16px;
    color: $main-color;
    position: relative;
    //white-space: nowrap;
    display: inline-flex;
    align-items: center;
    height: 58px;

    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 5px;
      //position: absolute;
      //lef

      @include sprite('close', (
              color: $main-color,
      ));
    }
  }
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  letter-spacing: -.01em;
}

.multifilter {
  position: relative;
  //display: flex;
  align-items: center;
  margin-right: 2px;
  display: inline-flex;

  &_active,
  &.active {
    .multifilter__button {
      padding-right: 40px;
    }

    .multifilter__total {
      right: (19px + 25px);
    }

    .multifilter__btn-clear {
      display: block;
    }
  }

  //&.show {
  //  background: #f2f2f2;
  //}

  &__label {
    margin-right: 7px;
    color: rgba(black, .4);
  }

  &__value {
    //font-weight: 500;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 140px;
    display: inline-block;
    padding-right: 18px;

    &::after {
      position: absolute;
      right: 0;
      top: 9px;
      display: block;
      //position: absolute;
      content: '';
      border-top: 6px solid #101010;
      border-right: 4px solid transparent;
      border-bottom: 0;
      border-left: 4px solid transparent;
    }
  }

  &__total {
    @include title;
    position: absolute;
    right: 19px;
    top: 14px;
    background-color: $main-color;

    color: white;
    text-align: center;

    min-width: 13px;
    height: 13px;

    border-radius: 7px;
    font-size: 10px;
    line-height: 10px;
    padding: 2px 2px 1px;
  }

  &__button {
    @extend %button-reset;
    position: relative;
    font-weight: $font-weight-normal;
    letter-spacing: -.01em;
    padding: 5px 15px 5px;
    height: 58px;
    display: inline-flex;

    &_hover,
    &:hover {
      background-color: #F8F8F8;
    }

    .show > & {
      background-color: #EFEFEF;
    }
  }

  &__btn-clear {
    display: none;
    @extend %button-reset;
    margin-left: 6px;
    //@include text-hide;

    font: 0/0 a;
    color: #9b9b9b;

    position: absolute;
    right: 9px;

    &:hover {
      background-color: #eee;
    }

    &::before {
      //font-size: ;
      display: inline-block;
      width: 18px;
      height: 18px;
      color: #9b9b9b;
      content: '';
      //background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.17823 4.45922L3.82219 5.81514L7.644 9.63728L3.82198 13.4593L5.17796 14.8153L8.99993 10.9933L12.8217 14.8154L14.1777 13.4594L10.3559 9.63734L14.1778 5.81544L12.8218 4.45945L8.99999 8.2813L5.17823 4.45922Z' fill='%239B9B9B'/%3E%3C/svg%3E");
      //background-repeat: no-repeat;
      //background-position: center;
      //background-size: 100%;
      @include sprite('close');
      //width: ;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    display: none;
    background: #EFEFEF;
    overflow: auto;
    padding: 22px;

    &[data-simplebar] {
      width: 316px;
      max-height: 446px;

      .simplebar-track {
        background-color: #D2D2D2;

        .simplebar-scrollbar.simplebar-visible::before {
          opacity: 1;
        }

        &.simplebar-vertical {
          width: 7px;

          .simplebar-scrollbar::before {
            top: 0;
            bottom: 0;
          }
        }
      }

      .simplebar-scrollbar {
        right: 0;
        width: 100%;

        &::before {
          background: $main-color;
          border-radius: 0;
          left: 0;
          right: 0;
        }
      }
    }

    &.show {
      display: block;
    }
  }

  &__search {
    display: block;
    width: 100%;
    height: 50px;
    border: 0;
    padding: 0 17px;
    font-weight: 500;

    &:focus {
      outline: 0;
    }
  }
}

.multifilter-price {
  width: 327px;

  &__title {
    display: flex;
    justify-content: space-between;
    color: rgba(black, 0.4);
  }

  &__range {
    .noUi-target {

    }

    .noUi-base {

    }
  }

  &__num {
    display: flex;
    justify-content: space-between;
  }

  &__touch-area {

  }


}

.sorting {
  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.sorting-list {
  display: flex;
  padding-top: 22px;
  padding-bottom: 22px;
}

.product-card {
  position: relative;
  height: 100%;

  &:hover {
    z-index: 10;

    .product-card__wrapper {
      box-shadow: 0 4px 30px rgba(0, 0, 0, .08);
    }

    .product-card__controls {
      transform: translateY(100%);
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 20px 22px;
    background-color: #fff;
    transition: box-shadow .3s ease;
  }

  &__controls {
    position: absolute;
    right: 0;
    bottom: 0;
    //top: 100%;
    left: 0;
    z-index: 0;
    //background-color: red;
    display: flex;

    //height: 54px;
    transition: transform .3s ease;
  }

  &__button {
    @include make-col(6);
    @include mre-height-block(14px, 54px);
    border-width: 0;
  }

  &__favorites {
    @extend %button-reset;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;

    width: 35px;
    height: 35px;
    color: $main-color;

    @include sprite('heart', (), true);

    &:hover {
      @include sprite('heart-fill', (), true);
    }

    &:focus {
      outline: none;
    }

    //> svg {
    //  width: 31px;
    //  height: 27px;
    //}

    //background-image: url(map-get($sprites, 'heart'));

  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;

    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title {
    @extend %title;

    display: block;
    display: -webkit-box;
    height: 48px;

    margin-bottom: 8px;

    overflow: hidden;

    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__description {
    overflow: hidden;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(black, .4);
    text-overflow: ellipsis;
    letter-spacing: -.01em;
    //max-height: 16px;
    white-space: nowrap;
  }

  &__price-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 65px;
    margin-top: auto;

    font-family: $font-family-bender;
    font-style: italic;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
  }

  &__price {
    font-size: 28px;

    &::before {
      margin-right: 9px;
      font-size: 18px;
      content: attr(data-price-text);
    }

    &::after {
      margin-left: 12px;
      font-family: $font-family-inter-ui;
      content: attr(data-price-unit);
    }
  }

  &__sale {
    position: relative;
    margin-left: auto;
    font-size: 20px;
    color: $main-color;
    text-align: right;

    &::before {
      display: block;
      margin-bottom: 3px;
      font-size: 12px;
      color: #101010;
      content: attr(data-sale-text);
      //position: absolute;
      //top: -5px;
      //right: 0;
    }

    &::after {
      margin-left: 9px;
      font-family: $font-family-inter-ui;
      content: attr(data-sale-unit);
    }
  }

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 50px;
    line-height: 1;
    letter-spacing: -.01em;
  }

  &__reviews {
    font-size: 13px;
    font-weight: 500;
    color: $main-color;

  }

  &__stock {
    font-size: 12px;
    font-weight: 600;
    color: rgba(black, .4);
    text-align: right;
  }

  &__stock-title {
    margin-bottom: 3px;
  }

  //
  //&__sticker {
  //  background-color: $main-color;
  //  position: absolute;
  //  left: 0;
  //  top: 17px;
  //  transform-origin: top left;
  //  color: #FFFFFF;
  //  font-family: $font-family-bender;
  //  font-weight: 900;
  //  text-transform: uppercase;
  //  letter-spacing: 0.02em;
  //  font-size: 11px;
  //  line-height: 13px;
  //  padding: 5px 4px 4px 9px;
  //  transform: $skew;
  //}
  &__stickers { // Контейнер
    position: absolute;
    top: 10px;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__sticker {
    padding: 5px 7px 4px 9px;
    margin-bottom: 5px;
    font-family: $font-family-bender;
    font-size: 11px;
    font-weight: 900;
    line-height: 13px;
    text-transform: uppercase;
    letter-spacing: .02em;
    transform: $skew;
    transform-origin: top left;

    &_yellow {
      color: #101010;
      background-color: #ffd84c;
    }

    &_green {
      color: #fff;
      background-color: #80c627;
    }

    &_red {
      color: #fff;
      background-color: $main-color;
    }
  }
}
