/// Grid system
//
// Generate semantic grid columns with these mixins.

@mixin make-container($gutter: $grid-gutter-width) {
  width: 100%;
  @if $gutter != 0 {
    padding-right: calc(#{$gutter / 2} + var(--safe-area-inset-right));
    padding-left: calc(#{$gutter / 2} + var(--safe-area-inset-left));
  }
  margin-right: auto;
  margin-left: auto;
}

@mixin make-row($gutter: $grid-gutter-width) {
  display: flex;
  flex-wrap: wrap;
  @if $gutter != 0 {
    margin-right: -$gutter / 2;
    margin-left: -$gutter / 2;
  }
}

@mixin make-col-ready($gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from becoming too narrow when at smaller grid tiers by
  // always setting `width: 100%;`. This works because we use `flex` values
  // later on to override this initial width.
  width: 100%;
  @if $gutter != 0 {
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
  }
}


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @include make-container(map_get($grid-gutter-width-map, xs));
  @include make-container-max-widths();

  //@include media-breakpoint-up(sm) {
  //
  //}

  @include media-breakpoint-up(sm) {
    //padding-right: calc(#{map_get($grid-gutter-width-map, sm) / 2} + var(--safe-area-inset-right)); // 20
    //padding-left: calc(#{map_get($grid-gutter-width-map, sm) / 2} + var(--safe-area-inset-left)); // 20
    padding-left: 10px;
    padding-right: 10px;
  }
  //@include media-breakpoint-up(xl) {
  //  padding-left: map_get($grid-gutter-width-map, xl) / 2; // 24
  //  padding-right: map_get($grid-gutter-width-map, xl) / 2; // 24
  //}
}

//.container-sm {
//
//}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but with 100% width for
// fluid, full width layouts.

@if $enable-grid-classes {
  .container-fluid {
    @include make-container();
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row();

  //@include media-breakpoint-up(sm) {
  //  margin-left: map_get($grid-gutter-width-map, sm) / -2; // 20
  //  margin-right: map_get($grid-gutter-width-map, sm) / -2; // 20
  //}
  @include media-breakpoint-up(xl) {
    margin-right: map_get($grid-gutter-width-map, xl) / -2; // 24
    margin-left: map_get($grid-gutter-width-map, xl) / -2; // 24
  }
}

// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}

@include media-breakpoint-up(xl) {
  $gutter-xl: $grid-gutter-width-xl;

  $breakpoints: $grid-breakpoints;
  $columns: $grid-columns;

  %grid-column-xl {
    padding-right: $grid-gutter-width-xl / 2;
    padding-left: $grid-gutter-width-xl / 2;
  }
  .container {
    @extend %grid-column-xl;
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    // Allow columns to stretch full width below their breakpoints
    @for $i from 1 through $columns {
      .col#{$infix}-#{$i} {
        @extend %grid-column-xl;
      }
    }
    .col#{$infix},
    .col#{$infix}-auto {
      @extend %grid-column-xl;
    }
  }
}


.container-no-padding {
  @extend .container;

  @include media-breakpoint-down(xs) {
    padding-right: 0;
    padding-left: 0;

    .row {
      margin-right: 0;
      margin-left: 0;

      > .col,
      > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
