.footer {
  font-size: 12px;
  line-height: 17px;
  background-color: #ECECEC;

  @include media-breakpoint-up(xl) {
    font-size: 14px;
  }
  &__logo {
    display: block;
    width: 132px;
    height: 40px;
    margin-bottom: 46px;

    @include media-breakpoint-up(md) {
      //margin-bottom: 55px;
      margin-bottom: 50px;
    }
    @include media-breakpoint-up(xl) {

      width: 150px;
      height: 45px;
      margin-bottom: 70px;
    }
  }
  &__top {
    padding-top: 20px;
    padding-bottom: 42px;

    @include media-breakpoint-up(md) {
      padding-top: 35px;
      padding-bottom: 65px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 44px;
      padding-bottom: 65px;
    }
  }
  &__bottom {
    background-color: #F5F5F5;
    padding: 19px 0;
    @include media-breakpoint-up(md) {
      height: 87px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      height: 100%;
      flex-direction: row;
      align-items: center;
    }
  }
  &__copyright {
    color: rgba(black, .6);
    margin-right: 33px;
    margin-bottom: 19px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  &__doc {
    display: inline-block;
    color: rgba(black, .6);
    margin-right: 33px;
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  &__dev {
    color: rgba(black, .4);
    display: block;
    width: 151px;
    height: 25px;
    //opacity: .4;

    @include media-breakpoint-up(md) {
      margin-left: auto;
    }
  }
}

.footer-nav {
  margin-bottom: 50px;

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
  &__title {
    @extend %title;

    font-size: 16px;
    line-height: 20px;
    margin-bottom: 28px;

    @include media-breakpoint-up(xl) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 39px;
    }
  }
  &__list {
    padding-left: 0;
    list-style: none;
    margin: 0;
  }
  &__item {
    color: rgba(black, 0.6);

    &:not(:last-child) {
      margin-bottom: 25px;

      @include media-breakpoint-up(xl) {
        margin-bottom: 32px;
      }
    }

    &_select {
      font-weight: 600;
      color: $main-color;
    }
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  @include media-breakpoint-up(xl) {
    flex-direction: row-reverse;
    margin-left: (map_get($grid-gutter-width-map, xl) / -2);
    margin-right: (map_get($grid-gutter-width-map, xl) / -2);
  }
  &__title {
    @extend %title;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 28px;
    max-width: 280px;

    @include media-breakpoint-up(md) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 36px;
    }
    @include media-breakpoint-up(xl) {
      max-width: none;
    }
  }
  &__address {
    //display: flex;
    //@include media-breakpoint-up(md) {
    //
    //  align-items: center;
    //}
    @include media-breakpoint-up(xl) {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: (map_get($grid-gutter-width-map, xl) / 2);
      padding-right: (map_get($grid-gutter-width-map, xl) / 2);
    }
  }
  &__social {
    display: flex;

    @include media-breakpoint-up(xl) {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: (map_get($grid-gutter-width-map, xl) / 2);
      padding-right: (map_get($grid-gutter-width-map, xl) / 2);
    }
  }
  &__social-item {
    //display: block;
    height: 60px;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &:hover {
      opacity: .6;
    }
  }
}

.footer-address {
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(md) {
    margin-bottom: -30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    margin-bottom: 30px;
    margin-right: 50px;
  }
  &__address {
    margin-bottom: 8px;
  }
  &__tel {
    font-weight: 600;
    margin-bottom: 8px;
  }
  &__scheme {
    font-weight: 600;
    color: $main-color;
  }
}

//.footer-map-link {
//  display: none;
//  align-items: center;
//  justify-content: center;
//  background: url("../img/footer-map-icon.png") center no-repeat;
//  background-size: cover;
//  margin-left: auto;
//
//  width: 146px;
//  height: 146px;
//
//  position: relative;
//  border-radius: 50%;
//  overflow: hidden;
//  color: rgba(black, 0.6);
//  transition: color .3s ease;
//  padding: 0 30px;
//  text-align: center;
//
//  @include media-breakpoint-up(xl) {
//    display: flex;
//  }
//  &:hover {
//    color: white;
//    &::before {
//      background-color: $main-color;
//    }
//  }
//  &::before {
//    content: '';
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    left: 0;
//    top: 0;
//    background-color: #FFFFFF;
//    opacity: .6;
//    transition: background-color .3s ease;
//  }
//  &__title {
//    font-size: 15px;
//    line-height: normal;
//    font-weight: 600;
//    position: relative;
//  }
//}