//@include dev() {
//  body {
//    //background: url("../img/rm/1920.png") center top no-repeat;
//    background: url('../img/rm/320.png') center 1px no-repeat;
//
//    > * {
//      opacity: .5;
//    }
//
//    @include media-breakpoint-up(md) {
//      background: url('../img/rm/768.png') center top no-repeat;
//    }
//
//    @include media-breakpoint-up(xl) {
//      //background: url('../img/rm/1920.png') center top no-repeat;
//
//      //background: url('../img/rm/1920-login.png') center top no-repeat;
//
//      background: url('../img/rm/catalog-1920.png') center 0px no-repeat;
//      //background: url('../img/rm/catalog-1920-2.png') center -37px no-repeat;
//    }
//  }
//}

:root {
  /* -------------------------------------------------------------------
      Assign the default/constant/env values to CSS variables
  */
  --safe-area-inset-top: 0px;
  --safe-area-inset-right: 0px;
  --safe-area-inset-bottom: 0px;
  --safe-area-inset-left: 0px;

  @supports (top: constant(safe-area-inset-top)) {
    --safe-area-inset-top: constant(safe-area-inset-top);
    --safe-area-inset-right: constant(safe-area-inset-right);
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    --safe-area-inset-left: constant(safe-area-inset-left);
  }

  @supports (top: env(safe-area-inset-top)) {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
  }
}

html {
  font-family: $font-family-inter-ui;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: $font-family-inter-ui-var;
  }
}

body {
  font-size: .875rem;

  @include media-breakpoint-up(xl) {
    font-size: 1rem;
  }
}

body,
input,
textarea,
select,
button {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//a {
//  transition: color .2s ease;
//}

p {
  font-size: 14px;
  line-height: 22px;
  word-break: break-word;

  @include media-breakpoint-up(xl) {
    font-size: 16px;
    line-height: 25px;
  }
}

svg,
img,
video,
audio {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title;
}


h1,
h3,
h4,
h5,
h6 {
  @include font-size(24px);
  line-height: 30px;
}

h2 {
  font-size: 20px;
  line-height: 25px;
}

h3 {
  font-size: 15px;
  letter-spacing: -0.02em;
  line-height: 19px;
}

@include media-breakpoint-up(md) {
  h1,
  h4,
  h5,
  h6 {
    @include font-size(36px);
    line-height: 46px;
  }
  h3 {
    font-size: 23px;
    line-height: 31px;
  }
  h2 {
    font-size: 26px;
    line-height: 25px;
  }
}

@include media-breakpoint-up(xl) {
  h1 {
    //@include font-size(60px);
    //line-height: 69px;

    margin-bottom: 48px;
    font-size: 52px;
    line-height: 59px;
  }
  h2 {
    font-size: 40px;
    line-height: 54px;
  }
  //h3 {
  //  font-size: 23px;
  //  line-height: 31px;
  //}
  h4 {
    font-size: 23px;
    line-height: 31px;
  }
}

::selection {
  background: $main-color;
  color: #fff;
}

.selection,
.selected {
  color: $main-color;
}

.red {
  color: $main-color;
}

.orange {
  color: #f4c82d;
}

.green {
  color: #80c627;
}

.black {
  color: #000;
}

.gray {
  color: #636363;
}

.link {
  color: $main-color;
}

.link-underline,
.text-link {
  border-bottom: 1px dashed $main-color;
  color: $main-color;
}

.nowrap {
  white-space: nowrap;
}

.inter-ui {
  @include make-font-inter;
}

//.price {
//  &::after {
//    content: '₽';
//    margin-left: .25em;
//  }
//}

.currency {
  @include make-font-inter;
  font-weight: 800;
}

@include media-breakpoint-up(md) {
  .skew {
    transform: $skew;
  }

  .skew-reverse {
    transform: $skew-reverse;
  }
}


$input-height: 62px;
$input-font-size: 16px;
$input-line-height: 1.5;
$input-padding-x: 22px;
$input-padding-y: 19px;
$input-border-width: 3px;

.input-text {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  //box-shadow: inset 0 0 0 $input-border-width #000;
  color: #1a1a1a;
  font-family: $font-family-bender;
  font-size: $input-font-size;
  font-weight: 900;
  letter-spacing: .02em;
  line-height: $input-line-height;
  appearance: none;


  //@include mre-height-block($input-font-size, ($input-height - $input-border-width * 2), $input-line-height);

  //@include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.

  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  &:hover,
  &:focus {
    //border-color: $main-color;
    outline: 0;
    box-shadow: inset 0 0 0 $input-border-width #101010;
  }

  &::placeholder {
    opacity: 1;
    color: rgba(#1a1a1a, .4);
    text-transform: uppercase;
  }

  &:disabled,
  &[readonly] {
    opacity: 1;
    background-color: $input-disabled-bg;
  }
}

textarea.input-text {
  padding-right: 56px;

  &:not(.autoheight) {
    height: auto;
  }

  &.autoheight {
    height: $input-height;
    min-height: $input-height;
    overflow: hidden;
    resize: none;
  }
}

.input-checkbox {
  display: block;
  position: relative;
  padding: 4px 0 4px 32px;
  line-height: 1;

  &_right {
    padding-right: 32px;
    padding-left: 0;

    .input-checkbox__label {
      &::before {
        right: -32px;
        left: auto;
      }

      &::after {
        right: -24px;
        left: auto;
      }
    }
  }

  &_inline {
    display: inline-flex;
    margin-right: 16px;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      ~ .input-checkbox__label {
        &::after {
          transform: rotate(45deg);
          opacity: 1;
        }
      }
    }

    &:disabled {
      cursor: not-allowed;

      ~ .input-checkbox__label {
        cursor: not-allowed;

        &::before {
          opacity: .2;
        }
      }
    }
  }

  &__label {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(0.5em - #{20px / 2});
      //top: 1px;
      left: -32px;
      width: 20px;
      height: 20px;
      border: 2px solid #000;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      //top: 5px;
      top: calc(0.5em - #{20px / 2 - 4px});
      left: -24px;
      width: 5px;
      height: 10px;
      //transition: all .3s ease;
      border-right: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
      opacity: 0;
    }
  }
}

.custom-checkbox {
  padding-left: 32px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      ~ .custom-checkbox__label {
        &::after {
          transform: rotate(45deg);
          opacity: 1;
        }
      }
    }
  }

  &__label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: -32px;
      width: 20px;
      //pointer-events: none;
      height: 20px;
      border: 2px solid #000;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 5px;

      left: -24px;
      width: 5px;
      height: 10px;
      transition: all .3s ease;
      border-right: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
      opacity: 0;
    }
  }
}


// Buttons

.btn {
  //display: inline-block;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;

  height: 60px;
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  border: $btn-border-width solid transparent;
  background-color: transparent;

  color: #000;
  font-family: $btn-font-family;
  font-size: $btn-font-size-sm;
  font-style: italic;
  font-weight: 900;
  letter-spacing: .02em;
  line-height: $btn-line-height-sm;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;
  @include transition($btn-transition);

  @include media-breakpoint-up(md) {
    height: 70px;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $btn-font-size;
    line-height: $btn-line-height;

    @include hover {
      color: $body-color;
      text-decoration: none;
    }
  }

  &:focus,
  &.focus {
    outline: 0;
    //box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    //opacity: $btn-disabled-opacity;
    cursor: not-allowed;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    //&:focus {
    //  @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    //}
  }

  .icon-done {
    font-size: 22px;
    line-height: 1;
    @include media-breakpoint-up(md) {
      font-size: 26px;
    }
  }
}

.btn-block {
  //display: block;
  display: flex;
  width: 100%;

  &.btn-skew {
    width: calc(100% - #{tan(9deg) * 60px});
    @include media-breakpoint-up(md) {
      width: calc(100% - #{tan(9deg) * 70px});
    }
  }

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

.btn-skew {
  font-style: normal;
  margin-right: tan(9deg) * 60px;
  transform: $skew;
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;

  @include media-breakpoint-up(md) {
    margin-right: tan(9deg) * 70px;
  }

  .btn-icon {
    transform: $skew-reverse;
  }

  &__revers {
    display: inline-block;
    transform: $skew-reverse;
  }
}

.btn-icon {
  display: inline-block;
  margin-right: .5em;
  //margin-left: .5em;
}

.btn-text {
  display: inline-flex;
  position: relative;
  //will-change: transform, opacity;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  //min-width: 64px;
  //height: 36px;
  padding: 8px 8px;
  overflow: hidden;
  border: none;
  outline: none;
  background: none;

  @include title;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  -webkit-appearance: none;
}

.btn-red {
  @include button-variant($main-color, $main-color, #1b1b1b, #1b1b1b);
}

.btn-blue {
  @include button-variant(#4c6c91, #4c6c91);
}

.btn-green {
  //@include button-variant(#80c627, #80c627);
  @include button-variant(#7fc527, #7fc527);
  //color: #fff;
  //background-color: #80c627;
  //border-color: #80c627;
  //
  //@include hover {
  //  color: #fff;
  //  background-color: darken(#80c627, 7.5%);
  //  border-color: darken(#80c627, 7.5%);
  //}
  //
  //&:active {
  //  color: #fff;
  //  background-color: darken(#80c627, 7.5%);
  //  border-color: darken(#80c627, 7.5%);
  //}
}

.btn-white {
  @include button-variant(#fff, #fff, #1b1b1b, #1b1b1b);
}

.btn-black {
  @include button-variant(#101010, #101010, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b);
}

.btn-gray {
  @include button-variant(#f5f5f5, #f5f5f5, $main-color, $main-color);
  color: $main-color;
}

.btn-gray-2 {
  //@include button-variant(#e7e7e7, #e7e7e7);
  @include n-button-solid-variant(#eaeaea, #101010);
  //color: rgba(#101010, .4);

  //background-color: #e7e7e7;
  //border-color: #e7e7e7;
  //color: #929292;
}

.btn-border-red {
  //color: #101010;
  //border-color: #DD3F30;
  @include button-outline-variant($main-color, #fff);
  //color: $main-color;
}

.btn-border-green {
  @include button-outline-variant($green, #fff);
}


.form-group {
  margin-right: tan(9deg) * 62px / 2;
  margin-bottom: 13px;
  margin-left: tan(9deg) * 62px / 2;
  transform: $skew;
  -webkit-backface-visibility: hidden;

  &_row {
    display: flex;

    .input-field + .input-field {
      margin-left: 13px;
    }
  }
}

.n-form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -6px;
  margin-left: -6px;

  > .col,
  > [class*="col-"] {
    padding-right: 6px;
    padding-left: 6px;
  }
}

.n-form-group {
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    margin-bottom: 13px;
  }

  &__field {
    margin-right: tan(9deg) * 62px / 2;
    margin-left: tan(9deg) * 62px / 2;
    transform: $skew;
    -webkit-backface-visibility: hidden;
  }

  &__description {
    display: block;
    margin-top: 5px;
    margin-right: 15px;
    color: rgba(#101010, 0.5);
  }
}


.form-body {
  position: relative;

  > * {
    transition: opacity .3s ease;
  }

  &_loading {
    > * {
      opacity: 0.3;
    }

    .form-body__loading {
      visibility: visible;
      opacity: 1;
    }
  }

  &_success {
    > * {
      opacity: 0;
    }

    .form-body__loading {
      visibility: hidden;
      opacity: 0;
    }

    .form-body__success {
      visibility: visible;
      opacity: 1;
    }
  }

  &__loading,
  &__success {
    display: flex;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease;
    opacity: 0;
    text-align: center;
  }

  &__success-title {
    @include title;
    margin-bottom: 11px;
    font-size: 26px;
    line-height: 29px;
  }

  &__success-text {
    color: #000;
    font-size: 16px;
    line-height: 24px;
  }

  &__spinner {
    display: inline-block;
    position: relative;
    width: 76px;
    height: 76px;
    margin-bottom: 13px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba($main-color, 0.2) inset;
    vertical-align: text-bottom;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 6px solid $main-color;
      border-radius: 50%;
      border-top-color: transparent;
      border-right-color: transparent;
    }

    &::before {
      animation: spinner-border 1s linear infinite;
    }

    &::after {
      animation: spinner-border 1.1s linear infinite;
    }
  }

  &__loading-text {
    color: #000;
    font-size: 16px;
    line-height: 22px;
  }
}

//
// Аналог .form-group из bootstrap
//
.input-field {
  //display: inline-flex;
  display: block;
  //height: $input-height;
  position: relative;
  //background-color: #fff;
  width: 100%;
  overflow: hidden;
  border: 0;
  border-radius: 0;
  background-color: #fff;

  color: #1a1a1a;
  font-family: $font-family-bender;
  font-size: $input-font-size;
  font-weight: 900;
  letter-spacing: .02em;
  line-height: $input-line-height;
  //text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    @include transition($input-transition);
  }

  //input.input-field__input {
  //  height: $input-height;
  //}

  &_primary {
    display: block;
    width: 100%;
    //transform: $skew;
    background-color: #f7f7f7;
  }

  &_primary-white {
    background-color: #fff;
  }

  &:hover,
  &_focused {
    &::after {
      box-shadow: inset 0 0 0 $input-border-width #101010;
    }
  }

  &_invalid {
    &::after {
      box-shadow: inset 0 0 0 1px $main-color;
    }
  }

  &__label {
    position: absolute;
    z-index: 1;
    top: 19px;
    left: $input-padding-x;
    margin-bottom: 0;
    //transform: translateY(-50%);
    overflow: hidden;
    transform-origin: left top;
    transition: transform .15s ease;
    opacity: .4;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: text;
    pointer-events: none;
    will-change: transform;
    text-transform: uppercase;

    &_active {
      transform: translateY(-50%) scale(.625);
    }
  }

  &__input {
    display: block;
    //position: absolute;
    //left: 0;
    //top: 0;
    width: calc(100% + 20px);
    //height: 100%;
    margin-right: -10px;
    margin-left: -10px;
    padding: $input-padding-y ($input-padding-x + 10px);
    transform: $skew-reverse;
    border: 0;
    outline: 0;
    background: none;
    box-shadow: none;
    font-family: inherit;
    font-style: italic;
    font-weight: inherit;
    //text-transform: uppercase;
    appearance: none;

    &::placeholder {
      opacity: 1;
      color: rgba(#1a1a1a, .4);
      text-transform: uppercase;
    }
  }

  &__button {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 36px;
    height: 36px;
    padding: 0;
  }

  &__alert {
    @include title;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    max-width: 155px;
    padding-right: 55px;
    padding-left: 30px;
    background: linear-gradient(270deg, #f7f7f7 50%, rgba(#fff, 0) 100%);
    font-size: 10px;
    font-style: normal;
    line-height: 1;
    text-align: right;
    pointer-events: none;

    //transform: translateX(10px);
    //opacity: 0;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      background: $main-color url("../img/input-error.svg") center no-repeat;
    }
  }
}

textarea.input-field__input {
  width: 100%;
  margin: 0;
  padding: 19px 22px;
  transform: none;
  font-style: normal;
}


.slider-nav {

  &.disabled {
    display: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    border-radius: 50%;
    @extend .btn-red;

    &_left {
      left: 0;
      margin-left: -30px;
    }

    &_right {
      right: 0;
      margin-right: -30px;
    }

    @include media-breakpoint-up(xl) {
      width: 80px;
      height: 80px;
      margin-top: -40px;
      &_left {
        margin-left: -40px;
      }
      &_right {
        margin-right: -40px;
      }
    }
  }
}

.btn-close {
  @include button-variant($main-color, $main-color, #1b1b1b, #1b1b1b);

  width: 61px;
  height: 61px;
  border-radius: 50%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17px;
    height: 3px;
    background: white;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.page-header {
  padding: map_get($page-header-padding-y, xs) 0;

  @include media-breakpoint-up(md) {
    padding: map_get($page-header-padding-y, md) 0;
    //padding-top: 32px;
    //padding-bottom: 25px;
  }

  @include media-breakpoint-up(xl) {
    padding: map_get($page-header-padding-y, xl) 0;
    //padding-top: 42px;
    //padding-bottom: 30px;
  }

  &__title {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 1.25;

    @include media-breakpoint-up(md) {
      margin-top: 12px;
      font-size: 36px;
      line-height: 41px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 24px;
      font-size: 60px;
      line-height: 68px;
    }

    &_small {
      font-size: 20px;
      line-height: 25px;
      @include media-breakpoint-up(md) {
        font-size: 36px;
        line-height: 41px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 40px;
        line-height: 40px;
        margin-top: 29px;
      }
    }
  }

  &__search {
    height: 54px;
    margin-top: 22px;
    margin-right: (map_get($grid-gutter-width-map, xs) / -2);
    margin-left: (map_get($grid-gutter-width-map, xs) / -2);

    @include media-breakpoint-up(sm) {
      margin-right: 0;
      margin-left: 0;
    }
    @include media-breakpoint-up(md) {
      height: 90px;
      margin-top: 50px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      max-height: 60px;
    }
  }
}

.breadcumps {
  display: none;
  font-family: $font-family-bender;
  font-size: 12px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: .02em;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    display: block;
    //margin-bottom: 12px;
  }
  @include media-breakpoint-up(xl) {
    //margin-bottom: 28px;
    //margin-bottom: 24px;
  }


  &__delimiter {
    display: inline-block;

    //color: $main-color;
    width: 2px;
    height: 11px;
    margin: 0 13px -1px;
    transform: skewX(-12deg);
    background-color: $main-color;
  }

  //&__link {
  //  color: $main-color;
  //}

  &__page {
    color: rgba(#101010, .4);
  }
}

//.input-counter {
//  margin-top: 6px;
//  padding-right: 11px;
//  font-family: $font-family-bender;
//  font-size: 20px;
//  font-style: italic;
//  font-weight: 900;
//  text-align: right;
//
//  &__up {
//    @extend %button-reset;
//    color: $main-color;
//  }
//
//  &__down {
//    @extend %button-reset;
//    color: $main-color;
//  }
//
//  &__count {
//
//    margin: 0 8px;
//  }
//}

.map-balloon {

  display: block;
  position: absolute;
  z-index: 1010;
  top: 0;
  left: 0;
  padding: 20px 30px;
  transform: $skew;
  background: white;

  box-shadow: 0 14px 34px rgba(0, 0, 0, .15);

  &::before {
    content: '';
    //top: ;
    position: absolute;
    top: -10px;
    left: 44px;
    transform: $skew-reverse;
    border: 10px solid transparent;
    border-top-width: 0;

    border-bottom-color: white;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    //margin-bottom: 30px;
    //margin-right: 50px;
  }

  &__address {
    margin-bottom: 8px;
    transform: $skew-reverse;
  }

  &__tel {
    margin-bottom: 8px;
    transform: $skew-reverse;
    font-weight: 600;
  }

  &__scheme {
    transform: $skew-reverse;
    color: $main-color;
    font-weight: 600;
  }
}


//
// Определяем стили nouislider с измененными классами
//

$custom-range-track-padding: 0 !default; // new
$custom-range-track-width: 100% !default;
$custom-range-track-height: 6px !default;
$custom-range-track-cursor: pointer !default;
$custom-range-track-bg: #fff !default;
$custom-range-track-border-radius: 6px !default;
$custom-range-track-box-shadow: none !default;

$custom-range-connect-track-bg: $main-color !default; // new
$custom-range-connect-track-box-shadow: 0 !default; // new

$custom-range-thumb-width: 26px !default;
$custom-range-thumb-height: 26px !default;
$custom-range-thumb-bg: #fff !default;
$custom-range-thumb-border: 6px solid $main-color !default;
$custom-range-thumb-border-radius: 50% !default;
$custom-range-thumb-cursor: pointer !default; // new
$custom-range-thumb-box-shadow: none !default;
$custom-range-thumb-focus-box-shadow: $custom-range-thumb-box-shadow !default;
$custom-range-thumb-active-bg: darken($main-color, 15%) !default;
$custom-range-thumb-disabled-bg: #adb5bd !default;

.input-range {
  position: relative;
  width: $custom-range-track-width;
  height: $custom-range-track-height;
  padding: $custom-range-track-padding;
  border-radius: $custom-range-track-border-radius;
  background: $custom-range-track-bg;
  box-shadow: $custom-range-track-box-shadow;
  cursor: $custom-range-track-cursor;
  user-select: none;
  -webkit-touch-callout: none;
  // horizontal
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;

  * {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &_vertical {
    width: $custom-range-track-height;
    height: $custom-range-track-width;

    .input-range__handle {
      top: 0;
      left: 50%;
    }
  }

  &_horizontal {
  }

  &_state-tap {
    .input-range__connect,
    .input-range__origin {
      transition: transform .3s;
    }
  }

  &_state-drag {
    * {
      cursor: inherit !important;
    }
  }

  &__base {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__connects {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: $custom-range-track-border-radius;
  }

  &__connect {
    background: $custom-range-connect-track-bg;
    box-shadow: $custom-range-connect-track-box-shadow;
  }

  &__connect,
  &__origin {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    -webkit-transform-style: preserve-3d;
    transform-style: flat;
    will-change: transform;
  }

  &__handle {
    position: absolute;
    top: 50%; // horizontal
    left: 100%; // horizontal
    width: $custom-range-thumb-width;
    height: $custom-range-thumb-height;
    margin-top: -$custom-range-thumb-height / 2;
    margin-left: -$custom-range-thumb-width / 2;
    backface-visibility: hidden;
    border: $custom-range-thumb-border;
    border-radius: $custom-range-thumb-border-radius;
    background: $custom-range-thumb-bg;
    box-shadow: $custom-range-thumb-box-shadow;
    cursor: $custom-range-thumb-cursor;

    &:focus {
      outline: none;
      box-shadow: $custom-range-thumb-focus-box-shadow;
    }

    &:active {
      background: $custom-range-thumb-active-bg;
    }

    [disabled] & {
      background: $custom-range-thumb-disabled-bg;
      cursor: not-allowed;
    }
  }

  &__tooltip {
    position: absolute;
    top: -43px;

    left: 50%;
    padding: 3px 7px 2px;
    transform: translateX(-50%);
    border-radius: 20px;
    background: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 1;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;

      transform: translateX(-50%);
      border-top: 10px solid #fff;
      border-right: 9px solid transparent;
      border-bottom: 0;
      border-left: 9px solid transparent;
    }
  }

  //&__touch-area {
  //  width: 100%;
  //  height: 100%;
  //}
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane:not(.active) {
    display: none;
  }
}


.rect-rating {
  transform: $skew;

  &__item {
    display: inline-block;
    width: 5px;
    height: 10px;
    margin-right: 5px;
    background: #dbdbdb;

    &.active {
      background: currentColor;
    }
  }
}


.article {
  padding-bottom: 70px;

  p {
    margin-bottom: 1.5em;
  }

  &__header {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 55px;
    }
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.fade-left-enter-active,
.fade-left-leave-active {
  transition: all .2s ease-in-out;
}

.fade-left-enter,
.fade-left-leave-to {
  transform: translateX(10%);
  opacity: 0;
}


.star-rating {
  display: flex;
  align-items: center;

  &__star {
    display: inline-block;
    width: 40px;
    height: 36px;
    margin-bottom: 0;
    padding-right: 4px;
    color: #e1e1e1;
    cursor: pointer;

    @include media-breakpoint-up(xl) {
      width: 54px;
      height: 50px;
    }

    &.selected {
      color: $main-color;
    }

    &.disabled {
      cursor: default;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__value {
    @include title;
    margin-left: 15px;
    font-size: 40px;
    line-height: 1;
    @include media-breakpoint-up(md) {
      font-size: 60px;
      margin-left: 22px;
    }
  }
}


.notification {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 190px;
  //margin-top: 10px;
  padding: 22px 27px;
  transition: all .4s ease;

  background: #fff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);


  &__btn-close {
    @extend %button-reset;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  &__btn-cancel {
    @extend %button-reset;

  }

  &__title {
    @include title;
    margin-bottom: 8px;
    font-size: 23px;
    line-height: 31px;
  }

  &__description {
    font-size: 15px;
    line-height: 18px;
  }
}

.vue-modal {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;

  //.modal-close {
  //  transform: none;
  //}

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.9);
    z-index: 1;
  }

  &__close {
    position: absolute;
    z-index: 10;
    top: -19px;
    right: 20px;
    width: 38px;
    height: 38px;
    //transform: translateY(-50%);
    //background-color: $main-color;
    //color: #fff;
    border-radius: 50%;

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
    }

    @include media-breakpoint-up(md) {
      top: -18px;
      right: -22px;
      width: 61px;
      height: 61px;
      transform: $skew-reverse;
      svg {
        width: 26px;
        height: 26px;
      }
    }
  }

  &__scroll {
    position: absolute;
    //top: 0;
    //bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    //transform: $skew;
    -webkit-backface-visibility: hidden;
    cursor: pointer;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0 !important
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 44px 0;
    pointer-events: none;

    @include media-breakpoint-up(md) {
      padding: 30px;
      .n-form-group__field {
        margin-right: 0;
        margin-left: 0;
        transform: none;
      }
      .btn-skew {
        margin-right: 0;
        transform: none;

        &.btn-block {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  &__inner {
    //transform: $skew;
    background: #fff;
  }

  &__outer {
    position: relative;
    max-width: 100%;
    pointer-events: auto;
    cursor: auto;
    //padding-right: tan(9deg) * 768px / 2;
    //padding-left: tan(9deg) * 768px / 2;
  }
}

.test {
  width: 270px;
  @include media-breakpoint-up(md) {
    width: 400px;
  }
  @include media-breakpoint-up(xl) {
    width: 800px;
  }

  &__title {
    height: 100px;
    padding: 20px;
    transform: $skew-reverse;
  }

  &__text {
    margin-bottom: 50px;
    padding: 50px 30px;
    transform: $skew-reverse;
  }

  &__b {
    &_n {
      overflow: hidden;
    }
  }

  &__map {
    height: 500px;
    //width: ;
    margin-right: tan(9deg) * 500px / -2;
    margin-left: tan(9deg) * 500px / -2;
    transform: $skew-reverse;
    background: darkseagreen url("../img/m.jpg") center no-repeat;
    background-size: cover;
    //width: calc(100% - #{tan(9deg) * 60px});
  }
}


.m-store-on-map {
  overflow: hidden;
  &__header {
    padding: 32px 40px;
  }

  &__title {
    @include title;
    font-size: 23px;
    font-style: normal;
    line-height: 1;
  }

  &__mask {
    overflow: hidden;
  }
  &__map {
    width: 1100px;
    height: 664px;

    //width: ;
    margin-right: tan(9deg) * 664px / -2;
    margin-left: tan(9deg) * 664px / -2;
    transform: $skew-reverse;
    background-color: darkseagreen;
    //background: darkseagreen url("../img/m.jpg") center no-repeat;
    //background-size: cover;
    //width: calc(100% - #{tan(9deg) * 60px});
  }
}
