//@include dev() {
//  body {
//    //background: url("../img/rm/1920.png") center top no-repeat;
//    background: url('../img/rm/320.png') center 1px no-repeat;
//
//    > * {
//      opacity: .5;
//    }
//
//    @include media-breakpoint-up(md) {
//      background: url('../img/rm/768.png') center top no-repeat;
//    }
//
//    @include media-breakpoint-up(xl) {
//      //background: url('../img/rm/1920.png') center top no-repeat;
//
//      //background: url('../img/rm/1920-login.png') center top no-repeat;
//
//      background: url('../img/rm/catalog-1920.png') center 1px no-repeat;
//      //background: url('../img/rm/catalog-1920-2.png') center -37px no-repeat;
//    }
//  }
//}


body {
  font-size: .875rem;

  @include media-breakpoint-up(xl) {
    font-size: 1rem;
  }

  @supports (font-variation-settings: normal) {
    font-family: $font-family-inter-ui-var;
  }
}

//html,
//body {
//  height: 100%;
//}

body,
input,
textarea,
select,
button {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: color .2s ease;
}

p {
  font-size: 14px;
  line-height: 22px;

  @include media-breakpoint-up(xl) {
    font-size: 16px;
    line-height: 25px;
  }
}

svg,
img,
video,
audio {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title;

  @include font-size(24px);
  line-height: 30px;

  @include media-breakpoint-up(md) {
    @include font-size(36px);
    line-height: 46px;
  }
}

@include media-breakpoint-up(xl) {
  h1 {
    @include font-size(60px);
    margin-bottom: 48px;
    line-height: 69px;
  }
  h2 {
    font-size: 40px;
    line-height: 54px;
  }
}

::selection {
  background: $main-color;
  color: #fff;
}

.selection,
.selected {
  color: $main-color;
}

.red {
  color: $main-color;
}

.green {
  color: #80c627;
}

.black {
  color: #000;
}

.text-link {
  border-bottom: 1px dashed $main-color;
  color: $main-color;
}

.nowrap {
  white-space: nowrap;
}

.inter-ui {
  @include make-font-inter;
}

//.price {
//  &::after {
//    content: '₽';
//    margin-left: .25em;
//  }
//}

.currency {
  @include make-font-inter;
  font-weight: 800;
}

@include media-breakpoint-up(md) {
  .skew {
    transform: $skew;
  }

  .skew-reverse {
    transform: $skew-reverse;
  }
}


$input-height: 62px;
$input-font-size: 16px;
$input-line-height: 1.5;
$input-padding-x: 16px;
$input-padding-y: 19px;
$input-border-width: 3px;

.input-text {
  display: block;
  width: 100%;
  //height: $input-height;
  padding: $input-padding-y $input-padding-x;
  border: $input-border-width solid #000;
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
  color: #1a1a1a;
  font-family: $font-family-bender;
  font-size: $input-font-size;
  font-weight: 900;
  letter-spacing: .02em;
  line-height: $input-line-height;
  //appearance: none;

  //@include mre-height-block($input-font-size, ($input-height - $input-border-width * 2), $input-line-height);

  //@include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.

  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  &:hover {
    border-color: $main-color;
  }

  &:focus {
    border-color: $main-color;
    outline: 0;
  }

  &::placeholder {
    opacity: 1;
    color: rgba(#1a1a1a, .4);
    text-transform: uppercase;
  }

  &:disabled,
  &[readonly] {
    opacity: 1;
    background-color: $input-disabled-bg;
  }
}

textarea.input-text {
  height: $input-height;
  min-height: $input-height;
}

.input-checkbox {
  display: block;
  position: relative;
  padding: 4px 0 4px 32px;
  line-height: 1;

  &_right {
    padding-right: 32px;
    padding-left: 0;

    .input-checkbox__label {
      &::before {
        right: -32px;
        left: auto;
      }

      &::after {
        right: -24px;
        left: auto;
      }
    }
  }

  &_inline {
    display: inline-flex;
    margin-right: 16px;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      ~ .input-checkbox__label {
        &::after {
          transform: rotate(45deg);
          opacity: 1;
        }
      }
    }

    &:disabled {
      cursor: not-allowed;

      ~ .input-checkbox__label {
        cursor: not-allowed;

        &::before {
          opacity: .2;
        }
      }
    }
  }

  &__label {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(0.5em - #{20px / 2});
      //top: 1px;
      left: -32px;
      width: 20px;
      height: 20px;
      border: 2px solid #000;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      //top: 5px;
      top: calc(0.5em - #{20px / 2 - 4px});
      left: -24px;
      width: 5px;
      height: 10px;
      //transition: all .3s ease;
      border-right: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
      opacity: 0;
    }
  }
}

.custom-checkbox {
  padding-left: 32px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      ~ .custom-checkbox__label {
        &::after {
          transform: rotate(45deg);
          opacity: 1;
        }
      }
    }
  }

  &__label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: -32px;
      width: 20px;
      //pointer-events: none;
      height: 20px;
      border: 2px solid #000;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 5px;

      left: -24px;
      width: 5px;
      height: 10px;
      transition: all .3s ease;
      border-right: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
      opacity: 0;
    }
  }
}


// Buttons

.btn {
  $btn-height: 70px;
  $btn-padding-x: 10px;
  $btn-font-size: 18px;
  $btn-line-height: 1.5;
  $btn-border-width: 3px;
  display: inline-block;

  position: relative;
  padding-right: $btn-padding-x;

  padding-left: $btn-padding-x;
  border: $btn-border-width solid transparent;
  background-color: transparent;
  color: black;
  font-family: $font-family-bender;
  font-style: normal;
  font-weight: 900;

  letter-spacing: .02em;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;
  @include transition($btn-transition);

  @include mre-height-block(16px, 60px, 1.5, $btn-border-width);
  @include media-breakpoint-up(xl) {
    @include mre-height-block(18px, 70px, 1.5, $btn-border-width);
    //@include mre-height-block($btn-font-size, $btn-height, $btn-line-height, rem);
  }

  @include hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    //box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

.btn-skew {
  transform: $skew;
  transform-origin: center bottom;

  &__revers {
    display: inline-block;
    transform: $skew-reverse;
  }
}

.btn-text {
  display: inline-flex;
  position: relative;
  //will-change: transform, opacity;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  //min-width: 64px;
  //height: 36px;
  padding: 8px 8px;
  overflow: hidden;
  border: none;
  outline: none;
  background: none;

  @include title;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  -webkit-appearance: none;
}

.btn-red {
  @include button-variant($main-color, $main-color, #1b1b1b, #1b1b1b);
}

.btn-black {
  @include button-variant(#101010, #101010, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b);
}

.btn-gray {
  @include button-variant(#f5f5f5, #f5f5f5, $main-color, $main-color);
  color: $main-color;
}

.btn-gray-2 {
  @include button-variant(#e7e7e7, #e7e7e7);
  color: rgba(#101010, .4);
}

.btn-border-red {
  //color: #101010;
  //border-color: #DD3F30;
  @include button-outline-variant($main-color, #fff);
  //color: $main-color;
}

.btn-border-green {
  @include button-outline-variant($green, #fff);
}

//
// Аналог .form-group из bootstrap
//
.input-field {
  //display: inline-flex;
  position: relative;
  //height: $input-height;
  overflow: hidden;
  background-color: #fff;
  color: #1a1a1a;
  font-family: $font-family-bender;
  font-size: $input-font-size;
  font-weight: 900;
  letter-spacing: .02em;
  line-height: $input-line-height;
  text-transform: uppercase;

  &.active {
    .input-field {
      &__label {
        transform: translateY(-50%) scale(.625);
      }

      &__input {

      }
    }
  }

  &__label {
    position: absolute;
    top: 19px;
    left: $input-padding-x + $input-border-width;
    margin-bottom: 0;
    overflow: hidden;
    //transform: translateY(-50%);
    transform-origin: left top;
    transition: transform .15s ease;
    opacity: .4;
    text-overflow: ellipsis;
    text-transform: inherit;
    white-space: nowrap;
    cursor: text;
    pointer-events: none;
    will-change: transform;
  }

  &__input {
    @extend .input-text;
    align-self: flex-end;
    width: 100%;
    height: 100%;
  }

  &__button {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 36px;
    height: 36px;
    padding: 0;
  }
}


.slider-nav {

  &.disabled {
    display: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    border-radius: 50%;
    @extend .btn-red;

    &_left {
      left: 0;
      margin-left: -30px;
    }

    &_right {
      right: 0;
      margin-right: -30px;
    }

    @include media-breakpoint-up(xl) {
      width: 80px;
      height: 80px;
      margin-top: -40px;
      &_left {
        margin-left: -40px;
      }
      &_right {
        margin-right: -40px;
      }
    }
  }
}

.btn-close {
  @include button-variant($main-color, $main-color, #1b1b1b, #1b1b1b);

  width: 61px;
  height: 61px;
  border-radius: 50%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17px;
    height: 3px;
    background: white;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.page-header {
  padding: map_get($page-header-padding-y, xs) 0;

  @include media-breakpoint-up(md) {
    padding: map_get($page-header-padding-y, md) 0;
    //padding-top: 32px;
    //padding-bottom: 25px;
  }

  @include media-breakpoint-up(xl) {
    padding: map_get($page-header-padding-y, xl) 0;
    //padding-top: 42px;
    //padding-bottom: 30px;
  }

  &__title {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 1.25;

    @include media-breakpoint-up(md) {
      font-size: 36px;
      line-height: 41px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 60px;
      line-height: 68px;
    }
  }

  &__search {
    height: 54px;
    margin-top: 22px;
    margin-right: (map_get($grid-gutter-width-map, xs) / -2);
    margin-left: (map_get($grid-gutter-width-map, xs) / -2);

    @include media-breakpoint-up(sm) {
      margin-right: 0;
      margin-left: 0;
    }
    @include media-breakpoint-up(md) {
      height: 90px;
      margin-top: 50px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      max-height: 60px;
    }
  }
}

.breadcumps {
  display: none;
  font-family: $font-family-bender;
  font-size: 12px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: .02em;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    display: block;
    margin-bottom: 12px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 28px;
  }


  &__delimiter {
    display: inline-block;

    //color: $main-color;
    width: 2px;
    height: 11px;
    margin: 0 13px -1px;
    transform: skewX(-12deg);
    background-color: $main-color;
  }

  //&__link {
  //  color: $main-color;
  //}

  &__page {
    color: rgba(#101010, .4);
  }
}

.input-counter {
  margin-top: 6px;
  padding-right: 11px;
  font-family: $font-family-bender;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  text-align: right;

  &__up {
    @extend %button-reset;
    color: $main-color;
  }

  &__down {
    @extend %button-reset;
    color: $main-color;
  }

  &__count {

    margin: 0 8px;
  }
}

.map-balloon {

  display: block;
  position: absolute;
  z-index: 1010;
  top: 0;
  left: 0;
  padding: 20px 30px;
  transform: $skew;
  background: white;

  box-shadow: 0 14px 34px rgba(0, 0, 0, .15);

  &::before {
    content: '';
    //top: ;
    position: absolute;
    top: -10px;
    left: 44px;
    transform: $skew-reverse;
    border: 10px solid transparent;
    border-top-width: 0;

    border-bottom-color: white;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    //margin-bottom: 30px;
    //margin-right: 50px;
  }

  &__address {
    margin-bottom: 8px;
    transform: $skew-reverse;
  }

  &__tel {
    margin-bottom: 8px;
    transform: $skew-reverse;
    font-weight: 600;
  }

  &__scheme {
    transform: $skew-reverse;
    color: $main-color;
    font-weight: 600;
  }
}


//
// Определяем стили nouislider с измененными классами
//

$custom-range-track-padding: 0 !default; // new
$custom-range-track-width: 100% !default;
$custom-range-track-height: 6px !default;
$custom-range-track-cursor: pointer !default;
$custom-range-track-bg: #fff !default;
$custom-range-track-border-radius: 6px !default;
$custom-range-track-box-shadow: none !default;

$custom-range-connect-track-bg: $main-color !default; // new
$custom-range-connect-track-box-shadow: 0 !default; // new

$custom-range-thumb-width: 26px !default;
$custom-range-thumb-height: 26px !default;
$custom-range-thumb-bg: #fff !default;
$custom-range-thumb-border: 6px solid $main-color !default;
$custom-range-thumb-border-radius: 50% !default;
$custom-range-thumb-cursor: pointer !default; // new
$custom-range-thumb-box-shadow: none !default;
$custom-range-thumb-focus-box-shadow: $custom-range-thumb-box-shadow !default;
$custom-range-thumb-active-bg: darken($main-color, 15%) !default;
$custom-range-thumb-disabled-bg: #adb5bd !default;

.input-range {
  position: relative;
  width: $custom-range-track-width;
  height: $custom-range-track-height;
  padding: $custom-range-track-padding;
  border-radius: $custom-range-track-border-radius;
  background: $custom-range-track-bg;
  box-shadow: $custom-range-track-box-shadow;
  cursor: $custom-range-track-cursor;
  user-select: none;
  -webkit-touch-callout: none;
  // horizontal
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;

  * {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &_vertical {
    width: $custom-range-track-height;
    height: $custom-range-track-width;

    .input-range__handle {
      top: 0;
      left: 50%;
    }
  }

  &_horizontal {
  }

  &_state-tap {
    .input-range__connect,
    .input-range__origin {
      transition: transform .3s;
    }
  }

  &_state-drag {
    * {
      cursor: inherit !important;
    }
  }

  &__base {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__connects {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: $custom-range-track-border-radius;
  }

  &__connect {
    background: $custom-range-connect-track-bg;
    box-shadow: $custom-range-connect-track-box-shadow;
  }

  &__connect,
  &__origin {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    -webkit-transform-style: preserve-3d;
    transform-style: flat;
    will-change: transform;
  }

  &__handle {
    position: absolute;
    top: 50%; // horizontal
    left: 100%; // horizontal
    width: $custom-range-thumb-width;
    height: $custom-range-thumb-height;
    margin-top: -$custom-range-thumb-height / 2;
    margin-left: -$custom-range-thumb-width / 2;
    backface-visibility: hidden;
    border: $custom-range-thumb-border;
    border-radius: $custom-range-thumb-border-radius;
    background: $custom-range-thumb-bg;
    box-shadow: $custom-range-thumb-box-shadow;
    cursor: $custom-range-thumb-cursor;

    &:focus {
      outline: none;
      box-shadow: $custom-range-thumb-focus-box-shadow;
    }

    &:active {
      background: $custom-range-thumb-active-bg;
    }

    [disabled] & {
      background: $custom-range-thumb-disabled-bg;
      cursor: not-allowed;
    }
  }

  &__tooltip {
    position: absolute;
    top: -43px;

    left: 50%;
    padding: 3px 7px 2px;
    transform: translateX(-50%);
    border-radius: 20px;
    background: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 1;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;

      transform: translateX(-50%);
      border-top: 10px solid #fff;
      border-right: 9px solid transparent;
      border-bottom: 0;
      border-left: 9px solid transparent;
    }
  }

  //&__touch-area {
  //  width: 100%;
  //  height: 100%;
  //}
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane:not(.active) {
    display: none;
  }
}
