//
// .header
// |-
//

//.control-panel {
//  z-index: 999;
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//
//  @include media-breakpoint-up(xl) {
//    position: relative;
//  }
//  &__message {
//    background-color: $main-color;
//    color: white;
//    text-align: center;
//
//    @extend %title;
//
//    @include mre-height-block(11px, 20px, 1);
//    @include media-breakpoint-up(md) {
//      @include mre-height-block(14px, 26px);
//    }
//    @include media-breakpoint-up(xl) {
//      @include mre-height-block(18px, 40px);
//
//      position: fixed;
//      left: 0;
//      right: 0;
//      top: 0;
//      z-index: 1000;
//
//      + .header {
//        padding-top: 40px;
//        &_fixed {
//          .header__fixed-block {
//            top: 40px;
//          }
//        }
//      }
//    }
//  }
//}

.mobile-menu {
  position: fixed;
  //top: ;
  //height: 100%;
  top: 65px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  color: white;
  visibility: hidden;
  transition-duration: .3s;
  transition-property: visibility;

  &.opened {
    visibility: visible;

    .mobile-menu__overlay {
      opacity: .8;
    }

    .mobile-menu__wrapper {
      transform: translateX(0);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #1b1b1b;
    opacity: 0;
    //opacity: 0.8;
    transition: opacity .3s ease;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    overflow: auto;
    background: #1b1b1b;
    transition: transform .3s ease;
    transform: translateX(-100%);
  }

  &__header {
    padding: 20px;
    background: #2b2b2b;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    //margin-top: 15px;
  }

  &__nav {
    padding: 20px;
  }

  &__city-list {
    //background: url("../img/rm/change-city.png") center top no-repeat;
    overflow: hidden;
    background-color: #1b1b1b;
    transition: height .7s ease-in-out;
  }

}

.header {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
  //opacity: .5;
  background-color: white;
  border-bottom: 1px solid #e3e3e3;

  @include media-breakpoint-up(xl) {
    position: relative;
    padding-bottom: 140px;
    border-bottom: 0;
  }

  &__nav-top {
    display: none;
    border-bottom: 1px solid #e3e3e3;
  }

  &__nav-center {

  }

  &__city-list {
    //background: url("../img/rm/change-city.png") center top no-repeat;
    overflow: hidden;
    background-color: #1b1b1b;
    transition: height .7s ease-in-out;
  }

  &__category {
    display: none;
    color: white;
    background-color: #101010;
  }

  &__fixed-block {
    background: white;

    @include media-breakpoint-up(xl) {
      //background: white;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: $zindex-fixed;
      transition: transform .3s ease;
      transform: translateY(-100%);
      &.fixed {
        position: fixed;
        top: 0;
        transform: translateY(0);

        .header-control {
          height: 74px;
        }
      }
    }
  }

  &__mini-banner {
    color: white;
    text-align: center;
    background-color: $main-color;
    @include title;

    @include mre-height-block(11px, 20px, 1);

    @include media-breakpoint-up(md) {
      @include mre-height-block(14px, 26px);
    }
    @include media-breakpoint-up(xl) {
      @include mre-height-block(18px, 40px);
    }
  }

  @include media-breakpoint-up(xl) {
    &__nav-top {
      display: block;
    }
    &__category {
      display: block;
    }
  }
}

@keyframes header {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.page-nav {

  // List
  padding-left: 0;
  margin-bottom: 0;
  color: rgba(#f5f5f5, .5);
  list-style: none;

  &__item {
    margin-bottom: 26px;
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    color: rgba(#000, .5);
    &__item {
      padding: 0 11px;
      margin-bottom: 0;
    }
  }
}

//
//
//
.header-nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  padding-right: 10px;
  @include font-size(14px);

  &__menu {
    font-family: $font-family-inter-ui;
  }

  &__link {
    padding: 0 12px;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

.header-login {
  font-weight: 500;

  svg {
    width: 8px;
    height: 12px;
    vertical-align: -1px;
  }
}

.header-number {
  font-family: $font-family-bender;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;

  svg {
    width: 11px;
    height: 11px;
    margin-right: 4px;
    vertical-align: 0;
  }
}

.select-city {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  //margin: -10px 0;

  @include media-breakpoint-up(xl) {
    //justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }

  &__icon {
    width: 11px;
    height: 15px;
    margin-right: 5px;
  }

  &__link {
    //@include caret(down);
    position: relative;
    max-width: 100%;

    padding-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;


    white-space: nowrap;

    //margin: 10px 0;

    &::after {
      position: absolute;
      top: 8px;
      right: 0;
      //display: inline-block;
      display: block;

      //margin-left: 1px;
      //vertical-align: middle;
      content: '';
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }

    &:not(.collapsed) {
      color: $main-color;
    }

    @include media-breakpoint-up(xl) {
      max-width: 150px;
      //margin: 0 16px 0 0;
      margin-right: 16px;
    }
  }

  &__value {
    //color: rgba(black, .5);
    opacity: .5;
  }
}

//
//
//
.header-control {
  display: flex;
  align-items: center;

  height: 44px;
  margin-right: -12px;
  margin-left: -12px;
  @include media-breakpoint-up(md) {
    height: 54px;
  }
  @include media-breakpoint-up(xl) {
    justify-content: space-between;
    height: 90px;
    margin-right: 0;

    margin-left: 0;
  }

  &__menu-btn {
    @extend %button-reset;

    //padding: 10px;
    position: relative;
    //margin-right: 27px;
    width: 44px;
    //height: 40px;
    height: 100%;
    margin-right: 4px;

    &:focus {
      outline: none;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 3px;
      margin-top: -1px;
      margin-left: -10px;
      content: '';
      background: black;
      transition: transform .3s ease;
    }

    &::before {
      //top: ;
      transform: translate(1px, -4px) $skew;
    }

    &::after {
      transform: translate(0, 3px) $skew;
    }

    //svg {
    //  width: 22px;
    //  height: 10px;
    //}

    &.active {
      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    @include media-breakpoint-up(md) {
      width: 54px;
      margin-right: 16px;
    }

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &__logo {
    display: block;

    width: 24px;
    height: 28px;
    margin-right: auto;
    background: url('../img/logo-only-icon.svg') no-repeat;
    background-size: contain;

    @include media-breakpoint-up(md) {
      width: 104px;
      height: 31px;
      background-image: url('../img/logo.svg');
      svg {
        width: 100%;
        height: 100%;
      }
    }

    @include media-breakpoint-up(xl) {
      width: 150px;
      height: 45px;
      margin-right: 50px;
    }
  }

  &__search {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    z-index: -1;
    transition: transform .3s ease;

    transform: translateY(-100%);

    &.active,
    &_active {

      transform: translateY(0);
    }

    @include media-breakpoint-up(xl) {
      position: relative;
      top: 0;
      right: auto;
      left: auto;
      z-index: auto;
      flex: 1 0;
      height: 100%;
      margin: 0;
      transform: translateY(0);
    }
  }

  &__cart-container {
    height: 100%;
  }

  &__cart {
    position: relative;
    display: none;
    width: 195px;

    height: 100%;
    margin-right: 7px;

    &:hover {
      .header-cart {
        display: block;
      }
    }

    @include media-breakpoint-up(xl) {
      display: block;
    }
  }


  &__button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 100%;
    margin-left: 7px;

    &_search svg {
      width: 17px;
      height: 18px;
    }

    &_favorites svg {
      width: 22px;
      height: 19px;
    }

    &_cart svg {
      width: 20px;
      height: 22px;
    }

    &.active,
    &_active {
      background-color: #eee;
    }

    @include media-breakpoint-up(md) {
      width: 54px;
    }
    @include media-breakpoint-up(xl) {
      width: auto;
      height: auto;
      &_favorites {
        margin-right: 52px;
        margin-left: 43px;

        svg {
          width: 37px;
          height: 32px;
        }
      }
      &_search,
      &_cart {
        display: none;
      }
    }
  }

  &__notifications {
    @include title;
    position: absolute;

    top: 50%;
    right: 50%;

    min-width: 13px;
    height: 13px;
    padding: 2px 2px 1px;
    font-size: 10px;
    line-height: 10px;

    color: white;
    text-align: center;
    background-color: $main-color;

    border-radius: 7px;
    transform: translate(50%, -50%) translate(10px, -10px);

    @include media-breakpoint-up(xl) {
      min-width: 26px;
      height: 26px;
      padding: 3px 5px;
      font-size: 15px;
      line-height: 20px;

      border-radius: 13px;
      transform: translate(50%, -50%) translate(18px, -16px);
    }
  }
}

.search-fild {
  position: relative;
  width: 100%;
  height: 54px;
  @include media-breakpoint-up(xl) {
    height: 100%;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding-right: 75px;

    padding-left: 20px;

    font-size: 13px;
    font-style: italic;

    background-color: #eee;
    border-color: #eee;
    @include media-breakpoint-up(xl) {
      padding-right: 75px;
      padding-left: 35px;
      font-size: 17px;
      font-style: normal;
      transform: $skew;
    }
  }

  &__loupe {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 17px;
    height: 18px;
    margin-top: -9px;
    color: #bababa;
    @include media-breakpoint-up(xl) {
      width: 24px;
      height: 26px;
      margin-top: -13px;
    }
  }
}

button.search-fild__loupe {
  @extend %button-reset;
  color: #bababa;
  transition: color .3s ease;

  &:hover {
    color: $main-color;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.button-cart {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  //padding: 23.5px 25px;
  padding: 10px 25px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__num {
    display: inline-block;
    min-width: 44px;
    padding: 7px 10px;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;

    line-height: 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .02em;
    background: #fff;
    border-radius: 22px;
  }

  &__block {
    margin-left: 12px;
    text-align: left;
  }

  &__title {
    display: block;
    font-size: 18px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: .02em;
  }

  &__price {
    display: block;

    font-family: $font-family-inter-ui;
    font-size: 15px;
    font-weight: 500;

    color: #fff;

    opacity: .7;
  }
}

//
//
//
.header-category {

  //height: 50px;
  //&__list {
  position: relative;
  //margin-left: -20px;
  padding-left: 0;
  margin-bottom: 40px;
  list-style: none;

  @include media-breakpoint-up(xl) {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 4px 0 -25px;
  }
  //}
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    //height: 100%;

    //.header-nav-bottom__hidden {
    //  display: block;
    //}

    @include media-breakpoint-up(xl) {
      flex: 1 0 auto;
      &:not(:last-child) {
        margin-bottom: 0;
      }
      &:hover {

        .header-category__link {

          color: white;
          background-color: #2d2d2d;
          //&::before {
          //  transform: translate3d(0, 0, 0);
          //}
        }

        .header-category__hidden {
          //display: block;
          height: 620px;
        }
      }
    }
  }

  &__link {

    font-family: $font-family-bender;
    font-size: 14px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .02em;

    @include media-breakpoint-up(xl) {

      display: block;
      width: 100%;
      height: 100%;
      font-style: normal;

      color: white;

      text-align: center;
      white-space: nowrap;
      transition: background-color .3s ease;
      transform: $skew;
      transform-origin: bottom;

      @include mre-height-block(15px, 50px, 20px);
    }
    //position: relative;
    //&::before {
    //  content: '';
    //  position: absolute;
    //  height: 100%;
    //  width: 100%;
    //  left: 0;
    //  top: 0;
    //  background-color: #2D2D2D;
    //  transform: translate3d(0, 100%, 0);
    //  transition: transform .2s ease-in-out;
    //}

    //&.active,
    //&:hover {
    //  color: white;
    //  background-color: #2D2D2D;
    //}
  }

  &__hidden {
    //display: none;
    position: absolute;
    top: 100%;
    //top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #2d2d2d;
    transition: $transition-collapse;
  }
}

.hidden-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 620px;
  //align-content: flex-start;
  padding: 28px 36px 46px;

  //background: url("../img/rm/hidden-nav.png") left top no-repeat;
  //background-size: auto;
  &__block {

  }

  &__title {
    @extend %title;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: normal;
  }

  &__list {
    padding-left: 0;
    list-style: none;
  }

  &__item {
    font-size: 14px;
    line-height: 17px;
    color: rgba(white, .5);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {

  }
}

.change-city {
  padding: 20px 0 20px 50px;
  color: white;
  @include media-breakpoint-up(xl) {
    padding: 30px 0 58px;
  }

  &__header {
    display: none;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 45px;
    @include media-breakpoint-up(xl) {

      display: flex;
    }
  }

  &__title {
    @extend %title;
    font-size: 20px;
  }

  &__btn-close {
    @include button-variant($main-color, $main-color, #FFF, #FFF);

    width: 33px;
    height: 33px;
    padding: 0;
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 2px;
      content: '';
      background: currentColor;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
      max-height: 410px;
    }
  }

  &__item {

    position: relative;
    margin-bottom: 21px;
    font-size: 14px;
    line-height: normal;

    &::before {
      position: absolute;
      top: -5px;
      left: -30px;
      font-size: 20px;
      color: $main-color;
      content: attr(data-letter);

      @extend %title;
    }
  }

  &__note {
    display: none;
    max-width: 455px;
    margin-top: 52px;
    font-size: 14px;
    line-height: 20px;

    color: rgba(255, 255, 255, .5);
    @include media-breakpoint-up(xl) {
      display: block;
    }

    b {
      color: white;
    }
  }
}

.change-store {
  padding: 21px 0;
  color: white;
  //background: url("../img/rm/change-store.png") center top no-repeat;
  @include media-breakpoint-up(xl) {
    padding: 49px 0 58px;
  }

  &__header {
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    //height: 45px;
    margin-bottom: 53px;
    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }

  &__title {
    @include title;
    font-size: 30px;
    line-height: 37px;
  }

  &__btn-close {
    @include button-variant($main-color, $main-color, #FFF, #FFF);

    width: 33px;
    height: 33px;
    padding: 0;
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 2px;
      content: '';
      background: currentColor;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    @include media-breakpoint-up(xl) {
      //max-height: 410px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 77px;
      margin-left: -14px;
      transform: $skew;
    }
  }

  &__note {
    padding: 12px 20px 0;
    //display: none;
    font-size: 12px;
    line-height: 17px;

    color: rgba(255, 255, 255, .5);
    @include media-breakpoint-up(xl) {
      max-width: 455px;
      padding: 0;
      //  display: block;
      margin-top: 52px;
      font-size: 14px;
      line-height: 20px;
    }

    b {
      color: white;
    }
  }

  &__item {

    @include media-breakpoint-up(xl) {
      @include make-col(4);
      padding: 0 10px;
      &_right {
        margin-bottom: -163px;
        margin-left: auto;
      }
    }
  }

  &__link {

    position: relative;
    display: flex;
    flex-direction: column;
    height: 100px;
    //margin: 0 0px 33px;
    padding: 15px 20px;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: normal;

    background: #292929;

    //flex: 0 0 3;

    &_active,
    &.active {
      box-shadow: 0 0 0 3px $main-color inset;
      //border: 3px solid #F4412D;
    }
    @include media-breakpoint-up(xl) {
      height: 130px;
      padding: 20px;
      margin-bottom: 33px;


      &_icon {
        padding-left: 60px;
      }
      &:hover {
        box-shadow: 0 0 0 1px $main-color inset;
        //border: 1px solid #F4412D;
      }
    }
  }

  &__item-icon {
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 58px;
    height: 42px;
    @include media-breakpoint-up(xl) {
      top: 50%;
      right: auto;
      bottom: auto;
      left: 0;
      width: 105px;
      height: 77px;
      transform: $skew-reverse translate(-60px, -50%);
    }
  }

  &__item-name {
    @include title;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: normal;
    @include media-breakpoint-up(xl) {
      font-size: 18px;
      transform: $skew-reverse;
    }
  }

  &__item-subtitle {
    font-size: 13px;
    line-height: normal;

    @include media-breakpoint-up(xl) {
      font-size: 15px;
      transform: $skew-reverse;
    }
  }

  &__item-note {
    margin-top: auto;

    font-size: 12px;
    line-height: normal;

    color: rgba(white, .5);

    @include media-breakpoint-up(xl) {
      font-size: 15px;
      transform: $skew-reverse;
    }
  }
}

.header-cart {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1040;

  display: none;
  width: 430px;
  max-height: 400px;
  overflow: auto;
  color: white;
  background: #1b1b1b;


  //background: url("../img/rm/cart.png") center top no-repeat;
  &__wrapper {
    padding: 0 23px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 0;
  }

  &__title {
    @include title;
    font-size: 20px;
  }

  &__btn-clear {
    @extend %button-reset;
    font-size: 14px;
    color: rgba(white, .5);

    > svg {
      display: inline-block;
      width: 14px;
      height: 16px;
      margin-right: 3px;
      vertical-align: -3px;
    }

    &:hover {
      color: #fff;
    }
  }
}

.h-product-item {
  display: flex;
  justify-content: space-between;

  padding: 6px 0;
  margin-bottom: 2px;

  &__img {
    flex: 0 0 71px;
  }

  &__info {
    //flex: 0 0 auto;
    //max-width: 200px;
    flex-grow: 1;
    padding: 5px 0;
  }

  &__name {
    margin-bottom: 9px;
    font-family: $font-family-bender;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: .02em;
  }

  &__description {
    font-size: 14px;
    color: rgba(white, .5);
  }

  &__controls {
    flex: 0 0 auto;
  }

  &__price {
    @include title;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
  }

  &__remove {
    @extend %button-reset;
    display: inline-block;

    width: 14px;
    height: 16px;
    color: $main-color;

    > svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    &:hover {
      color: white;
    }
  }
}
