.icon {
  // ...
}


.icon-ok,
.icon-vk,
.icon-inst,
.icon-fb {
  display: inline-block;
  width: 60px;
  height: 60px;

  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  font-size: 0;
  line-height: 60px;

  .footer-contacts__social-item & {
    display: inline-block !important;
  }
}

.icon-fb {
  background-image: url('../img/fb-logo.svg');
}

.icon-inst {
  background-image: url('../img/inst-logo.svg');
}

.icon-vk {
  background-image: url('../img/vk-logo.svg');
}

.icon-ok {
  background-image: url('../img/ok-logo.svg');
}

.i {
  display: inline-block;
}

// TODO: Переделать, чтоб наследовался color
.i-star {
  width: 12px;
  height: 12px;
  @include sprite('star', (
    fill: #e1e1e1
  ));

  &.red {
    @include sprite('star', (
      fill: $main-color
    ));
  }
}

.i-cards {
  width: 22px;
  height: 18px;
  @include sprite('cards');
}

.i-list {
  width: 22px;
  height: 18px;
  @include sprite('list');
}

.icon-tooltip {
  position: relative;
  width: 14px;
  height: 14px;
  margin-left: 6px;
  padding: 0;
  border: 0;
  vertical-align: -2px;
  @include sprite('question-mark');

  &:focus {
    outline: none;
  }

  @include media-breakpoint-up(xl) {
    width: 18px;
    height: 18px;
  }
}