.icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;

  font-size: 0;
  line-height: 60px;
  background-repeat: no-repeat;
  //color: rgba(white, 0);

  background-position: center;
  background-size: 100% 100%;
}
.icon-fb {
  background-image: url('../img/fb-logo.svg');
}
.icon-inst {
  background-image: url('../img/inst-logo.svg');
}
.icon-vk {
  background-image: url('../img/vk-logo.svg');
}
.icon-ok {
  background-image: url('../img/ok-logo.svg');
}
