.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-visa {
  @include sprite('visa');
  width: 33px;
  height: 10px;
}
.icon-mastercard {
  @include sprite('mastercard');
  width: 23px;
  height: 16px;
}
.icon-mir {
  @include sprite('mir');
  width: 33px;
  height: 10px;
}

.social-link098,
.icon-ok,
.icon-vk,
.icon-inst,
.icon-fb,
.icon-tg {
  display: inline-block;
  width: 60px;
  height: 60px;

  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  font-size: 0;
  line-height: 60px;

  .footer-contacts__social-item & {
    display: inline-block !important;
  }

  &:hover {
    opacity: 0.9;
  }
}

.social-link098_fb,
.icon-fb {
  background-image: url('../img/face@fuckinadblock@book-logo-fill.svg');
}

.social-link098_inst,
.icon-inst {
  background-image: url('../img/inst-logo.svg');
}

.social-link098_vk,
.icon-vk {
  background-image: url('../img/vk-logo.svg');
}

.social-link098_ok,
.icon-ok {
  background-image: url('../img/ok-logo.svg');
}

.social-link098_tg,
.icon-tg {
  background-image: url('../img/telegram-logo-fill.svg');
}

.i {
  display: inline-block;
}

// TODO: Переделать, чтоб наследовался color
.i-star {
  width: 12px;
  height: 12px;
  @include sprite('star', (
    fill: #e1e1e1
  ));

  &.red {
    @include sprite('star', (
      fill: $main-color
    ));
  }
}

.i-cards {
  width: 22px;
  height: 18px;
  @include sprite('cards');
}

.i-list {
  width: 22px;
  height: 18px;
  @include sprite('list');
}

.icon-tooltip {
  position: relative;
  width: 14px;
  height: 14px;
  margin-left: 6px;
  padding: 0;
  border: 0;
  vertical-align: -2px;
  @include sprite('question-mark');

  &:focus {
    outline: none;
  }

  @include media-breakpoint-up(xl) {
    width: 18px;
    height: 18px;
  }
}

