.modal {
  padding: 30px 0;
}

.modal-container {
  display: none;
  position: relative;
  padding: 0;
  overflow: visible;

  &__inner {
    min-height: 70px;
    padding: 20px 20px;
  }

  &__message {
    margin-right: 40px;
    @include title;
    font-size: 24px;
    line-height: 28px;
  }

  @include media-breakpoint-up(md) {
    transform: $skew;
    -webkit-backface-visibility: hidden;
    &__inner {
      padding: 50px 70px;
    }
    &__message {
      margin-right: 0;
      transform: $skew-reverse;
    }
  }
}

.modal-close {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  //background-color: $main-color;
  //color: #fff;
  svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
  }

  @include media-breakpoint-up(md) {
    top: -18px;
    right: -22px;
    width: 61px;
    height: 61px;
    transform: $skew-reverse;
    svg {
      width: 26px;
      height: 26px;
    }
  }
}

.auth {
  padding: 30px;
  overflow: visible;
  text-align: center;

  @include media-breakpoint-up(md) {
    width: 465px;

    padding: 45px 72px;
    transform: $skew;
  }

  &__title {
    @include title;
    margin-bottom: 20px;
    font-size: 24px;
    @include media-breakpoint-up(md) {
      margin-bottom: 34px;
      transform: $skew-reverse;
      font-size: 36px;
    }
  }

  &__subtitle {
    @include title;
    margin-bottom: 26px;
    font-size: 19px;
    line-height: 24px;
    @include media-breakpoint-up(md) {
      transform: $skew-reverse;
    }
  }

  &__link {
    //transform: $skew-reverse;
    &_no-account {
      margin-bottom: 20px;
    }

    &_forget {
      margin-bottom: 20px;
    }

    a {
      border-bottom: 1px dashed $main-color;
      color: $main-color;
      font-weight: 600;
    }

    @include media-breakpoint-up(xl) {
      transform: $skew-reverse;
      &_no-account {
        margin-bottom: 35px;
      }
      &_forget {
        margin-bottom: 28px;
      }
    }
  }

  &__form {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
  }

  &__input-field {
    margin-bottom: 12px;
  }

  &__button-block {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      margin-bottom: 55px;
      button {
        @include mre-height-block(18px, 62px, 1.5, 3px);
      }
    }
  }

  &__social {

    @include media-breakpoint-up(md) {
      transform: $skew-reverse;
    }
  }
}
