.auth {
  text-align: center;
  padding: 30px 30px;

  @include media-breakpoint-up(md) {

    padding: 45px 72px;
    transform: $skew;
    width: 465px;
  }
  &__title {
    @include title;
    font-size: 24px;
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      font-size: 36px;
      margin-bottom: 34px;
      transform: $skew-reverse;
    }
  }
  &__subtitle {
    @include title;
    line-height: 24px;
    font-size: 19px;
    margin-bottom: 26px;
    @include media-breakpoint-up(md) {
      transform: $skew-reverse;
    }
  }
  &__link {
    //transform: $skew-reverse;
    &_no-account {
      margin-bottom: 20px;
    }
    &_forget {
      margin-bottom: 20px;
    }
    a {
      font-weight: 600;
      color: $main-color;
      border-bottom: 1px dashed $main-color;
    }

    @include media-breakpoint-up(xl) {
      transform: $skew-reverse;
      &_no-account {
        margin-bottom: 35px;
      }
      &_forget {
        margin-bottom: 28px;
      }
    }
  }
  &__form {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
  }
  &__input-field {
    margin-bottom: 12px;
  }
  &__button-block {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      margin-bottom: 55px;
      button {
        @include mre-height-block(18px, 62px, 1.5, 3px);
      }
    }
  }
  &__social {

    @include media-breakpoint-up(md) {
      transform: $skew-reverse;
    }
  }
}