//body {
//  background: url('../img/rm/product-320.png') center top no-repeat;
//
//  @include media-breakpoint-up(xl) {
//    background: url('../img/rm/product-1920.png') center -7px no-repeat;
//  }
//}


.product {

}

.p-section-hero {
  padding-top: 20px;
  padding-bottom: 30px;
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 44px;
    padding-bottom: 67px;
  }
}

.p-detail {
  position: relative;

  @include media-breakpoint-up(md) {
    margin-top: 54px;
    margin-right: map_get($grid-gutter-width-map, md) / -2;
    margin-left: map_get($grid-gutter-width-map, md) / -2;
    //padding-left: 293px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 65px;
    margin-right: map_get($grid-gutter-width-map, xl) / -2;
    margin-left: map_get($grid-gutter-width-map, xl) / -2;
  }

  &__col {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      @include make-col(5, 8);
      @include make-col-offset(3, 8);
      padding-right: map_get($grid-gutter-width-map, md) / 2;
      padding-left: map_get($grid-gutter-width-map, md);
    }

    @include media-breakpoint-up(xl) {
      @include make-col(11);
      @include make-col-offset(0);
      padding-right: map_get($grid-gutter-width-map, xl) / 2;
      padding-left: map_get($grid-gutter-width-map, xl) / 2;
      &_top {
        @include make-col(5);
        @include make-col-offset(6);
        margin-bottom: 93px;
      }
    }
  }

  &__name {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 115%;

    @include media-breakpoint-up(md) {
      font-size: 36px;
      line-height: 41px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 26px;
      font-size: 40px;
      line-height: 46px;
    }
  }

  &__message {
    display: inline-block;
    padding: 3px 10px 4px;
    border-radius: 2px;
    background: #292929;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1;

    ~ .p-detail__header {
      @include media-breakpoint-up(xl) {
        margin-bottom: 18px;
      }
    }
  }

  &__left-block {

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 253px;
      @include make-col(3, 8);
      padding-right: map_get($grid-gutter-width-map, md) / 2;
      padding-left: map_get($grid-gutter-width-map, md) / 2;
    }

    @include media-breakpoint-up(xl) {
      //max-width: (78 * 5 + 24 * 4) * 1px;
      @include make-col(5);
      padding-right: map_get($grid-gutter-width-map, xl) / 2;
      padding-left: map_get($grid-gutter-width-map, xl) / 2;
    }
  }

  &__header {
    //display: flex;
    //flex-wrap: wrap;
    color: rgba(#000, 0.4);
    font-weight: 500;
    line-height: 27px;

    @include media-breakpoint-up(md) {
      order: -1;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 24px;
    }
  }

  &__category {
    display: inline-block;
    margin-right: 22px;
    white-space: nowrap;
  }

  &__country {
    display: inline-block;
    margin-right: 22px;
    white-space: nowrap;
  }

  &__reviews {
    float: right;
    color: $main-color;
  }

  &__row {
    margin-bottom: 25px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 45px;
    }
  }

  &__availability {
    margin-bottom: 17px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 34px;
    }
  }
}

.p-images-block {
  position: relative;
  height: 240px;
  @include media-breakpoint-up(xl) {
    height: 675px;
  }

  &__image {
    height: 100%;
    text-align: center;
  }

  .product-stickers {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .product-control {
    position: absolute;
    z-index: 3;
    top: 5px;
    right: 0;
  }
}

.p-brand-info {
  display: none;

  padding: 12px 17px;
  //background: #fff;
  color: rgba(#000, 0.4);
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;

  @include media-breakpoint-up(md) {
    display: block;
  }
  @include media-breakpoint-up(xl) {
    padding: 17px 26px;
    //border: 1px solid red;
    font-size: 15px;
    //transform: $skew;
    //> * {
    //  transform: $skew-reverse;
    //}
  }

  &__logo {

    @include media-breakpoint-up(xl) {
      width: 122px;
      height: 44px;
      padding-right: 10px;
      float: left;
    }

    > img {
      height: 100%;
    }
  }

  &__text {

    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
    }
  }

  &__link {
    display: inline-block;
    color: $main-color;
  }
}

.p-control {
  height: 143px;

  @include media-breakpoint-up(xl) {
    height: 152px;
    margin-bottom: 58px;
  }

  &__weight {
    padding-top: 36px;
  }

  &__item {
    @include title;
    display: inline-block;
    margin-right: 7px;
    transform: $skew;


    &.active {
      .p-control__label {
        box-shadow: 0 0 0 3px $main-color inset;
      }
    }
  }

  &__label {
    min-width: 71px;
    padding: 7px 12px;
    background: #fff;
    font-size: 15px;
    font-style: normal;
    text-align: center;
  }
}

.p-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include media-breakpoint-up(md) {
    padding-right: 220px;
  }
  @include media-breakpoint-up(xl) {
    padding-right: 243px;
  }

  &__old {
    @include title;
    display: inline-block;
    position: relative;
    margin-left: 14px;
    font-size: 22px;
    line-height: 1;

    &::before {
      content: '';
      position: absolute;
      right: -9px;
      bottom: 50%;
      left: -2px;
      height: 2px;
      background: currentColor;
    }

    @include media-breakpoint-up(md) {
      display: block;
      order: -1;
      margin-left: 0;
    }
  }

  &__new {
    @include title;
    display: inline-block;
    color: $main-color;
    font-size: 38px;
    line-height: 1;
    @include media-breakpoint-up(xl) {
      font-size: 47px;
    }
  }

  &__bonuses {
    margin-top: 6px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.01em;
    @include media-breakpoint-up(xl) {
      margin-top: 11px;
      font-size: 14px;
    }
  }

  &__note {
    margin-top: 7px;
    color: rgba(#000, 0.4);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.01em;
    @include media-breakpoint-up(xl) {
      margin-top: 18px;
      font-size: 14px;
    }
  }
}

.p-delivery-info {
  margin: 0 (map_get($grid-gutter-width-map, xs) / -2) 24px;
  padding: 15px (map_get($grid-gutter-width-map, xs) / 2) 16px;
  background: #fff;

  @include media-breakpoint-up(md) {
    margin: 10px 0;
    padding: 0;
    background: none;
  }

  &__row {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 12px;

    //&::before {
    //  content: '';
    //  //position: absolute;
    //  //height: 3px;
    //  //width: 100%;
    //  //left: 0;
    //  //bottom: 7px;
    //  flex: 1 0;
    //  align-self: center;
    //  order: 2;
    //  height: 3px;
    //  margin: 0 5px;
    //  background: #d7d7d7;
    //}
  }

  &__key {
    flex: 1 0;
    order: 1;
    margin-right: 5px;
    overflow: hidden;

    &::after {
      content: '';
      display: inline-block;
      width: 3px;
      height: 3px;
      margin-left: 5px;
      border-radius: 50%;
      background: #d7d7d7;

      // УЪУ СУКА!!!
      $list: ();
      @for $i from 1 through 50 {
        //$new: $i * 8px 0 0 0 #d7d7d7;
        $list: append($list, $i * 8px 0 #d7d7d7, comma);
      }

      box-shadow: $list;

      vertical-align: middle;
    }
  }

  &__delimiter {
    flex: 1 0;
    align-self: center;
    height: 4px;
    margin: 0 5px;
    background: #d7d7d7;
  }

  &__value {
    order: 3;
    text-align: right;
    white-space: nowrap;
  }
}


/*
 * Описание
 * @Type: Section
 */
.p-section-description {
  padding: 29px 0;
  //opacity: .5;
  background-color: #fff;

  @include media-breakpoint-up(xl) {
    padding-top: 63px;
    padding-bottom: 44px;
    font-size: 16px;
    line-height: 1.6875;

  }

  &__title {
    margin-bottom: 25px;
    @include media-breakpoint-up(md) {
      margin-bottom: 35px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 82px;
    }
  }

  &__row {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 65px;

      &::before {
        content: '';
        flex: 1 0 auto;
        order: 2;
        height: 3px;
        margin-top: 12px;
        margin-right: 11px;
        margin-left: 11px;
        background: #d7d7d7;
      }
    }

    @include media-breakpoint-up(xl) {
      margin-right: map_get($grid-gutter-width-map, xl) / -2;
      margin-bottom: 56px;
      margin-left: map_get($grid-gutter-width-map, xl) / -2;
      &::before {
        margin-top: 16px;
        margin-right: 7px;
        margin-left: 13px;
      }
    }
  }

  &__key {
    @include media-breakpoint-down(sm) {
      @include title;
    }
    @include media-breakpoint-up(md) {
      order: 1;
    }
    @include media-breakpoint-up(xl) {
      //padding-right: map_get($grid-gutter-width-map, xl) / 2;
      padding-left: map_get($grid-gutter-width-map, xl) / 2;
    }
  }

  &__value {
    @include media-breakpoint-up(md) {
      flex: 0 0 (708 - 293px);
      order: 3;
    }
    @include media-breakpoint-up(xl) {
      @include make-col(7);
      padding-right: map_get($grid-gutter-width-map, xl) / 2;
      padding-left: map_get($grid-gutter-width-map, xl) / 2;
    }
  }
}


/*
 * Наличие в магазинах
 * @Type: Section
 */
.p-section-availability {
  padding-top: 40px;
  font-weight: 500;
  letter-spacing: -0.01em;

  @include media-breakpoint-up(md) {
    padding-top: 60px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 75px;
    font-size: 16px;
    line-height: 19px;
  }

  p {
    margin-bottom: 6px;
    font-size: inherit;
    line-height: inherit;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 15px;
    }
  }

  &__title {
    @include media-breakpoint-up(xl) {
      margin-bottom: 73px;
    }
  }

  &__thead {
    display: none;
    margin-bottom: 18px;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__th {
    flex: 0 0 96px;
    color: rgba(#101010, 0.4);
    @include media-breakpoint-up(md) {
      flex: 0 0 auto;
    }
  }

  &__td {
    flex: 1 0;
  }

  &__row {
    padding: 17px 0 20px;
    //opacity: .5;
    background: #fff;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: map_get($grid-gutter-width-map, md);
      padding: 22px 0 27px;
      .p-section-availability__th {
        display: none;
      }
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: map_get($grid-gutter-width-map, xl);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__col {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 17px;

    &_address {
      flex-direction: column;
    }

    &_delivery {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      flex-direction: column;
      flex-wrap: nowrap;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(xl) {
      &_address {
        flex: 0 0 392px;
        max-width: 392px;
      }
      &_stock {
        flex: 0 0 229px;
        max-width: 229px;
      }
      &_pickup {
        flex: 0 0 263px;
        max-width: 263px;
      }
      &_delivery {
        flex: 0 0 316px;
        max-width: 316px;
      }
    }
  }

  &__note {
    //position: absolute;
    //left: 0;
    //bottom: 0;
    flex: 0 0 100%;
    color: rgba(#101010, 0.4);
    font-size: 12px;
    @include media-breakpoint-up(md) {
      flex: 0 0 auto;
      width: 200px;
      margin-top: auto;
      font-size: 13px;
    }
  }
}


/*
 * Похожие товары
 * @Type: Section
 */
.p-section-similar {
  padding-top: 40px;

  @include media-breakpoint-up(md) {
    padding-top: 60px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 75px;
  }

  &__title {
    @include media-breakpoint-up(xl) {
      margin-bottom: 50px;
    }
  }

  &__inner {
    overflow: auto;

    .load-more-block {
      display: none;
    }

    @include media-breakpoint-up(xl) {
      max-width: map_get($container-max-widths, xl);

      @include make-container(map_get($grid-gutter-width-map, xl));
      overflow: visible;
      .load-more-block {
        display: flex;
        padding: 54px 0 0;
      }
    }
  }

  &__list {
    display: flex;

    .product-card {
      width: 152px;
    }

    @include media-breakpoint-up(md) {
      .product-card {
        width: 282px;
        margin-right: 20px;
      }
    }

    @include media-breakpoint-up(xl) {
      flex-wrap: wrap;
      margin-right: map_get($grid-gutter-width-map, xl) / -2;
      margin-bottom: map_get($grid-gutter-width-map, xl) * -1;
      margin-left: map_get($grid-gutter-width-map, xl) / -2;

      .product-card {
        flex: 1 0 0%;
        margin-right: map_get($grid-gutter-width-map, xl) / 2;
        margin-bottom: map_get($grid-gutter-width-map, xl);
        margin-left: map_get($grid-gutter-width-map, xl) / 2;

        &:nth-child(n + 5) {
          display: none;
        }
      }
    }
  }
}


/*
 * Отзывы
 * @Type: Section
 */
.p-section-reviews {
  padding-top: 40px;

  @include media-breakpoint-up(md) {
    padding-top: 60px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 75px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
    @include media-breakpoint-up(md) {
      margin-bottom: 31px;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__number {
    margin-left: 9px;
    opacity: .3;
    @include media-breakpoint-up(md) {
      margin-left: 22px;
    }

    @include media-breakpoint-up(xl) {
      margin-left: 29px;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: 500;
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }

  &__stars {
    display: none;
    //margin-left: auto;
    @include media-breakpoint-up(md) {
      display: inline-block;
      margin-right: 15px;
    }
  }

  &__field {
    margin-bottom: 28px;
    transform: $skew;
    @include media-breakpoint-up(md) {
      margin-bottom: 37px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 57px;
    }
  }
}

.p-review-item {
  margin-bottom: 15px;
  background: #fff;

  @include media-breakpoint-up(md) {
    margin-bottom: 10px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 24px;
  }

  &__inner {
    margin-right: (map_get($grid-gutter-width-map, xs) / -2);
    margin-left: (map_get($grid-gutter-width-map, xs) / -2);

    @include media-breakpoint-up(md) {
      display: flex;
      min-height: 127px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    padding: 18px (map_get($grid-gutter-width-map, xs) / 2);
    border-bottom: 1px solid #eaeaea;

    @include media-breakpoint-up(md) {
      flex: 0 0 162px;
      flex-direction: column;
      max-width: 162px;
      padding: 18px 0;
      border-right: 1px solid #eaeaea;
      border-bottom: 0;
    }
  }

  &__name {
    @include title;
    order: 1;
    font-size: 16px;
  }

  &__date {
    order: 3;
    width: 100%;
    color: rgba(#010101, 0.4);
    font-size: 14px;
    font-weight: 500;
    @include media-breakpoint-up(md) {
      order: 2;
    }
  }

  &__rating {
    order: 2;
    margin-left: auto;

    @include media-breakpoint-up(md) {
      order: 3;
      margin-top: auto;
      margin-left: 0;
    }
  }

  &__body {
    padding: 21px (map_get($grid-gutter-width-map, xs) / 2) 27px;
    @include media-breakpoint-up(md) {
      flex: 1 0 auto;
      padding: 21px 0 27px 26px;
    }
    @include media-breakpoint-up(xl) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__text {
    max-width: 750px;
    font-size: 14px;
    line-height: 22px;
  }

  &__vote {
    @include title;
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 18px;
    @include media-breakpoint-up(xl) {
      margin-top: 0;
    }
  }

  &__minus {
    width: 52px;
    height: 40px;
    padding: 0;
    transform: $skew;
    border-color: $main-color;
    font-size: 22px;
    @include hover {
      background-color: $main-color;
      color: #fff;
    }
  }

  &__minus-num {
    margin-right: 15px;
    margin-left: 10px;
  }

  &__plus {
    width: 52px;
    height: 40px;
    padding: 0;
    transform: $skew;
    border-color: #80c627;
    font-size: 22px;
    @include hover {
      background-color: #80c627;
      color: #fff;
    }
  }

  &__plus-num {
    margin-left: 10px;
  }
}

.p-collapse {
  &__text {

  }

  &__button {
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 14px;
    color: $main-color;
    font-weight: 500;
  }
}