//
//body {
//  padding: 88px 0 0;
//  background: url("../img/rm/delivery-320.png") center top no-repeat;
//
//  @include media-breakpoint-up(md) {
//    padding: 93px 0;
//    background: url("../img/rm/delivery-768.png") center top no-repeat;
//  }
//  @include media-breakpoint-up(xl) {
//    padding: 214px 0;
//    background: url("../img/rm/delivery-1920.png") center top no-repeat;
//  }
//
//  > * {
//    opacity: .5;
//  }
//}

.sap {
  margin-top: 2px;

  padding-bottom: 150px;
  letter-spacing: -0.01em;
  @include media-breakpoint-up(md) {
    //margin-top: 104px;
    margin-top: 0px;
  }

  &__description {
    max-width: 210px;
    margin-bottom: 49px;
    font-size: 15px;
    line-height: 22px;
    @include media-breakpoint-up(md) {
      max-width: 390px;
      margin-bottom: 80px;
      font-size: 18px;
      line-height: 28px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 100%;
      //margin-bottom: 108px;
      margin-bottom: 102px;
    }
  }
}

.sap-section {
  &__title {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 24px;
    @include media-breakpoint-up(md) {
      margin-bottom: 6px;
      font-size: 23px;
      line-height: 31px;
    }
    @include media-breakpoint-up(xl) {

    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 20px;
    color: rgba(#101010, 0.5);
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 25px;
    }
  }

  &__description {
    margin-bottom: 26px;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 23px;
    }
    @include media-breakpoint-up(xl) {
    }
  }

  &__list-title {
    margin-bottom: 17px;
    color: rgba(#101010, 0.5);
    font-size: 14px;
    line-height: 23px;
    @include media-breakpoint-up(md) {
      margin-bottom: 5px;
      font-size: 15px;
      line-height: 23px;
    }
  }
}

.sap-shipping-city {
  margin-bottom: 55px;

  .sap-tile-list__item {
    flex: 0 0 auto;
    min-width: 220px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 90px;
    //.sap-tile {
    //  width: 100%;
    //}
    .sap-tile-list {
      width: 520px;
      &__item {
        flex: 1 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    width: 520px;
    margin-bottom: 0;

    .sap-section__description {
      max-width: 312px;
      min-height: 100px;
    }
    .sap-section__title {
      max-width: 282px;
    }
  }
}

.sap-shipping-city-note {
  margin-top: 27px;
  color: rgba(#101010, 0.5);
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 20px;
  @include media-breakpoint-up(md) {
    max-width: 460px;
    margin-top: 25px;
    font-size: 14px;
    line-height: 22px;
  }
}

.sap-contacts {
  margin-top: 29px;
  @include media-breakpoint-up(md) {
    margin-top: 70px;
  }

  &__title {
    @include media-breakpoint-up(md) {
      font-size: 15px;
      line-height: 23px;
    }
  }

  &__tel {
    @include title;
    margin-top: 6px;
    font-size: 20px;
    line-height: 1;

    @include media-breakpoint-up(md) {
      font-size: 23px;
    }
  }

  &__map-link {
    display: inline-block;
    margin-top: 20px;
    border-bottom: 1px solid #00000026;
    font-size: 14px;
    line-height: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 20px;
      font-size: 15px;
    }
  }
}

.sap-shipping-central {
  margin-bottom: 62px;

  .sap-tile-list__item {
    flex: 0 0 auto;
    min-width: 240px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 88px;
    //.sap-tile {
    //  width: 100%;
    //}
    .sap-tile-list {
      max-width: 562px;
      &__item {
        flex: 1 0;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
    //width: 500px;

    .sap-section__description {
      //max-width: 312px;
      min-height: 100px;
    }
    .sap-section__title {
      //max-width: 282px;
    }
  }
}

.sap-shipping-central-note {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
  color: rgba(#101010, 0.5);
  letter-spacing: -0.01em;
  @include media-breakpoint-up(md) {
    max-width: 320px;
    margin-top: 3px;
    font-size: 12px;
    line-height: 16px;
  }
}

.sap-country {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 58px;
  margin-bottom: 0;

  //.sap-tile {
  //  width: 100%;
  //}

  @include media-breakpoint-up(md) {
    margin-top: 83px;
    margin-right: -10px;
    margin-left: -10px;
  }

  &__item {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__info {
    font-size: 13px;
    line-height: 18px;
    color: rgba(#101010, 0.5);
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      flex: 1 0;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.sap-tile-list {
  display: flex;
  margin-bottom: 0;
  overflow: auto;
  list-style: none;
  padding: 0 map_get($grid-gutter-width-map, xs) / 2;
  margin-left: map_get($grid-gutter-width-map, xs) / -2;
  margin-right: map_get($grid-gutter-width-map, xs) / -2;

  @include media-breakpoint-up(md) {
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    overflow: hidden;
    padding: 0;
  }

  &__item {
    margin-right: 14px;
    @include media-breakpoint-up(md) {
      flex: 1 0;
      min-width: 50%;
      margin: 10px 0;
      padding: 0 10px;
    }
  }
}

.sap-tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //height: 100%;
  height: 98px;
  padding: 15px 20px 16px;
  background: #fff;
  @include media-breakpoint-up(md) {
    height: 110px;
    padding: 23px 24px;
    font-size: 15px;
    line-height: 1;
  }

  &__title {
    margin-bottom: auto;
    font-weight: 600;

    > i {
      margin-left: 6px;
      color: rgba(#101010, 0.5);
      font-size: 13px;
      font-style: normal;
      font-weight: normal;
    }
  }

  &__link {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 2px;
    border-bottom: 1px solid rgba(#000, 0.15);

    &:hover {
      text-decoration: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
      font-size: 15px;
    }
  }

  &__info {
    //font-size: 15px;
    //line-height: 18px;
    //margin-top: 10px;
    margin-bottom: 2px;
    color: rgba(#101010, 0.5);

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
    }
  }

  &__note {
    margin-top: auto;
    color: rgba(#101010, 0.5);
    font-size: 13px;
    line-height: 18px;
  }
}


/**
 * Способы оплаты
 */
.sap-payment {

  @include media-breakpoint-up(md) {
    margin-top: 108px;
    .sap-section__description {
      margin-top: 13px;
      margin-bottom: 34px;
    }
  }

}

.sap-payment-list {
  display: flex;
  overflow: auto;
  list-style: none;
  padding: 0 map_get($grid-gutter-width-map, xs) / 2;
  margin-left: map_get($grid-gutter-width-map, xs) / -2;
  margin-right: map_get($grid-gutter-width-map, xs) / -2;


  @include media-breakpoint-up(md) {
    flex-wrap: wrap;
    max-width: 580px;
    margin-right: -10px;
    margin-left: -10px;
    overflow: visible;
    padding: 0;
  }

  @include media-breakpoint-up(xl) {
    max-width: 100%;
  }

  &__item {
    flex: 0 0 240px;
    margin-right: 14px;
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      margin-right: 0;
      margin-bottom: 20px;
      padding: 0 10px;
    }
    @include media-breakpoint-up(xl) {
      flex: 0 0 25%;
      margin-bottom: 0;
    }
  }

  &__note {
    display: block;
    margin-top: 8px;
    color: rgba(#101010, 0.5);
    font-size: 12px;
    line-height: 17px;
  }
}

.sap-alert {
  margin-top: 7px;
  @include media-breakpoint-up(md) {
    margin-top: 25px;
  }

  &__icon {

  }

  &__text {
    font-size: 15px;
    line-height: 22px;
    margin-top: 14px;
    @include media-breakpoint-up(md) {
      max-width: 715px;
      margin-top: 14px;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
