//
//body {
//  //background: url("../img/rm/franchise-320.png") center top no-repeat;
//
//  @include media-breakpoint-up(md) {
//    padding: 93px 0;
//    background: url("../img/rm/delivery-768.png") center top no-repeat;
//  }
//  @include media-breakpoint-up(xl) {
//    padding: 214px 0;
//    background: url("../img/rm/delivery-1920.png") center top no-repeat;
//  }
//
//  > * {
//    opacity: .5;
//  }
//}

.sap {
  margin-top: 104px;
  padding-bottom: 150px;
  letter-spacing: -0.01em;
}

.sap-section {
  &__title {
    margin-bottom: 6px;
  }

  &__subtitle {
    color: rgba(#101010, 0.5);
  }

  &__description {
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 23px;
    }
    @include media-breakpoint-up(xl) {
    }
  }

  &__list-title {
    color: rgba(#101010, 0.5);
    @include media-breakpoint-up(md) {
      margin-bottom: 5px;
      font-size: 15px;
      line-height: 23px;
    }
  }
}

.sap-shipping-city {
  .sap-tile {
    width: 220px;
  }

  @include media-breakpoint-up(md) {
    .sap-tile {
      width: 100%;
    }
    .sap-tile-list {
      width: 520px;
    }
  }

  @include media-breakpoint-up(xl) {
    width: 520px;

    .sap-section__description {
      max-width: 312px;
      min-height: 100px;
    }
    .sap-section__title {
      max-width: 282px;
    }
  }
}

.sap-shipping-city-note {
  color: rgba(#101010, 0.5);
  letter-spacing: -0.01em;
  @include media-breakpoint-up(md) {
    max-width: 460px;
    margin-top: 25px;
    font-size: 14px;
    line-height: 22px;
  }
}

.sap-contacts {
  @include media-breakpoint-up(md) {
    margin-top: 70px;
  }

  &__title {
    @include media-breakpoint-up(md) {
      font-size: 15px;
      line-height: 23px;
    }
  }

  &__tel {
    @include title;
    font-size: 23px;
  }

  &__map-link {
    display: inline-block;
    margin-top: 20px;
    border-bottom: 1px solid rgba(#000, 0.15);
    font-size: 15px;
    line-height: 1;
  }
}

.sap-shipping-central {
  .sap-tile {
    width: 240px;
  }

  @include media-breakpoint-up(md) {
    .sap-tile {
      width: 100%;
    }
    .sap-tile-list {
      max-width: 562px;
    }
  }
  @include media-breakpoint-up(xl) {
    //width: 500px;

    .sap-section__description {
      //max-width: 312px;
      min-height: 100px;
    }
    .sap-section__title {
      //max-width: 282px;
    }
  }
}

.sap-shipping-central-note {
  color: rgba(#101010, 0.5);
  letter-spacing: -0.01em;
  @include media-breakpoint-up(md) {
    max-width: 320px;
    margin-top: 3px;
    font-size: 12px;
    line-height: 16px;
  }
}

.sap-country {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;

  .sap-tile {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    margin-top: 83px;
    margin-right: -10px;
    margin-left: -10px;
  }

  &__item {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    margin-bottom: 34px;
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
  }

  &__info {
    color: rgba(#101010, 0.5);
    @include media-breakpoint-up(md) {
      flex: 1 0;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.sap-tile-list {
  display: flex;
  margin-right: -10px;
  margin-bottom: 0;
  margin-left: -10px;
  padding: 0;
  overflow: auto;
  list-style: none;
  @include media-breakpoint-up(md) {
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__item {
    margin: 10px 0;
    padding: 0 10px;
    @include media-breakpoint-up(md) {
      flex: 1 0;
      min-width: 50%;
    }
  }
}

.sap-tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 98px;
  padding: 17px 20px;
  background: #fff;
  @include media-breakpoint-up(md) {
    height: 110px;
    padding: 23px 24px;
    font-size: 15px;
    line-height: 1;
  }

  &__title {
    margin-bottom: auto;
    font-weight: 600;

    > i {
      margin-left: 6px;
      color: rgba(#101010, 0.5);
      font-size: 13px;
      font-style: normal;
      font-weight: normal;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 10px;
    border-bottom: 1px solid rgba(#000, 0.15);

    &:hover {
      text-decoration: none;
    }
  }

  &__info {
    //font-size: 15px;
    //line-height: 18px;
    margin-top: 10px;
    color: rgba(#101010, 0.5);
  }

  &__note {
    margin-top: auto;
    color: rgba(#101010, 0.5);
    font-size: 13px;
    line-height: 18px;
  }
}


/**
 * Способы оплаты
 */
.sap-payment {

  @include media-breakpoint-up(md) {
    margin-top: 92px;
    .sap-section__description {
      margin-top: 13px;
      margin-bottom: 34px;
    }
  }

}

.sap-payment-list {
  display: flex;
  padding: 0;
  overflow: auto;
  list-style: none;


  @include media-breakpoint-up(md) {
    flex-wrap: wrap;
    max-width: 580px;
    margin-right: -10px;
    margin-left: -10px;
    overflow: visible;
  }

  @include media-breakpoint-up(xl) {
    max-width: 100%;
  }

  &__item {
    flex: 0 0 240px;
    margin-right: 14px;
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      margin-right: 0;
      margin-bottom: 20px;
      padding: 0 10px;
    }
    @include media-breakpoint-up(xl) {
      flex: 0 0 25%;
      margin-bottom: 0;
    }
  }

  &__note {
    display: block;
    margin-top: 8px;
    color: rgba(#101010, 0.5);
    font-size: 12px;
    line-height: 17px;
  }
}

.sap-alert {
  margin-top: 25px;

  &__icon {

  }

  &__text {
    @include media-breakpoint-up(md) {
      max-width: 715px;
      margin-top: 14px;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
