//
//body {
//  padding: 88px 0 0;
//  background: url("../img/rm/delivery-320.png") center top no-repeat;
//
//  @include media-breakpoint-up(md) {
//    padding: 93px 0;
//    background: url("../img/rm/delivery-768.png") center top no-repeat;
//  }
//  @include media-breakpoint-up(xl) {
//    padding: 214px 0;
//    background: url("../img/rm/delivery-1920.png") center top no-repeat;
//  }
//
//  > * {
//    opacity: .5;
//  }
//}

.sap {
  margin-top: 2px;

  padding-bottom: 150px;
  letter-spacing: -0.01em;
  @include media-breakpoint-up(md) {
    //margin-top: 104px;
    margin-top: 0px;
  }

  &__description {
    max-width: 210px;
    margin-bottom: 49px;
    font-size: 15px;
    line-height: 22px;
    @include media-breakpoint-up(md) {
      max-width: 390px;
      margin-bottom: 80px;
      font-size: 18px;
      line-height: 28px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 100%;
      //margin-bottom: 108px;
      margin-bottom: 102px;
    }
  }
}

.sap-section {
  &__title {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 24px;
    @include media-breakpoint-up(md) {
      margin-bottom: 6px;
      font-size: 23px;
      line-height: 31px;
    }
    @include media-breakpoint-up(xl) {

    }
  }

  &__subtitle {
    margin-bottom: 20px;
    color: rgba(#101010, 0.5);
    font-size: 14px;
    line-height: 20px;
    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 25px;
    }
  }

  &__description {
    margin-bottom: 26px;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 23px;
    }
    @include media-breakpoint-up(xl) {
    }
  }

  &__list-title {
    margin-bottom: 17px;
    color: rgba(#101010, 0.5);
    font-size: 14px;
    line-height: 23px;
    @include media-breakpoint-up(md) {
      margin-bottom: 5px;
      font-size: 15px;
      line-height: 23px;
    }
  }
}

.sap-shipping-city {
  margin-bottom: 55px;

  .sap-tile-list__item {
    flex: 0 0 auto;
    min-width: 220px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 90px;
    //.sap-tile {
    //  width: 100%;
    //}
    .sap-tile-list {
      width: 520px;

      &__item {
        flex: 1 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    width: 520px;
    margin-bottom: 0;

    .sap-section__description {
      max-width: 312px;
      min-height: 100px;
    }
    .sap-section__title {
      max-width: 282px;
    }
  }
}

.sap-shipping-city-note {
  margin-top: 27px;
  color: rgba(#101010, 0.5);
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 20px;
  @include media-breakpoint-up(md) {
    max-width: 460px;
    margin-top: 25px;
    font-size: 14px;
    line-height: 22px;
  }
}

.sap-contacts {
  margin-top: 29px;
  @include media-breakpoint-up(md) {
    margin-top: 70px;
  }

  &__title {
    @include media-breakpoint-up(md) {
      font-size: 15px;
      line-height: 23px;
    }
  }

  &__tel {
    @include title;
    margin-top: 6px;
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 1;

    @include media-breakpoint-up(md) {
      margin-top: 9px;
      font-size: 23px;
    }
  }

  &__map-link {
    display: inline-block;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 14px;
    line-height: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 30px;
      font-size: 15px;
      line-height: 18px;
    }
  }
}

.sap-shipping-central {
  margin-bottom: 62px;

  .sap-tile-list__item {
    flex: 0 0 auto;
    min-width: 240px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 88px;
    //.sap-tile {
    //  width: 100%;
    //}
    .sap-tile-list {
      max-width: 562px;

      &__item {
        flex: 1 0;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
    //width: 500px;

    .sap-section__description {
      //max-width: 312px;
      min-height: 100px;
    }
    .sap-section__title {
      //max-width: 282px;
    }
  }
}

.sap-shipping-central-note {
  margin-top: 12px;
  color: rgba(#101010, 0.5);
  font-size: 10px;
  letter-spacing: -0.01em;
  line-height: 14px;
  @include media-breakpoint-up(md) {
    max-width: 320px;
    margin-top: 3px;
    font-size: 12px;
    line-height: 16px;
  }
}

.sap-country {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  //.sap-tile {
  //  width: 100%;
  //}

  @include media-breakpoint-up(md) {
    margin-top: 83px;
    margin-right: -10px;
    margin-left: -10px;
  }

  &__item {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 22px;
    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__info {
    margin-bottom: 20px;
    color: rgba(#101010, 0.5);
    font-size: 13px;
    line-height: 18px;
    @include media-breakpoint-up(md) {
      flex: 1 0;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.sap-tile-list {
  display: flex;
  margin-right: map_get($grid-gutter-width-map, xs) / -2;
  margin-bottom: 0;
  margin-left: map_get($grid-gutter-width-map, xs) / -2;
  padding: 0 map_get($grid-gutter-width-map, xs) / 2;
  overflow: auto;
  list-style: none;

  @include media-breakpoint-up(md) {
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 0;
    overflow: hidden;
  }

  &__item {
    margin-right: 14px;
    @include media-breakpoint-up(md) {
      flex: 1 0;
      min-width: 50%;
      margin: 10px 0;
      padding: 0 10px;
    }
  }
}

.sap-tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //height: 100%;
  height: 98px;
  padding: 15px 20px 16px;
  background: #fff;
  @include media-breakpoint-up(md) {
    height: 110px;
    padding: 23px 24px 20px;
    font-size: 15px;
    line-height: 1;
  }

  &__title {
    margin-bottom: auto;
    font-weight: 600;

    > i {
      margin-left: 6px;
      color: rgba(#101010, 0.5);
      font-size: 13px;
      font-style: normal;
      font-weight: normal;
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 2px;
    border-bottom: 1px solid rgba(#000, 0.15);
    font-size: 14px;

    &:hover {
      text-decoration: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
      font-size: 15px;
    }
  }

  &__info {
    //font-size: 15px;
    //line-height: 18px;
    //margin-top: 10px;
    margin-bottom: 2px;
    color: rgba(#101010, 0.5);

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
    }
  }

  &__note {
    margin-top: auto;
    color: rgba(#101010, 0.5);
    font-size: 13px;
    line-height: 18px;
  }
}


/**
 * Способы оплаты
 */
.sap-payment {

  @include media-breakpoint-up(md) {
    margin-top: 108px;
    .sap-section__description {
      margin-top: 13px;
      margin-bottom: 34px;
    }
  }

}

.sap-payment-list {
  display: flex;
  margin-right: map_get($grid-gutter-width-map, xs) / -2;
  margin-left: map_get($grid-gutter-width-map, xs) / -2;
  padding: 0 map_get($grid-gutter-width-map, xs) / 2;
  overflow: auto;
  list-style: none;


  @include media-breakpoint-up(md) {
    flex-wrap: wrap;
    max-width: 580px;
    margin-right: -10px;
    margin-left: -10px;
    padding: 0;
    overflow: visible;
  }

  @include media-breakpoint-up(xl) {
    max-width: 100%;
  }

  &__item {
    flex: 0 0 240px;
    margin-right: 14px;
    @include media-breakpoint-up(md) {
      flex: 0 0 290px;
      max-width: 290px;
      margin-right: 0;
      margin-bottom: 20px;
      padding: 0 10px;
    }
    @include media-breakpoint-up(xl) {
      //flex: 0 0 25%;
      margin-bottom: 0;
    }
  }

  &__note {
    display: block;
    margin-top: 8px;
    color: rgba(#101010, 0.5);
    font-size: 12px;
    line-height: 17px;
  }
}

.sap-alert {
  margin-top: 7px;
  @include media-breakpoint-up(md) {
    margin-top: 25px;
  }

  &__icon {

  }

  &__text {
    margin-top: 14px;
    font-size: 15px;
    line-height: 22px;
    @include media-breakpoint-up(md) {
      max-width: 715px;
      margin-top: 14px;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 28px;
    }
  }
}


.delivery {
  &__title {
    @include title;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
      margin-bottom: 37px;
      font-size: 19px;
      line-height: 21px;
    }

    @include media-breakpoint-up(xl) {
      text-align: left;
      margin-left: 0;
    }
  }

  &__text-list {
    margin-bottom: 36px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.5;

    li {
      margin-bottom: 9px;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 46px;
      padding-left: 20px;
      font-size: 18px;

      li {
        margin-bottom: 9px;
      }
    }
  }

  &__info {
    max-width: 550px;
    margin: 0 auto 30px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;


    @include media-breakpoint-up(md) {
      margin: 0 auto 61px;
      font-size: 18px;
    }
  }

  &__store {
    margin-bottom: 30px;
    text-align: center;
    @include media-breakpoint-up(md) {
      margin-bottom: 56px;
    }
  }

  &__tel {
    @include title;
    font-size: 20px;
    @include media-breakpoint-up(md) {
      font-size: 40px;
    }
  }

  &__address {
    color: rgba(#101010, 0.5);
    font-size: 14px;
    line-height: 18px;
    @include media-breakpoint-up(md) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  //&__badge {
  //
  //  &_central {
  //    &::before {
  //      width: 18px;
  //      height: 13px;
  //      margin-right: 7px;
  //      background-image: url("../img/p-badge-car.svg");
  //    }
  //  }
  //
  //  &_local {
  //    &::before {
  //      width: 11px;
  //      height: 17px;
  //      margin-right: 7px;
  //      background-image: url("../img/p-badge-man.svg");
  //    }
  //  }
  //}

  &__cards {
    margin-bottom: 40px;
    //margin-left: -20px;
    //margin-right: -20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 85px;
      //margin-left: -10px;
      //margin-right: -10px;
    }
  }

  &__badges {
    text-align: center;
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      text-align: left;
      margin-bottom: 80px;
    }
  }

  &__in-product {
    display: none;
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      display: block;
      margin-bottom: 80px;
    }

    .p-detail {
      max-width: 440px;
      padding-top: 33px;
    }
  }

  &__in-catalog {
    margin-bottom: 30px;

    @include media-breakpoint-down(sm) {
      display: none;
      .card-list {
        margin-right: -$container-padding-x;
        margin-left: -$container-padding-x;
      }
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 60px;
    }

    .product-card {
      margin-bottom: 0;
      animation: none;
      background: none;
      pointer-events: none;

      &:first-child {
        .product-card__wrapper {
          background: rgba(#fff, 0.5);
        }

        .product-control,
        .product-card__title,
        .product-card__description,
        .product-card__img,
        .product-card__footer {
          opacity: .3;
        }

        //.product-card__badge {
        //  pointer-events: auto;
        //}
      }

      &:last-child {
        opacity: .15;
      }
    }
  }

  &__in-cart {
    display: none;
    margin-bottom: 90px;

    .order-product {
      opacity: .2;
      pointer-events: none;
    }

    @include media-breakpoint-up(md) {
      display: block;
      margin-bottom: 140px;
    }
  }
}

.d-product {
  width: 280px;
  height: 190px;
  margin-bottom: 30px;
  background: url("../img/d-product-2.png") bottom no-repeat;
  background-size: contain;
  //transform: scale(0.7);

  @include media-breakpoint-up(md) {
    width: 446.23px;
    height: 286.37px;
    margin-bottom: 0;
    //transform: none;
  }
}

.d-badge {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  background: #fff;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    padding: 30px 50px;
    border-radius: 26px;
  }

  @include media-breakpoint-up(xl) {
    .p-delivery-badge {
      transform: scale(1.2);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 50%;
      left: calc(100% - 35px);
      width: 208px;
      height: 194px;

      background: url("../img/d-vector-black.svg") no-repeat;
      background-size: 100% 100%;
      pointer-events: none;
    }
  }

  &_central {
    //.d-badge__inner {
    //  background: #292929;
    //  color: #fff;
    //  &::before {
    //    width: 18px;
    //    height: 13px;
    //    margin-right: 7px;
    //    background-image: url("../img/p-badge-car.svg");
    //  }
    //}
  }

  &_local {
    //.d-badge__inner {
    //  background: $main-color;
    //  color: #fff;
    //  &::before {
    //    width: 11px;
    //    height: 17px;
    //    margin-right: 7px;
    //    background-image: url("../img/p-badge-man.svg");
    //  }
    //}

    &::before {
      width: 197px;
      height: 196px;
      background-image: url("../img/d-vector-red.svg");
    }
  }

  &__inner {
    //background: #292929;
    //border-radius: 3px;
    //color: #fff;
    //font-weight: 500;
    //font-size: 8px;
    //line-height: 12px;
    //letter-spacing: -0.01em;
    //display: inline-flex;
    //align-items: center;
    //padding: 2px 5px 3px;
    //position: absolute;
    //left: 0;
    //top: 125px;
    //margin: 0 11px;
    //transform: translateY(-100%);
    ////margin-top: -36px;
    //
    //&::before {
    //  content: '';
    //  background-repeat: no-repeat;
    //  background-size: contain;
    //  margin-right: 4px;
    //}
  }
}

.d-card {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  margin: 0 -20px 20px;
  padding: 27px 20px 79px;
  border: 3px solid;
  background: #fff;
  //background: url("../img/rm/delivery-card-320.png") top center no-repeat;

  &_central {
    border-color: #292929;

    &::before {
      content: '';
      position: absolute;
      top: 33px;
      right: 23px;
      width: 20px;
      height: 13px;
      background: url("../img/p-badge-car-black.svg") no-repeat;
      background-size: contain;
    }

    .d-card__badge {
      background: #4d4d4d;
    }
  }

  &_local {
    border-color: $main-color;

    &::before {
      content: '';
      position: absolute;
      top: 22px;
      right: 23px;
      width: 17px;
      height: 26px;
      background: url("../img/p-badge-man-red.svg") no-repeat;
      background-size: contain;
    }

    .d-card__badge {
      background: #f77a6c;
    }
  }

  @include media-breakpoint-up(md) {
    height: 100%;
    margin: 0;
    padding: 42px 40px;
    &_central {
      &::before {
        top: 26px;
        right: 27px;
        width: 25px;
        height: 17px;
      }
    }
  }

  &__badge {
    display: inline-block;
    position: absolute;
    bottom: 23px;
    left: 23px;
    padding: 1px 10px 3px;
    border-radius: 2px;
    background: #4d4d4d;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    @include media-breakpoint-up(md) {
      right: 30px;
      bottom: 30px;
      left: auto;
    }
  }

  &__header {
    min-height: 90px;
    margin-bottom: 15px;
    padding-right: 30px;
    @include media-breakpoint-up(md) {
      padding-right: 0;
    }
  }

  &__delivery {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }
  }

  &__payment {

  }

  &__footer {
    @include media-breakpoint-up(md) {
      margin-top: auto;
    }
  }


  &__title {
    @include title;

    margin-bottom: 14px;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 24px;

    @include media-breakpoint-up(md) {
      margin-bottom: 7px;
      font-size: 23px;
      line-height: 31px;
    }
  }

  &__description {
    margin-bottom: 0;
  }

  &__subtitle {
    @include title;
    margin-bottom: 21px;
    font-size: 15px;
    line-height: 17px;
    @include media-breakpoint-up(md) {
      margin-bottom: 17px;
      font-size: 17px;
      line-height: 19px;
    }
  }

  &__row {
    margin-right: -8px;
    margin-bottom: -16px + 13px;
    margin-left: -8px;
    padding-left: 0;
    list-style: none;

    > [class*="col"] {
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  &__note {
    max-width: 170px;
    margin-top: 9px;
    color: rgba(#101010, 0.5);
    font-size: 12px;
    line-height: 1.4;
    @include media-breakpoint-up(md) {

    }
    @include media-breakpoint-up(xl) {
      max-width: none;
    }
  }

  &__alert {
    margin-top: 30px;

    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 16px;
      margin-top: -3px;
      margin-right: 10px;
      background: url("../img/d-alert-warn.svg") no-repeat;
      background-size: contain;
      vertical-align: middle;
    }

    @include media-breakpoint-up(md) {
      margin-top: 36px;
    }
  }

  &__table {
    font-size: 14px;

    td {
      padding: 6px 20px 6px 0;
    }

    @include media-breakpoint-up(md) {
      font-size: 15px;
      //
      //td {
      //  padding: 6px 20px 6px 0;
      //}
    }
  }

  &__tel {

    @include title;
    font-size: 23px;
    line-height: 31px;
  }

  &__link {
    border-bottom: 1px solid rgba(#000, 0.15);
  }
}

.d-tile {
  margin-bottom: 10px;
  padding: 10px 0 10px 16px;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  line-height: 24px;

  @include media-breakpoint-up(md) {
    margin-bottom: 16px;
    padding: 18px 20px;
    font-size: 15px;
  }

  &__title {
    margin-bottom: 3px;
    font-weight: 600;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &__info {
    color: rgba(#101010, 0.5);

    a {
      border-bottom: 1px solid rgba(#000, 0.15);
      //text-decoration: underline;
      color: #101010;
    }
  }
}
