.s-shops {

  @include media-breakpoint-up(xl) {
    display: flex;
    height: 763px;
    margin-bottom: 60px;
  }

  &__list {
    @include media-breakpoint-up(xl) {
      flex: 0 0 50%;
      max-width: 50%;
      //padding-right: 12px;
      padding-right: 4px;
    }
  }

  &__scroll {
    @include media-breakpoint-up(xl) {
      max-width: 588px;
      height: 100%;
      //height: 763px;
      margin-left: auto;
      overflow: auto;
      padding-right: 8px;
      .simplebar-scrollbar::before {
        background: rgba(#101010, 0.2);
      }

      .simplebar-track {
        background: none;

        &.simplebar-vertical {
          width: 3px;
        }
      }
    }
  }

  &__map {
    //display: none;
    @include media-breakpoint-up(xl) {
      //display: block;
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 12px;
    }
  }
}

.s-city-list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  min-height: 100%;
}

.s-city {

  &.active {
    .s-city__header {
      background: $main-color;
      color: #fff;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #f0f0f0;
    @include media-breakpoint-up(md) {
      position: sticky;
      top: 0;
      padding: 0 22px;
    }
  }

  &__name {
    @include title;
    padding: 10px 0;
    font-size: 15px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }

  &__note {
    @include title;
    font-size: 12px;
  }

  &__store-list {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
}

.s-item {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  transition: all .3s ease;
  border-bottom: 1px solid #eee;
  letter-spacing: -0.02em;
  cursor: pointer;

  &.active {
    box-shadow: inset 0 0 0 3px #101010;
  }

  &:hover {
    background: #fbfbfb;
  }

  @include media-breakpoint-up(md) {
    min-height: 125px;
    padding: 20px 22px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: auto;
      .s-item__info {
        text-align: right;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 14px;

    .s-item__phone {
      display: none;
    }

    @include media-breakpoint-up(md) {
      margin-top: auto;
      .s-item__phone {
        display: inline-block;
      }
    }
  }

  &__address {
    flex: 0 0 auto;
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 18px;
    @include media-breakpoint-up(md) {
      margin-right: 15px;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__info {
    color: rgba(#101010, 0.5);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 15px;
    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__contacts {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    //flex-direction: row-reverse;
    justify-content: flex-end;
    //font-size: 14px;
    //font-weight: 600;
    //letter-spacing: -0.02em;
    @include media-breakpoint-up(md) {
      //flex-direction: row;
      //font-size: 16px;
    }
  }

  &__phone {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;

    @include media-breakpoint-up(md) {
      margin-left: 14px;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__link {
    display: inline-flex;
    margin-right: 10px;
    @include media-breakpoint-up(md) {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

.s-map {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;

  //min-height: 420px;
  //@include media-breakpoint-up(md) {
  //  min-height: 600px;
  //}
  //@include media-breakpoint-up(xl) {
  //  height: 100%;
  //}

  &__header {
    display: flex;
    flex: 0 0 50px;
    padding: 0 16px;
    border-bottom: 1px solid #eee;
  }

  &__tab {
    @extend %button-reset;
    display: inline-block;
    margin: 0 15px;
    padding: 18px 0 13px;
    border-bottom: 3px solid transparent;
    color: rgba(#101010, 0.6);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1;
    white-space: nowrap;

    &.active {
      border-bottom: 3px solid $main-color;
      color: #101010;
    }
  }

  &__content {
    flex: 1 0;
  }

  &__map {
    width: 100%;

    height: 420px - 50px;
    @include media-breakpoint-up(md) {
      height: 600px - 50px;
    }
    @include media-breakpoint-up(xl) {
      height: 100%;
    }
  }

  &__way {
    padding: 25px 30px;
  }

  &__gallery {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.s-active-shop {
  padding: 20px 20px 25px;
  font-weight: 500;

  @include media-breakpoint-up(xl) {
    display: none;
  }

  &__header {
    display: flex;
    margin-bottom: 35px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 35px;
  }

  &__btn-back {
    @extend %button-reset;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    margin-top: -7px;
    margin-right: 6px;
    margin-left: -11px;
  }

  &__name {
    @include title;
    font-size: 24px;
    line-height: 27px;
    word-break: break-word;
  }

  &__phone {
    display: inline-block;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  &__info {
    color: rgba(#101010, 0.5);
    font-size: 14px;
    line-height: 20px;
  }

  &__social {
    flex: 0 0 auto;
  }

  &__social-link {
    display: inline-block;
    margin-left: 10px;

    > svg {
      width: 30px;
      height: 25px;
    }

    @include media-breakpoint-up(md) {
      margin-left: 15px;
      > svg {
        width: 36px;
        height: 30px;
      }
    }
  }
}
