//.slider {
//  position: relative;
//  display: block;
//  overflow: visible;
//
//  margin: 0 auto;
//  list-style: none;
//  padding: 0;
//  /* Fix of Webkit flickering */
//  z-index: 1;
//  &__wrapper {
//    //margin-bottom: 20px;
//
//    position: relative;
//    width: 100%;
//    height: 100%;
//    z-index: 1;
//    display: flex;
//    flex-direction: column;
//    transition-property: transform;
//    box-sizing: content-box;
//
//    transform: translate3d(0px, 0, 0);
//    //IE10 Windows Phone 8 Fixes
//    touch-action: pan-x;
//  }
//  &__content {
//    display: flex;
//    //overflow: auto;
//
//    //width: 1596px;
//    transition: $animation;
//  }
//  &__slide {
//    flex-shrink: 0;
//    width: 100%;
//    height: 100%;
//    position: relative;
//    transition-property: transform;
//  }
//
//  //&__scrollbar {
//  &__track {
//    position: relative;
//    height: 80px;
//    width: 100%;
//    margin-top: 20px;
//    //pointer-events: none;
//    &:before {
//      content: '';
//      position: absolute;
//      left: 40px;
//      right: 40px;
//      top: 50%;
//
//      height: 8px;
//      margin-top: -4px;
//      border-radius: 4px;
//
//      background-color: white;
//    }
//  }
//  //&__track {
//  &__scrollbar {
//    width: 80px;
//    height: 80px;
//    border-radius: 50%;
//    background-color: $main-color;
//    color: white;
//    position: absolute;
//    top: 0;
//    left: 0;
//    //transition: $animation;
//    cursor: grab;
//    svg {
//      position: absolute;
//      top: 50%;
//      left: 50%;
//      transform: translate(-50%, -50%);
//      height: 10px;
//      width: 24px;
//    }
//    &:hover {
//      background-color: #1B1B1B;
//    }
//    &:active {
//      cursor: grabbing;
//    }
//  }
//}

.slider {
  position: relative;

  /* Fix of Webkit flickering */
  z-index: 1;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  list-style: none;
  //touch-action: pan-y pinch-zoom;
  -webkit-overflow-scrolling: touch;

  &:not(.slider_initialized) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    //.slider__wrapper {
    //}
    .slider__explanation-tablet,
    .slider__explanation-desktop,
    .slider__scrollbar {
      //visibility: hidden;
      display: none;
    }
  }

  &_container {
    padding-right: (map_get($grid-gutter-width-map, xs) / 2);
    //box-sizing: border-box;
    padding-left: (map_get($grid-gutter-width-map, xs) / 2);

    @include media-breakpoint-up(sm) {
      padding-right: calc(50% - #{(map_get($container-max-widths, sm) - map_get($grid-gutter-width-map, sm)) / 2});
      padding-left: calc(50% - #{(map_get($container-max-widths, sm) - map_get($grid-gutter-width-map, sm)) / 2});
    }
    @include media-breakpoint-up(md) {
      padding-right: calc(50% - #{(map_get($container-max-widths, md) - map_get($grid-gutter-width-map, md)) / 2});
      padding-left: calc(50% - #{(map_get($container-max-widths, md) - map_get($grid-gutter-width-map, md)) / 2});
    }
    @include media-breakpoint-up(xl) {
      padding-right: calc(50% - #{(map_get($container-max-widths, xl) - map_get($grid-gutter-width-map, xl)) / 2});
      padding-left: calc(50% - #{(map_get($container-max-widths, xl) - map_get($grid-gutter-width-map, xl)) / 2});
    }
  }

  &_fade {
    &.slider_free-mode {
      .slider__slide {
        transition-timing-function: ease-out;
      }
    }

    .slider__slide {
      transition-property: opacity;
      pointer-events: none;

      .slider__slide {
        pointer-events: none;
      }
    }

    .slider__slide_active {
      &,
      & .slider__slide_active {
        pointer-events: auto;
      }
    }
  }

  &_wp8-horizontal {
    touch-action: pan-y;

    .swiper__wrapper {
      touch-action: pan-y;
    }
  }

  &_autoheight {
    height: auto;

    .slider__slide {
      height: auto;
    }

    .slider__wrapper {
      align-items: flex-start;
      transition-property: transform, height;
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    z-index: 1;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    transition-property: transform;
    //touch-action: pan-y pinch-zoom;
    -webkit-overflow-scrolling: touch;

    .slider_vertical > & {
      flex-direction: column;
    }

    .slider_no-flexbox > & {
      float: left;
    }

    .slider_container > & {
      //box-sizing: border-box;
      //padding-left: (map_get($grid-gutter-width-map, xs) / 2);
      //padding-right: (map_get($grid-gutter-width-map, xs) / 2);
      //
      //@include media-breakpoint-up(sm) {
      //  padding-left: calc(50% - #{(map_get($container-max-widths, sm) - map_get($grid-gutter-width-map, sm)) / 2});
      //  padding-right: calc(50% - #{(map_get($container-max-widths, sm) - map_get($grid-gutter-width-map, sm)) / 2});
      //}
      //@include media-breakpoint-up(md) {
      //  padding-left: calc(50% - #{(map_get($container-max-widths, md) - map_get($grid-gutter-width-map, md)) / 2});
      //  padding-right: calc(50% - #{(map_get($container-max-widths, md) - map_get($grid-gutter-width-map, md)) / 2});
      //}
      //@include media-breakpoint-up(xl) {
      //  padding-left: calc(50% - #{(map_get($container-max-widths, xl) - map_get($grid-gutter-width-map, xl)) / 2});
      //  padding-right: calc(50% - #{(map_get($container-max-widths, xl) - map_get($grid-gutter-width-map, xl)) / 2});
      //}
    }

    &,
    .slider_android > & {
      transform: translate3d(0, 0, 0);
    }

    .slider_multirow > & {
      flex-wrap: wrap;
    }

    .slider_free-mode > & {
      margin: 0 auto;
      transition-timing-function: ease-out;
    }
  }

  &__slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transition-property: transform;

    &_invisible-blank {
      visibility: hidden;
    }
  }

  //&__scrollbar {
  ////&__track {
  //  position: relative;
  //  height: 80px;
  //  width: 100%;
  //  margin-top: 20px;
  //  //pointer-events: none;
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    left: 40px;
  //    right: 40px;
  //    top: 50%;
  //
  //    height: 8px;
  //    margin-top: -4px;
  //    border-radius: 4px;
  //
  //    background-color: white;
  //  }
  //}
  //&__track {
  ////&__scrollbar {
  //  width: 80px;
  //  height: 80px;
  //  min-width: 80px;
  //  border-radius: 50%;
  //  background-color: $main-color;
  //  color: white;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  //transition: $animation;
  //  cursor: grab;
  //  svg {
  //    position: absolute;
  //    top: 50%;
  //    left: 50%;
  //    transform: translate(-50%, -50%);
  //    height: 10px;
  //    width: 24px;
  //  }
  //  &:hover {
  //    background-color: #1B1B1B;
  //  }
  //  &:active {
  //    cursor: grabbing;
  //  }
  //}
  &__scrollbar {

    display: none;
    position: relative;
    width: 100%;
    height: 80px;
    //pointer-events: none;
    margin-top: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 40px;

      left: 40px;
      height: 8px;
      margin-top: -4px;

      transition: opacity .3s ease;
      border-radius: 4px;
      opacity: 0;
      background-color: white;
    }

    &.active {
      &::before {
        opacity: 1;
      }
    }

    @include media-breakpoint-only(xl) {
      display: block;
    }
  }

  &__track {
    @extend %button-reset;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    min-width: 80px;
    height: 80px;
    transition: $animation;
    border-radius: 50%;
    background-color: $main-color;
    color: white;
    cursor: grab;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 10px;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: #1b1b1b;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &__explanation {
    display: none;
    align-items: center;

    //position: relative;
    margin-top: 18px;
    color: rgba(#101010, .4);

    //width: 200px;

    font-size: 13px;
    font-weight: 500;

    letter-spacing: -.01em;
    line-height: 20px;

    > svg {
      //position: absolute;
      display: block;
    }

    > p {
      margin-bottom: 0;
      margin-left: 13px;
    }

    //&_tablet {
    //  @include media-breakpoint-only(md) {
    //    display: flex;
    //  }
    //}
    &_desktop {
      @include media-breakpoint-up(xl) {
        display: flex;
      }
    }
  }
}
