$dev-mode: true;

// Цвета
$color-red: #f4412d;
//$color-red: #00f;

// Основной цвет страницы
$main-color: $color-red;

// Шрифты
$font-family-bender: 'Bender', sans-serif;
$font-family-inter-ui: 'Inter', sans-serif;
$font-family-inter-ui-var: 'Inter var', sans-serif;

$animation: all .3s ease-out;

$transform-skew-deg: -9deg;
$skew: skew($transform-skew-deg);
$skew-reverse: skew(-$transform-skew-deg);

// Переопределение bootstrap
//
// Typography
$font-size-base: 1rem;
$font-family-base: $font-family-inter-ui;
$font-weight-base: normal;
$line-height-base: 1.5;

$h1-font-size: 60px;
$h2-font-size: 40px;

// Настройки Body _reboot
$body-bg: #f7f7f7;
$body-color: #101010;

// Настройки ссылок _reboot
$link-color: inherit;
$link-decoration: none;
$link-hover-color: $main-color;
$link-hover-decoration: none;

$grid-gutter-width: 20px;
$grid-gutter-width-xl: 24px;
$container-max-widths-xl: 1200px + $grid-gutter-width-xl;

$grid-gutter-width-map: (
  xs: 40px,
  sm: 20px,
  md: 20px,
  xl: 24px,
);
// Точки перехода
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  /*lg: 1040px,*/
  xl: 1240px,
);

$container-max-widths: (
  sm: 540px,
  md: 728px,
  /*lg: 1020px,*/
  xl: 1224px,
);

$font-path: '../fonts/';




// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                316px;
$dropdown-padding-y:                10px;
$dropdown-spacer:                   0;
$dropdown-font-size:                $font-size-base;
$dropdown-color:                    #000;
$dropdown-bg:                       #efefef;
$dropdown-border-color:             transparent;
$dropdown-border-radius:            0;
$dropdown-border-width:             0;
//$dropdown-divider-bg:               $gray-200;
//$dropdown-divider-margin-y:         $nav-divider-margin-y;
$dropdown-box-shadow:               none;

//
//
$page-padding-x: (
  xs: (map_get($grid-gutter-width-map, xs) / 2),
  md: (map_get($grid-gutter-width-map, md) / 2),
);

$page-header-padding-y: (
  xs: 19px,
  md: 25px,
  xl: 44px,
);





$custom-range-track-padding:        0 !default; // new
$custom-range-track-width:          100% !default;
$custom-range-track-height:         6px !default;
$custom-range-track-cursor:         pointer !default;
$custom-range-track-bg:             #D2D2D2 !default;
$custom-range-track-border-radius:  6px !default;
$custom-range-track-box-shadow:     0 !default;

$custom-range-connect-track-bg:           $main-color !default; // new
$custom-range-connect-track-box-shadow:   0 !default; // new

$custom-range-thumb-width:                   26px !default;
$custom-range-thumb-height:                  26px !default;
$custom-range-thumb-bg:                      #fff !default;
$custom-range-thumb-border:                  6px solid $main-color !default;
$custom-range-thumb-border-radius:           50% !default;
$custom-range-thumb-cursor:                  pointer !default; // new
$custom-range-thumb-box-shadow:              0 !default;
$custom-range-thumb-focus-box-shadow:        $custom-range-thumb-box-shadow !default;
$custom-range-thumb-active-bg:               darken(#fff, 15%) !default;
$custom-range-thumb-disabled-bg:             #adb5bd !default;



// Tooltips

$tooltip-font-size:                 12px !default;
$tooltip-max-width:                 255px !default;
$tooltip-color:                     #000 !default;
$tooltip-bg:                        #fff !default;
$tooltip-border-radius:             0 !default;
$tooltip-opacity:                   1 !default;
$tooltip-padding-y:                 14px !default;
$tooltip-padding-x:                 18px !default;
$tooltip-margin:                    0 0 0 150px !default;

$tooltip-arrow-width:               .8rem !default;
$tooltip-arrow-height:              .4rem !default;
$tooltip-arrow-color:               $tooltip-bg !default;