// Functions and Mixins
@import 'functions';
@import 'variables';
// Библиотеки и переопределения их стилей
//@import '~@fancyapps/fancybox/dist/jquery.fancybox.css';
//@import '~@fancyapps/fancybox/src/css/core.css';
@import 'libs/simplebar';
@import 'libs/owl.carousel';
// Шрифты
@import 'fonts/bender';
@import 'fonts/inter';
// Bootstrap (вроде, в голом виде)
@import 'bootstrap';
@import 'custom-grid';
// Переопределяют некоторые mixin из bootstrap
@import 'mixins';
// Спрайты из SVG Spritemap Webpack Plugin
@import 'sprites';
// Модули
@import 'iconfont';
@import 'icon';
@import 'global';
@import 'header';
@import 'footer';
@import 'slider';
@import 'modal';
@import 'tooltip';
// Страницы
@import 'main-page';
@import 'catalog';
@import 'product';
@import 'cart';
//@import 'franchise';
