@import 'variables';
@import 'functions';
//@import 'bootstrap/mixins/breakpoints';

.mini-banner {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .02em;
  background-color: $main-color;
  font: {
    family: $font-family-bender;
    style: italic;
    weight: 900;
  }

  @include mre-height-block(11px, 20px, 1);

  @media (min-width: map_get($grid-breakpoints, md)) {
    @include mre-height-block(14px, 26px);
  }
  @media (min-width: map_get($grid-breakpoints, xl)) {
    @include mre-height-block(18px, 40px);
  }
}
