$flex-enabled: true;

//.promocode-dev {
//  background: url("../img/product-card.png") center top no-repeat;
//  padding-top: 100px;
//}

.mre-promocode {
  box-sizing: border-box;

  font-family: 'Bender', 'BenderBlackItalic', Arial, sans-serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &_mb {
    margin-bottom: 20px;
  }


  &__wrapper {
    @if($flex-enabled) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    padding: 16px 21px 16px 15px;

    background: #FFFFFF;
    border: 3px dashed #F13A2A;

    white-space: nowrap;
  }

  &__note {
    background: #E3E3E3;
    padding: 12px 10px;

    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: rgba(#000, 0.4);
  }

  &__sale {
    display: inline-block;
    vertical-align: middle;

    margin-right: 18px;

    color: #F13A2A;
    line-height: normal;
    font-size: 35px;

  }
  &__text {
    display: inline-block;
    margin-right: auto;
    vertical-align: middle;
    white-space: normal;

    max-width: 90px;

    color: rgba(#000000, 0.4);
    line-height: 15px;
    font-size: 12px;

  }
  &__code {
    display: inline-block;
    margin-left: auto;
    vertical-align: middle;

    color: #000000;
    line-height: normal;
    font-size: 25px;
  }
}