$flex-enabled: true;

//.promocode-dev {
//  background: url("../img/product-card.png") center top no-repeat;
//  padding-top: 100px;
//}

.mre-promocode {
  box-sizing: border-box;

  font-family: 'Bender', 'BenderBlackItalic', Arial, sans-serif;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .02em;

  &_mb {
    margin-bottom: 20px;
  }


  &__wrapper {
    @if ($flex-enabled) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    padding: 16px 21px 16px 15px;

    white-space: nowrap;

    background: #fff;
    border: 3px dashed #f13a2a;
  }

  &__note {
    padding: 12px 10px;
    font-size: 12px;

    line-height: 15px;
    color: rgba(#000, .4);
    text-align: center;
    background: #e3e3e3;
  }

  &__sale {
    display: inline-block;

    margin-right: 18px;
    font-size: 35px;
    line-height: normal;

    color: #f13a2a;
    vertical-align: middle;

  }
  &__text {
    display: inline-block;

    max-width: 90px;
    margin-right: auto;
    font-size: 12px;
    line-height: 15px;

    color: rgba(#000, .4);
    white-space: normal;
    vertical-align: middle;

  }
  &__code {
    display: inline-block;
    margin-left: auto;
    font-size: 25px;
    line-height: normal;

    color: #000;
    vertical-align: middle;
  }
}
